@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

body,html{font-family: 'Noto Sans KR',Malgun Gothic,'Malgun Gothic', 'Outfit', sans-serif;}
*{font-family: 'Noto Sans KR', Malgun Gothic,'Malgun Gothic', 'Outfit', sans-serif;}
.input_search {font-family: 'Noto Sans KR',Malgun Gothic,'Malgun Gothic', 'Outfit', sans-serif;}
.eng {font-family:'Outfit', 'Noto Sans KR', sans-serif;}
.label {font-family:'Outfit', 'Noto Sans KR', sans-serif;}