 /* @import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css'); */

/* NanumSquare Light */
@font-face {
    font-family: 'NanumSquare';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(../font/NanumSquare/NanumSquareL.woff) format('woff');
}

/* NanumSquare Regular */
@font-face {
    font-family: 'NanumSquare';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../font/NanumSquare/NanumSquareR.woff) format('woff');
}

/* NanumSquare Bold */
@font-face {
    font-family: 'NanumSquare';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(../font/NanumSquare/NanumSquareB.woff) format('woff');
}

/* NanumSquare ExtraBold */
@font-face {
    font-family: 'NanumSquare';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(../font/NanumSquare/NanumSquareEB.woff) format('woff');
}


body,html{font-family: 'NanumSquare',Malgun Gothic,'Malgun Gothic', 'Outfit', sans-serif;}
*{font-family: 'NanumSquare', Malgun Gothic,'Malgun Gothic', 'Outfit', sans-serif;}
.input_search {font-family: 'NanumSquare',Malgun Gothic,'Malgun Gothic', 'Outfit', sans-serif;}
.eng {font-family:'Outfit', 'NanumSquare', sans-serif;}
.label {font-family:'Outfit', 'NanumSquare', sans-serif;}

input[type=password]{font-family: sans-serif;}