@import url('common.css');


/**** Visual ****/
#visual {position:relative; width:100%; overflow:hidden;}
#visual .sub_imgbox:not(:has(.slick-list)) .text_area {display:none;}
#visual .sub_imgbox:not(:has(.slick-list)) .section {display:none;}
#visual .sub_imgbox {position:relative; z-index:999; height:640px;}
#visual .Bg_svg {position:absolute; top:0; right:-15%; z-index:20; opacity:0.1;}

/* Arrows */
.slick-prev, .slick-next {position:absolute; top:50%; margin-top:-32px; font-size:0; width:65px; height:65px; outline:none; border:0; cursor:pointer; z-index:100;  transition:all 0.3s; border-radius:100%;}
.slick-prev {left:50%; margin-left:-735px; background:#fff url('/common/theme/img/main/prevArrow.png')no-repeat center; }
.slick-next {right:50%; margin-right:-735px; background:#fff url('/common/theme/img/main/nextArrow.png')no-repeat center;}

#visual .slick-list, #visual .slick-track, #visual .slick-slide {position:relative; height:100%;}
#visual .w1230 {position:relative; height:100%;}
#visual .text_area {position:absolute; top:45%; left:50%; transform:translateY(-50%); z-index:99; margin-left:-610px;}
#visual .text_area h2 {font-size:2.6rem; font-weight:bold; color:#222; letter-spacing:-1.3pt; line-height:1.2; word-break: keep-all;}

#visual .section {position:absolute; top:0; right:50%; width:45%; margin-right:-610px; height:100%; background-size:100%; background-repeat:no-repeat; background-position:center;}


/* Dots */
.sub_imgbox .slick-dots {position:absolute;  z-index:100; bottom:40px; left:50%; transform:translateX(-50%); font-size:0;}
.sub_imgbox .slick-dots li {display:inline-block; cursor: pointer; width:50px; height:5px; background:rgba(102,102,102,0.3); text-align:center; margin-right:4px;}
.sub_imgbox .slick-dots li:last-child {margin-right:0;}
.sub_imgbox .slick-dots li a {font-size:1rem; letter-spacing:-0.5pt;}
.sub_imgbox .slick-dots li button{opacity:0;}

.dot_custom .slick-dots {width:1230px; position:absolute;  z-index:100; bottom:0; left:50%; transform:translateX(-50%); display:flex; flex-wrap:wrap;justify-content:center;}
.dot_custom .slick-dots li {position: relative; cursor: pointer; width:20%; height:70px; background:rgba(255,255,255,0.7); text-align:center; margin-right:0;}
.dot_custom .slick-dots li a {font-size:1rem; letter-spacing:-0.5pt; line-height:70px; }
.dot_custom .slick-dots li.slick-active a {color:#fff;}
.dot_custom .slick-dots li button{opacity:0;}
/**** Visual ****/




/**** 공통 CSS ****/
h3.title {font-size:2.118rem; text-align:center; color:#222; letter-spacing:-1.4pt; font-weight:bold; line-height:1; margin:0 0 50px; position:relative;}
h3.title b {font-size:inherit; font-weight:inherit; letter-spacing:inherit; line-height:inherit;}
h3.title .new_icon {font-family: 'Outfit', sans-serif; width:24px; height:24px; border-radius:100%; line-height:24px; text-align:center; color:#Fff; font-size:13px; display:inline-block; font-style:normal; vertical-align:top; margin:-9px 0 0 4px;}
h3.title a {font-size:15px; letter-spacing:-0.6pt; line-height:1; font-weight:400; position:absolute; top:50%; right:0; transform:translateY(-50%);}
h3.title a::after {content:''; width:100%; height:1px; background:#9f9f9f; position:absolute; bottom:-9px; left:0;}
.stxt {font-size:1rem; letter-spacing:-0.6pt; line-height:1.8; word-break: keep-all;}
/**** 공통 CSS ****/



/**** 신규과정 ****/
.new_list {display:flex; flex-wrap:wrap;}
.new_list .item {position:relative; margin-right:30px; width:calc((100% - 90px) / 4); border:1px solid #ddd; box-sizing:border-box; border-radius:20px; background-color:#fff; margin-bottom:30px;}
.new_list .item:last-child {margin-right:0;}
.new_list .item a {position:relative; display:block; z-index:10;}
.new_list .item .img_box {width:100%; z-index:10; border-bottom:1px solid #ddd;}
.new_list .item .img_box > img {width:100%; background-position:center; background-size:cover; background-repeat:no-repeat;  border-radius:20px 20px 0 0;}
.new_list .item .con_box {position:relative; padding:30px 30px 35px; box-sizing:border-box; background:#fff; border-radius:0 0 20px 20px;}
.new_list .item .con_box span {margin:20px 0 0;}
.new_list .item .con_box h4 {font-size:1.176rem; color:#222; font-weight:300; line-height:1.3; letter-spacing:-0.6pt; word-break: keep-all; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2;
-webkit-box-orient: vertical; word-wrap:break-word; overflow:hidden; max-height: 3rem;margin-bottom:.5rem;}
.new_list .item .con_box ul {margin:13px 0;}
.new_list .item .con_box ul li {padding-left:40px; position:relative; font-size:15px; font-weight:400; letter-spacing:-0.5pt; line-height:1.2; margin:0 0 5px; border-bottom:0 !important; min-height:1rem;}
.new_list .item .con_box ul li span {color:#222; font-size:inherit; font-weight:inherit; position:absolute; top:0; left:0; letter-spacing:inherit; line-height:inherit; margin:0;}
.new_list .item:nth-child(4n) {margin-right:0;}

.new_list dl{position:relative; margin-right:30px; width:calc((100% - 90px) / 4); border:1px solid #ddd; box-sizing:border-box; border-radius:20px; background-color:#fff; margin-bottom:30px;}
.new_list dl:last-child {margin-right:0;}
.new_list dl a {position:relative; display:block; z-index:10;}
.new_list dl dt {width:100%; z-index:10; border-bottom:1px solid #ddd;}
.new_list dl dt > img {width:100%; background-position:center; background-size:cover; background-repeat:no-repeat;  border-radius:20px 20px 0 0;}
.new_list dl dd {position:relative; padding:30px 30px 35px; box-sizing:border-box; background:#fff; border-radius:0 0 20px 20px;}
.new_list dl dd span {margin:20px 0 0;}
.new_list dl dd h4 {font-size:1.176rem; color:#222; font-weight:300; line-height:1.3; letter-spacing:-0.6pt; word-break: keep-all; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2;
-webkit-box-orient: vertical; word-wrap:break-word; overflow:hidden; max-height: 3rem;margin-bottom:.5rem;}
.new_list dl dd ul {margin:13px 0;}
.new_list dl dd ul li {padding-left:40px; position:relative; font-size:15px; font-weight:400; letter-spacing:-0.5pt; line-height:1.2; margin:0 0 5px; border-bottom:0 !important; min-height:1rem;}
.new_list dl dd ul li span {color:#222; font-size:inherit; font-weight:inherit; position:absolute; top:0; left:0; letter-spacing:inherit; line-height:inherit; margin:0;}
.new_list dl:nth-child(4n) {margin-right:0;}
/**** 신규과정 ****/


/**** BEST 인기과정 ****/
/* Arrows */
.best {overflow:hidden;}
.best .slick-prev {left:-65px; margin-left:0;}
.best .slick-next {right:-95px; margin-right:0;}

.best_list {margin-left:-30px; display:none;}
.best_list .slick-track::after {content:''; display:block; clear:both;}
.best_list .item {position:relative; margin-left:30px; box-sizing:border-box; opacity:0.3; float:left; background:#fff; border-radius:20px;}
.best_list .item.slick-active {opacity:1; filter:none;}
.best_list .item .img_box {position:relative; border:1px solid #ddd; box-sizing:border-box; border-radius:20px 20px 0 0;}
.best_list .item .img_box > img {width:100%; background-position:center; background-size:cover; background-repeat:no-repeat;  border-radius:20px 20px 0 0;}
.best_list .item .con_box {position:relative; padding:30px; box-sizing:border-box; border-radius:0 0 20px 20px; border:1px solid #ddd; border-top:0;}
.best_list .item .con_box h4 {font-size:1.176rem; color:#222; font-weight:500; line-height:1; letter-spacing:-0.6pt; word-break: keep-all; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 1;
-webkit-box-orient: vertical; word-wrap:break-word; overflow:hidden; max-height: 3rem;margin-bottom:.5rem;}
.best_list .item .con_box ul {margin:15px 0;}
.best_list .item .con_box ul li {padding-left:40px; position:relative; font-size:15px; font-weight:400; letter-spacing:-0.5pt; line-height:1.2; margin:0 0 5px; border-bottom:0 !important; min-height:1rem;}
.best_list .item .con_box ul li span {color:#222; font-size:inherit; font-weight:inherit; position:absolute; top:0; left:0; letter-spacing:inherit; line-height:inherit; margin:0;}
.best_list .item .con_box .price {margin:13px 0 0;}

.best_list dl {position:relative; margin-left:30px; box-sizing:border-box; opacity:0.3; float:left; background:#fff; border-radius:20px;}
.best_list dl.slick-active {opacity:1; filter:none;}
.best_list dl dt {position:relative; border:1px solid #ddd; box-sizing:border-box; border-radius:20px 20px 0 0;}
.best_list dl dt > img {width:100%; background-position:center; background-size:cover; background-repeat:no-repeat;  border-radius:20px 20px 0 0;}
.best_list dl dd {position:relative; padding:30px; box-sizing:border-box; border-radius:0 0 20px 20px; border:1px solid #ddd; border-top:0;}
.best_list dl dd h4 {font-size:1.176rem; color:#222; font-weight:500; line-height:1; letter-spacing:-0.6pt; word-break: keep-all; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 1;
-webkit-box-orient: vertical; word-wrap:break-word; overflow:hidden; max-height: 3rem;margin-bottom:.5rem;}
.best_list dl dd ul {margin:15px 0;}
.best_list dl dd ul li {padding-left:40px; position:relative; font-size:15px; font-weight:400; letter-spacing:-0.5pt; line-height:1.2; margin:0 0 5px; border-bottom:0 !important; min-height:1rem;}
.best_list dl dd ul li span {color:#222; font-size:inherit; font-weight:inherit; position:absolute; top:0; left:0; letter-spacing:inherit; line-height:inherit; margin:0;}
.best_list dl dd .price {margin:13px 0 0;}

/**** BEST 인기과정 ****/


/**** 필터 ****/
.grayscale {
  /* Firefox 10+, Firefox on Android */
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");

  /* IE 6-9 */
  filter: gray;

  /*
    Chrome 19+,
    Safari 6+,
    Safari 6+ iOS,
    Opera 15+
  */
  -webkit-filter: grayscale(100%);
}

.grayscale.grayscale-fade {
  -webkit-transition: -webkit-filter .5s;
}

.grayscale.grayscale-fade:hover {
  -webkit-filter: grayscale(0%);
  filter: none;
}

.grayscale-replaced.grayscale-fade svg {
  opacity: 1;
  -webkit-transition: opacity .5s ease;
  transition: opacity .5s ease;
}

.grayscale-replaced.grayscale-fade:hover svg {
  opacity: 0;
}
/**** 필터 ****/




/**** 이달의 교육 일정 ****/
.planWrap {overflow:hidden;}
.planWrap .calendar {position:relative; float:left; border:1px solid #ddd; border-radius:20px; box-sizing:border-box; overflow:hidden; width:390px; margin-right:30px; padding:40px 45px; text-align:center;height:469px;background-color:#ffffff;}
.planWrap .calendar h3 {display:inline-block; font-size:1.176rem; color:#222; font-weight:bold; margin:0 0 10px;}
.planWrap .calendar .Arrow {width:9px; height:16px; display:block; position:absolute; top:47px;}
.planWrap .calendar .prevArrow {left:50%; margin-left:-95px; background:url('/common/theme/img/main/prevArrow_b.png')no-repeat center;}
.planWrap .calendar .nextArrow {right:50%; margin-right:-95px; background:url('/common/theme/img/main/nextArrow_b.png')no-repeat center;}
.planWrap .calendar table {width:100%;}
.planWrap .calendar table .red {color:#ee114f;}
.planWrap .calendar table .blue {color:#356ed5;}
.planWrap .calendar table .gray {color:#bbbbbb;}
.planWrap .calendar th {width:14%; text-align:center; font-size:14px; font-weight:400; color:#222; line-height:1; padding:13px 0;}
.planWrap .calendar td {position:relative; font-family: 'Outfit', sans-serif; width:14%; font-size:14px; text-align:center; line-height:1; padding:14px 0; font-weight:400;height:23px;} /* height:23px; 추가, 높이 고정함 */
.planWrap .calendar td a {display:block; width:100%; height:100%;}
.planWrap .calendar td i {display:block; width:4px; height:4px; border-radius:100%; position:absolute; bottom:5px; left:50%; margin-left:-2px;}

.planWrap .schedule {float:right; border:1px solid #ddd; border-radius:20px; box-sizing:border-box; overflow:hidden; width:calc(100% - 420px); height:469px; background-color:#ffffff;} /* height;411px --> 469px롤 변경 */
.planWrap .schedule dl {box-sizing:border-box; border-bottom:1px solid #ddd;}
.planWrap .schedule dl:last-child {border-bottom:0;}
.planWrap .schedule dl a {position:relative; padding:25px 100px 25px 35px; display:table; box-sizing:border-box; width:100%;}
.planWrap .schedule dl a::before {content:''; width:40px; height:40px; background-color:rgba(136,136,136,0.7); border-radius:100%; background-image:url('/common/theme/img/main/moreBtn.png'); background-repeat:no-repeat; background-position:center; position:absolute; right:45px; top:50%; transform:translateY(-20px);}
.planWrap .schedule dl dt {width:70px; display:table-cell; vertical-align:middle; font-size:15px; color:#222; font-weight:400; text-align:center;}
.planWrap .schedule dl dt b {font-size:1.176rem; font-weight:bold; color:inherit; line-height:1; margin:5px 0 0; display:block;}
.planWrap .schedule dl dd {display:table-cell; vertical-align:middle; width:calc(100% - 70px); padding-left:40px; box-sizing:border-box;}
.planWrap .schedule dl dd .today {font-family: 'Outfit', sans-serif; display:inline-block; width:65px; height:20px; line-height:20px; border-radius:50px; text-align:center; color:#fff; font-size:13px; font-weight:500; font-style:normal; position:relative; top:-2px;}
.planWrap .schedule dl dd span {padding-left:20px; font-size:15px; color:#888; font-weight:400; background:url('/common/theme/img/main/time_icon.png')no-repeat center left; line-height:1; margin:0 0 5px;margin-right:7px;}
.planWrap .schedule dl dd h4 {color:#222; letter-spacing:-0.7pt; font-weight:400; line-height:1.6; word-break:break-word;} /* word-break:break-word 추가 */
.planWrap .schedule .schedule_nodata{display:flex;align-items: center;height: 100%;justify-content: center;}

.planWrap .mCSB_scrollTools {right:8px;}

/* 포커스 애니메이션 */
.planWrap .schedule dl:focus {animation-duration:0.5s; animation-name:schedule-focus;}
@keyframes schedule-focus {
    from {
        background-color: #fffcdb !important;
        width:0;
    }

    to {
        background-color: #ffffff !important;
        width:100%;
    }
}
.planWrap .schedule dl.grayBox:focus {animation-duration:0.5s; animation-name:schedule-focus-gray;}
@keyframes schedule-focus {
    from {
        background-color: #fffcdb !important;
    }

    to {
        background-color: #f1f4f9 !important;
    }
}
/**** 이달의 교육 일정 ****/




/**** 추천과정 ****/
.recommend {font-size:0;}
.recommend .banner, .recommend .recommend_list {display:inline-block !important; vertical-align:top; width:calc((100% - 30px) / 2);}

.recommend .banner {position:relative; overflow:hidden; margin-right:30px; border-radius:20px;}
.recommend .banner li img {width:100%; background-position:center; background-repeat:no-repeat; background-size:cover;}
/* Dots */
.banner .slick-dots {position:absolute;  z-index:100; bottom:0; left:50%; transform:translateX(-50%); font-size:0; background:rgba(255,255,255,0.9); border-radius:20px 20px 0 0; padding:15px 45px;}
.banner .slick-dots li {display:inline-block; cursor:pointer; width:10px; height:10px; background:#b7b8b9; text-align:center; margin-right:10px; border-radius:100%;}
.banner .slick-dots li:last-child {margin-right:0;}
.banner .slick-dots li button{opacity:0; position:relative; z-indeX:-10;}

.recommend .recommend_list {}
.recommend .recommend_list dl {position:relative; margin:0 0 15px;}
.recommend .recommend_list dl:last-child {margin:0;}
.recommend .recommend_list dl a {display:table; width:100%; }
.recommend .recommend_list dl dt {display:table-cell; vertical-align:middle; width:184px; border-radius:20px; overflow:hidden;}
.recommend .recommend_list dl dt img {width:100%; background-position:center; background-repeat:no-repeat; background-size:cover;}
.recommend .recommend_list dl dd {display:table-cell; vertical-align:middle; width:calc(100% - 184px); padding-left:30px; box-sizing:border-box;}
.recommend .recommend_list dl dd p {font-size:15px; font-weight:400; color:#888; letter-spacing:-0.7pt; line-height:1.2;}
.recommend .recommend_list dl dd h4 {font-size:1rem; color:#222; font-weight:400; letter-spacing:-0.7pt; line-height:1; letter-spacing:-0.6pt; word-break: keep-all; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 1;
-webkit-box-orient: vertical; word-wrap:break-word; overflow:hidden; height:1rem; margin:7px 0 18px;}

.recommend .recommend_list dl dd ul {margin:13px 0;}
.recommend .recommend_list dl dd ul li {padding-left:40px; position:relative; font-size:15px; font-weight:400; letter-spacing:-0.5pt; line-height:1.2; margin:0 0 5px; border-bottom:0 !important; min-height:1rem;}
.recommend .recommend_list dl dd ul li span {color:#222; font-size:inherit; font-weight:inherit; position:absolute; top:0; left:0; letter-spacing:inherit; line-height:inherit; margin:0;}
/**** 추천과정 ****/




/**** 이벤트 배너 ****/
/*.section {width:100%; padding:60px 0;}
.section img {max-width:100%; display:block; margin:0 auto;}
.section h3 {font-size:2.6rem; text-align:center; color:#fff; !* position:absolute; top:50%; left:50%; transform:translate(-50%,-50%); *! letter-spacing:-1.5pt; line-height:1.3; margin:0 auto;}*/
.section {width:100%;}
.section img {max-width:100%; display:block; margin:0 auto;}
.section h3 {font-size:2.6rem; text-align:center; color:#fff; position:absolute; top:50%; left:50%; transform:translate(-50%,-50%); letter-spacing:-1.5pt; line-height:1.3; margin:0 auto;}
/**** 이벤트 배너 ****/


/* 이미지 바 베너 */
.img_banner_box{overflow:hidden;}
.img_banner_box .slick-dots{position:absolute;left:0;bottom:10px;width:100%;display:flex;justify-content:center;}
.img_banner_box .slick-dots li + li {margin-left:6px;}
.img_banner_box .slick-dots button{width:16px;height:16px;background-color:#fff;border-radius:8px;border:1px solid #dfdfdf;text-indent:-9999em;}
.img_banner_box .slick-dots .slick-active button{background-color:#000;border:1px solid #000;}



/**** 마이크로 러닝 추천 ****/
.micro_list {display:flex; flex-wrap:wrap;}
.micro_list dl {position:relative; width:calc((100% - 90px) / 4); margin-right:30px; text-align:center; margin-bottom:50px;}
.micro_list dl:last-child {margin-right:0;}
.micro_list dl dt {position:relative;}
.micro_list dl dt img {width:100%; background-position:center; background-repeat:no-repeat; background-size:cover; border-radius:20px;}
.micro_list dl dt .wish {bottom:auto; top:20px; right:20px;}
.micro_list dl dt .wish .svg { fill:#222 !important;}
.micro_list dl dd {font-size:1.176rem; color:#222; letter-spacing:-0.7pt; line-height:1.3; font-weight:300; word-break: keep-all; margin:25px 0 0; display:-webkit-box; -webkit-line-clamp:2; -webkit-box-orient:vertical; word-wrap:break-word; overflow:hidden;}
.micro_list dl:nth-child(4n) {margin-right:0;}
/**** 마이크로 러닝 추천 ****/





/**** 맑은 아카데미 ****/
.academy {position:relative;}
.academy .academy_bg {position:absolute; right:0; top:0; z-index:-1; width:60%; height:100%;}
.academy .w1230 {display:table;}
.academy .video_cont {width:50%; position:relative; display:table-cell; vertical-align:middle; border-radius:25px; overflow:hidden;}
.academy .video_cont a {display:block; width:100%; height:100%; position:relative; }
.academy .video_cont a::after {content:''; width:83px; height:83px; background:url('/common/theme/img/main/playBtn.png')no-repeat center; position:absolute; top:50%; left:50%; margin:-40px 0 0 -40px; z-index:50;}
.academy .video_cont img {width:100%; background-position:center; background-repeat:no-repeat; background-size:cover;}
.academy .text_cont {width:50%; display:table-cell; vertical-align:middle; padding-left:75px; box-sizing:border-box;}
.academy .text_cont h3 {font-size:2.118rem; color:#222; letter-spacing:-1pt; line-height:1; font-weight:bold;}
.academy .text_cont p {margin:20px 0 40px;}
.academy .text_cont a {display:inline-block; /* width:180px; */ height:54px; padding:0 30px 0 70px; box-sizing:border-box; line-height:54px; border-radius:50px; font-size:15px; color:#fff; letter-spacing:-0.6pt; font-weighT:400; background-image:url('/common/theme/img/main/dot_icon.png'); background-repeat:no-repeat; background-position:center left 35px; white-space: nowrap;}
/**** 맑은 아카데미 ****/




/**** 추천강사 ****/
.teacher_list {margin-left:-30px; display:none;}
.teacher_list .slick-list {overflow:hidden;}
.teacher_list .slick-prev, .teacher_list .slick-next {box-shadow:0 5px 12px rgb(0 0 0 / 5%);}
.teacher_list .slick-prev {left:-65px; margin-left:0;}
.teacher_list .slick-next {right:-95px; margin-right:0;}
.teacher_list dl {margin-left:30px; text-align:center;}
.teacher_list dl dt {border-radius:100%; overflow:hidden;}
.teacher_list dl dt img {width:100%; background-size:cover; background-repeat:no-repeat; background-position:center bottom;}
.teacher_list dl dd {margin:25px 0 0;}
.teacher_list dl dd p {letter-spacing:-0.5pt; line-height:1.4; margin:0 0 4px;}
.teacher_list dl dd h4 {font-size:1.412rem; font-weight:500; color:#222; letter-spacing:-0.7pt; line-height:1.2;}
/**** 추천강사 ****/



/**** 인기 마켓 ****/
.market_list {display:flex; flex-wrap:wrap; }
.market_list dl {position:relative; width:calc((100% - 90px) / 4); margin-right:30px; border:1px solid #ddd; box-sizing:border-box; border-radius:20px; background:#fff;  margin-bottom:30px;}
.market_list dl:last-child {margin-right:0;}
.market_list dl dt {position:relative; border-bottom:1px solid #ddd;}
.market_list dl dt img {width:100%; background-position:center; background-size:contain; background-repeat:no-repeat; border-radius:20px 20px 0 0;}
.market_list dl dd {position:relative; padding:30px 30px 35px; border-radius:0 0 20px 20px;}
.market_list dl dd h4 {font-size:1.176rem; color:#222; font-weight:300; line-height:1.3; letter-spacing:-0.7pt; word-break: keep-all; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2;
-webkit-box-orient: vertical; word-wrap:break-word; overflow:hidden; height: 3rem;}
.market_list dl dd .price {margin:22px 0 0;}
.market_list dl:nth-child(4n) {margin-right:0;}
/**** 인기 마켓 ****/



/*******************************************************************************
	@media ~1500px
*******************************************************************************/
@media all and (max-width:1500px) {

/* Arrows */
 .slick-prev {left:4%; margin-left:0;}
 .slick-next {right:4%; margin-right:0;}

#visual .text_area {left:4%; margin-left:80px;}
/* #visual .text_area h2 {font-size:2.8rem;} */
#visual .section {right:4%; width:60%; margin-right:0;}




/* Arrows */
.best .slick-prev {left:-65px;}
.best .slick-next {right:-80px;}

.best_list {margin-left:-15px; width:calc(92% - 130px); margin:0 auto;}
.best_list .item {margin-left:15px;}
/**** BEST 인기과정 ****/

.teacher_list .slick-prev, .teacher_list .slick-next {top:-60px;}
.teacher_list .slick-prev {left:30px; margin-left:0;}
.teacher_list .slick-next {right:0; margin-right:0;}



.review_list .slick-prev, .review_list .slick-next {top:-60px;}
.review_list .slick-prev {left:30px; margin-left:0;}
.review_list .slick-next {right:0; margin-right:0;}



}
/*******************************************************************************
	@media ~1300px
*******************************************************************************/
@media all and (max-width:1300px) {


.dot_custom .slick-dots {width:100%;}

.recommend .banner {width:calc(60% - 30px);}
.recommend .recommend_list {width:40%;}
.recommend .recommend_list dl dt {width:160px;}
.recommend .recommend_list dl dd {width:calc(100% - 160px); padding-left:15px;}


}
/*******************************************************************************
	@media ~1100px
*******************************************************************************/
@media all and (max-width:1024px) {

.best .slick-prev {left:-50px;}
.best .slick-next {right:-65px;}


}
/*******************************************************************************
	@media 769~980px
*******************************************************************************/
@media all and (max-width:980px) {


#visual {}
/*#visual .sub_imgbox {height:650px !important;}*/

/* Arrows */
 .slick-prev,  .slick-next {width:50px; height:50px; background-size:12px;}
 .slick-prev {left:4%; margin-left:0; }
 .slick-next {right:4%; margin-right:0;}



#visual .text_area {width:92%; left:4%; margin-left:0; top:20%; text-align:center;}
#visual .text_area h2 {font-size:2.2rem;}
#visual .section {right:4%; width:92%; background-size:65%;}



.dot_custom .slick-dots {}
.dot_custom .slick-dots li {width:20%; height:55px;}
.dot_custom .slick-dots li a {line-height:55px; }



/**** 신규과정 ****/
.new_list .item {margin-right:15px; width:calc((100% - 45px) / 4);}
.new_list .item .con_box {position:relative; padding:20px 20px 25px;}
.new_list .item .con_box span {margin:15px 0 0;}
.new_list .item .con_box h4 {font-size:1.14rem;}
.new_list .item .con_box ul li {font-size:1rem;}

.new_list dl{margin-right:15px; width:calc((100% - 45px) / 4);}
.new_list dl dd {position:relative; padding:20px 20px 25px;}
.new_list dl dd span {margin:15px 0 0;}
.new_list dl dd h4 {font-size:1.14rem;}
.new_list dl dd ul li {font-size:1rem;}

/**** 신규과정 ****/

.best_list .item .con_box {padding:20px;}
.best_list .item .con_box ul li {font-size:1rem;}
.best_list dl dd {padding:20px;}
.best_list dl dd ul li {font-size:1rem;}




/**** 이달의 교육 일정 ****/
.planWrap .calendar {width:310px; padding:40px 20px;height:435px}
	.planWrap .calendar th {font-size:13px; padding:12px 0;}
	.planWrap .calendar td {font-size:13px; padding:12px 0;}

.planWrap .schedule {width:calc(100% - 340px); height:435px;} /* height:377px --> 435px 로 변경 */
.planWrap .schedule dl a {position:relative; padding:15px 100px 15px 25px;}
.planWrap .schedule dl a::before {width:30px; height:30px; right:25px; transform:translateY(-15px);}
.planWrap .schedule dl dd {padding-left:30px;}
/**** 이달의 교육 일정 ****/



.recommend .banner {margin-bottom:50px;}
.recommend .banner, .recommend .recommend_list {display:block !important; width:100% !important;}


/**** 이벤트 배너 ****/
.section {overflow:hidden;}
.section img {max-width:100%; width:100%; position:relative; left:0%;}
.section h3 {font-size:2.4rem; letter-spacing:-1.2pt;}
/**** 이벤트 배너 ****/

/* 이미지 바 베너 */
.img_banner_box .slick-dots li + li {margin-left:4px;}
.img_banner_box .slick-dots button{width:12px;height:12px;background-color:#fff;border-radius:6px;border:1px solid #dfdfdf;text-indent:-9999em;}
.img_banner_box .section img {max-width:100%; width:100%; position:relative; left:0%;}



/**** 마이크로 러닝 추천 ****/
.micro_list dl {width:calc((100% - 45px) / 4); margin-right:15px;}
.micro_list dl dt .wish {top:15px; right:15px;}
.micro_list dl dd {font-size:1.13rem; margin:20px 0 0;}
/**** 마이크로 러닝 추천 ****/



/**** 맑은 아카데미 ****/
.academy .video_cont a::after {content:''; width:60px; height:60px; margin:-30px 0 0 -30px; background-size:100%;}
.academy .text_cont {padding-left:40px;}
.academy .text_cont h3 {font-size:1.8rem;}
.academy .text_cont p {margin:15px 0 25px;}
.academy .text_cont a {/* width:160px; */ height:50px; line-height:50px; background-position:center left 23px; background-size:15px; padding:0 25px 0 55px;}
/**** 맑은 아카데미 ****/



/**** 추천강사 ****/
.teacher_list {margin-left:-15px;}
.teacher_list dl {margin-left:15px;}
.teacher_list dl dd h4 {font-size:1.2rem;}
/**** 추천강사 ****/



/**** 인기 마켓 ****/
.market_list dl {width:calc((100% - 45px) / 4); margin-right:15px;}
.market_list dl dd {padding:20px 20px 25px;}
.market_list dl dd h4 {font-size:1.14rem;}
.market_list dl dd .price {margin:15px 0 0;}
/**** 인기 마켓 ****/








}
/*******************************************************************************
	@media 681 ~ 768px
*******************************************************************************/
@media all and (max-width:768px) {


.planWrap .calendar {display:none;}
.planWrap .schedule {width:100%; float:none;}

#visual .section {background-size:80%;}


}
/*******************************************************************************
	@media 481~680px
*******************************************************************************/
@media all and (max-width:680px) {


#visual {}
/*#visual .sub_imgbox {height:500px !important;}*/

/* Arrows */
 .slick-prev,  .slick-next {width:35px; height:35px; background-size:8px;}

#visual .text_area {top:22%; transform:translateY(-30%); text-align:center; margin-left:0;}
#visual .text_area h2 {font-size:1.8rem; line-height:1.5;}
#visual .text_area h2 br {display:none;}


.sub_imgbox .slick-dots {width:94%; bottom:30px;}
.sub_imgbox .slick-dots li {width:25px; height:3px;}
.sub_imgbox .slick-dots li a {font-size:0;}



.dot_custom .slick-dots {justify-content: center;}
.dot_custom .slick-dots li {width:25px; height:3px; margin-right:4px;}
.dot_custom .slick-dots li:last-child {margin-right:0;}
.dot_custom .slick-dots li a {font-size:0; line-height:0; height:inherit;}
.dot_custom .slick-dots li button{opacity:0;}


h3.title {font-size:2rem; margin:0 0 30px;}
h3.title a {font-size:1rem;}
h3.title .new_icon {width:18px; height:18px; line-height:18px; font-size:11px; margin:-6px 0 0 3px;}



/**** 신규과정 ****/
.new_list .item {margin-right:10px; width:calc((100% - 10px) / 2); margin-bottom:10px; border-radius:15px;}
.new_list .item:nth-child(2n) {margin-right:0;}
.new_list .item .img_box img {border-radius:15px 15px 0 0;}
.new_list .item .con_box {position:relative; padding:15px 15px 20px;}
.new_list .item .con_box span {margin:12px 0 0;}
.new_list .item .con_box h4 {font-size:1rem; max-height:2.6rem;word-break: break-all; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2;}
.new_list .item .con_box ul li {padding-left:35px;}
.best_list .item .con_box ul li {padding-left:35px;}

.new_list dl{margin-right:10px; width:calc((100% - 10px) / 2); margin-bottom:10px; border-radius:15px;}
.new_list dl:nth-child(2n) {margin-right:0;}
.new_list dl dt img {border-radius:15px 15px 0 0;}
.new_list dl dd {position:relative; padding:15px 15px 20px;}
.new_list dl dd span {margin:12px 0 0;}
.new_list dl dd h4 {font-size:1rem; max-height:2rem;word-break: break-all; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2;}
.new_list dl dd ul li {padding-left:35px;}
.best_list dl dd ul li {padding-left:35px;}


/**** 신규과정 ****/



.best .slick-prev {left:-40px;}
.best .slick-next {right:-45px;}

.best_list {margin-left:-10px; width:calc(92% - 70px); margin:0 auto;}
.best_list .item {margin-left:10px;}
.best_list .item .img_box img {border-radius:15px 15px 0 0;}
.best_list .item .con_box {padding:15px; border-radius:0 0 15px 15px;}

.best_list dl{margin-left:10px;}
.best_list dl dt img {border-radius:15px 15px 0 0;}
.best_list dl dd {padding:15px; border-radius:0 0 15px 15px;}





/**** 이달의 교육 일정 ****/
.planWrap .calendar {width:310px; padding:40px 20px;}
.planWrap .calendar th {font-size:13px; padding:12px 0;}
.planWrap .calendar td {font-size:13px; padding:12px 0;}

.planWrap .schedule {height:214px;}
.planWrap .schedule dl a {position:relative; padding:15px 70px 15px 25px;}
.planWrap .schedule dl a::before {width:30px; height:30px; right:25px; transform:translateY(-15px);}
.planWrap .schedule dl dt {width:50px; font-size:1rem;}
.planWrap .schedule dl dt b {font-size:1.14rem; margin:2px 0 0;}
.planWrap .schedule dl dd {width:calc(100% - 50px); padding-left:20px;}
.planWrap .schedule dl dd span {font-size:1rem; background-size:12px; padding-left:16px;}
.planWrap .schedule dl dd .today {width:50px; height:16px; line-height:16px; font-size:10px; margin-left:5px; top:-1px;}
/**** 이달의 교육 일정 ****/





/**** 추천과정 ****/
.recommend .banner, .recommend .recommend_list {display:block !important; width:100%;}

.recommend .banner {margin-right:0; border-radius:15px; margin-bottom:20px;}
/* Dots */
.banner .slick-dots {border-radius:15px 15px 0 0; padding:10px 20px;}
.banner .slick-dots li {width:7px; height:7px; margin-right:7px; }

.recommend .recommend_list {}
.recommend .recommend_list dl {margin:0 0 10px;}
.recommend .recommend_list dl dt {width:100px; border-radius:15px;}
.recommend .recommend_list dl dd {width:calc(100% - 100px); padding-left:15px;}
.recommend .recommend_list dl dd p {font-size:1rem; font-weight:400; color:#888; letter-spacing:-0.7pt; line-height:1.2;}
.recommend .recommend_list dl dd h4 {margin:5px 0 12px;}
/**** 추천과정 ****/


/**** 이벤트 배너 ****/
/*.section {padding:40px 0;}*/
.section img {max-width:100%; width:100%; left:0%;}
.section h3 {font-size:2rem; letter-spacing:-1pt;}
/**** 이벤트 배너 ****/

/* 이미지 바 베너 */
.img_banner_box .slick-dots li + li {margin-left:4px;}
.img_banner_box .slick-dots button{width:8px;height:8px;background-color:#fff;border-radius:4px;border:1px solid #dfdfdf;text-indent:-9999em;}
.img_banner_box .section img {max-width:100%; width:100%; position:relative; left:0%;}


/**** 마이크로 러닝 추천 ****/
.micro_list dl {width:calc((100% - 10px) / 2); margin-right:10px; margin-bottom:30px;}
.micro_list dl:nth-child(2n) {margin-right:0;}
.micro_list dl dt .wish {top:15px; right:15px;}
.micro_list dl dd {font-size:1rem; margin:15px 0 0;}
/**** 마이크로 러닝 추천 ****/




/**** 맑은 아카데미 ****/
.academy .academy_bg {width:100%; height:60%; top:auto; bottom:0;}
.academy .video_cont {display:block; width:100%;}
.academy .video_cont a::after {content:''; width:60px; height:60px; margin:-30px 0 0 -30px; background-size:100%;}
.academy .text_cont {display:block; width:100%; padding-left:0; padding-top:30px; text-align:center;}
.academy .text_cont h3 {font-size:1.4rem;}
.academy .text_cont p {margin:10px 0 20px;}
.academy .text_cont a {/* width:140px;  */height:45px; line-height:45px; background-position:center left 23px; background-size:15px; padding:0 20px 0 50px; text-align:left !important;  font-size:13px;}
/**** 맑은 아카데미 ****/




/**** 추천강사 ****/
.teacher_list .slick-prev, .teacher_list .slick-next {top:-28px;}
.teacher_list .slick-prev {left:10px;}

.teacher_list {margin-left:-10px;}
.teacher_list dl {margin-left:10px;}
.teacher_list dl dd {margin:15px 0 0;}
.teacher_list dl dd p {margin:0 0 2px;}
.teacher_list dl dd h4 {font-size:1.2rem;}
/**** 추천강사 ****/



.review_list .slick-prev {left:10px;}


/**** 인기 마켓 ****/
.market_list dl {width:calc((100% - 10px) / 2); margin-right:10px; margin-bottom:10px;}
.market_list dl:nth-child(2n) {margin-right:0;}
.market_list dl dd {padding:15px 15px 20px;}
.market_list dl dd h4 {font-size:1.14rem;}
.market_list dl dd .price {margin:15px 0 0;}
/**** 인기 마켓 ****/





}
/*******************************************************************************
	@media 361~480px
*******************************************************************************/
@media all and (max-width:480px) {


/*#visual .sub_imgbox {height:385px !important;}*/



.section h3 {font-size:1.2rem; letter-spacing:-1pt;}


}
/*******************************************************************************
	@media 361~420px
*******************************************************************************/
@media all and (max-width:420px) {


}