@import url('apply.css');


/*** 마켓 - 뷰페이지 ***/
.market_cont {position:relative; }
.market_cont .apply_view {width:calc(100% - 460px); display:block;}
.market_cont .apply_view .imgCont {display:block; width:100%; font-size:0;}
.market_cont .apply_view .imgCont .view_img {width:calc(87% - 25px); vertical-align:top;background-size:contain; background-position:center; background-repeat:no-repeat;}
.market_cont .apply_view .imgCont ul {width:13%; display:inline-block; vertical-align:top; margin-left:25px;}
.market_cont .apply_view .imgCont ul li {margin-bottom:9px; border-radius:10px; overflow:hidden; border:3px solid transparent; transition:all 0.3s;}
.market_cont .apply_view .imgCont ul li.hover {transition:all 0.3s;}
.market_cont .apply_view .imgCont ul li:last-child {margin-bottom:0;}
.market_cont .apply_view .imgCont ul li img {width:100%; background-size:contain; background-position:center; background-repeat:no-repeat;}
.market_cont .apply_view .txtCont {display:block; width:100%; padding:30px 85px 50px 0; border-bottom:1px solid #ddd; margin:0 0 20px;}
.market_cont .apply_view .txtCont .cate {position:relative; top:0; right:0; bottom:0; margin:0 0 10px;}

.market_cont .apply_table {display:block;}
.market_cont .apply_table .txtCont .v_util {bottom:65px;}

.market_cont .view_info {border:1px solid #ddd; border-radius:20px; padding:40px 35px; margin:0 0 10px; background:#fff;}
.market_cont .view_info dl:last-child {margin:0;}
.market_cont .view_info h4 {font-size:1.294rem; color:#222; font-weight:500; letter-spacing:-0.7pt; line-height:1; margin:0 0 22px;}

.market_cont .photo_list {display:block; border-top:0; padding-top:10px; margin-left:-30px;}
.market_cont .photo_list .slick-list {overflow:hidden; padding-right:5px !important;}
.market_cont .photo_list dl {margin-right:0 !important; margin-bottom:0; margin-left:30px;}

.market_cont .applyBtn {font-size:0; margin:20px 0 0;}
.market_cont .applyBtn a {width:calc((100% - 4px) / 2); font-size:1rem;}
.market_cont .applyBtn a.cart {margin-right:4px; }

.market_cont .cont_tit {margin:45px 0 10px;}
.market_cont .slick-prev {left:-5px; background:rgba(255,255,255,0.9) url('/common/theme/img/main/prevArrow.png')no-repeat center;}
.market_cont .slick-next {right:-30px; background:rgba(255,255,255,0.9) url('/common/theme/img/main/nextArrow.png')no-repeat center;}

.count_wrap {position:relative;}
.count {position:absolute; top:-5px; right:0; font-size:0;}
.count input[id="amount"] {display:inline-block; width:60px; height:37px; background:#fff; border:1px solid #ddd; box-sizing:border-box; text-align:center; border-radius:5px; font-size:15px; color:#666; font-weight:400; vertical-align:top;}
.count input::-webkit-outer-spin-button,
.count input::-webkit-inner-spin-button {-webkit-appearance: none;}
.count .count_btn {display:inline-block; font-size:0; border:1px solid #ddd; border-radius:5px; vertical-align:top; box-sizing:border-box; overflow:hidden; margin-left:2px;}
.count .count_btn a {position:relative;display:inline-block; vertical-align:top; width:35px; height:35px; background:#fff; overflow:hidden;box-sizing:border-box;}
/* .count .count_btn a.vol_up {border-right:1px solid #ddd;} */
.count .count_btn a.vol_up:before{content:'';display:block;width:1px;height:100%;position:absolute;right:0;top:0;background-color:#ddd;}
.count .count_btn a img{margin:1px;}
.market_cont .price_ver2 .total {margin:40px 0 0;}
/*** 마켓 - 뷰페이지 ***/




/**** 마이크로 러닝 추천 ****/
.micro_wrap {position:relative;}
.micro_wrap.mart100 {margin:100px 0 0;}
.micro_all .cont_util {margin:-25px 0 30px;}
.micro_wrap .dep_tit {font-size:1.765rem; color:#222; letter-spacing:-0.7pt; line-height:1; font-weight:bold; margin:0 0 40px;}

.micro_list {margin-left:-30px;}
.micro_list .item {position:relative;}
.micro_list dl{position:relative;}

.micro_list .slick-prev {left:-65px;}
.micro_list .slick-next {right:-95px;}

.micro_list::after {content:''; display:block; clear:both;}
.micro_list .slick-list {overflow:hidden;}



.micro_cont {}
.micro_cont .thum_list dl dt .wish {right:20px; bottom:20px;}
.micro_cont .thum_list dl dd {padding-right:0;}
.micro_cont .thum_list dl dd h4 {padding-left:75px;}
.micro_cont .thum_list dl dd ul {margin:45px 0 0;}


/**** 마이크로 러닝 상세 ****/
.webtv_cont h1 {position:relative; display:flex; border-bottom:1px solid #ddd; padding:20px 30px 25px; box-sizing:border-box;height:95px;align-items: center;}
.webtv_cont h1 a {display:block; position:relative;height:50px;}
.webtv_cont h1 a img {max-height:50px;}

.webtvWrap {display:flex; flex-wrap:wrap;}
.webtvWrap.close .webtv_cont {width:calc(100% - 2px);}
.webtvWrap.close .recommend_cont {width:0;}
.webtvWrap.close .recommend_cont .tab_button {background:#fff url('/common/theme/img/micro/tab_Arrow_left.png')no-repeat center; position:absolute; top:25px; left:-20px;}
.webtvWrap .webtv_cont {width:calc(100% - 575px);box-sizing:border-box;}
.webtvWrap .webtv_cont .tit_cont {position:relative; padding:30px 425px 0px 50px; box-sizing:border-box;}
.webtvWrap .webtv_cont .tit_cont .v_util {right:50px; top:85px; padding-left:115px;}
.webtvWrap .webtv_cont .tit_cont .v_util .subscribe_notice {right:auto; left:0; display:inline-block; /* vertical-align:bottom; */ z-index:50;}
.webtvWrap .webtv_cont .tit_cont .v_util .subscribe_notice .subscribe_btn {margin:0 0 12px;}
.webtvWrap .webtv_cont .tit_cont .v_util .subscribe_notice .subscribe_notice_in {width:430px; position:absolute; top:45px; right:0;}
.webtvWrap .webtv_cont .tit_cont .v_util span {position:relative; }
.webtvWrap .webtv_cont .tit_cont .v_util .bubble {position:absolute; top:-50px; left:0; display:block; font-size:15px; font-weight:400; width:74px; height:52px; background:url('/common/theme/img/micro/bubble.png')no-repeat center; text-align:center; line-height:40px; font-style:normal; transform:translateX(-30%);}
.webtvWrap .webtv_cont .tit_cont h4 {font-size:1.765rem; color:#222; font-weight:bold; letter-spacing:-1pt; line-height:1.2; margin:5px 0 20px;}
.webtvWrap .webtv_cont .tit_cont .date {font-size:0;}
.webtvWrap .webtv_cont .tit_cont .date li {position:relative; font-weight:400; letter-spacing:-0.7pt; line-height:1; display:inline-block; font-size:1rem; margin-right:60px;}
.webtvWrap .webtv_cont .tit_cont .date li::after {content:''; width:1px; height:15px; background:#bbb; position:absolute; top:6px; right:-33px;}
.webtvWrap .webtv_cont .tit_cont .date li:last-child {margin-right:0;}
.webtvWrap .webtv_cont .tit_cont .date li:last-child::after {display:none;}
.webtvWrap .webtv_cont .tit_cont .date li span {display:inline-block; font-size:inherit; margin-right:15px; color:#222;}


.estimate_state {position:absolute; top:135px; right:50px;}
.estimate_state li {display:inline-block; vertical-align:middle; font-size:15px; font-weight:400; letter-spacing:-0.7pt; margin-right:14px;}
.estimate_state li:last-child {margin-right:0;}


.webtvWrap .webtv_cont .wbt {position:relative;width:100%;padding-top:56.25%;background:#bbbbbb; text-align:center;}
.webtvWrap .webtv_cont .wbt iframe{width:100%; height:100%; position:absolute; left:0; top:0;}
.webtvWrap .webtv_cont .wbt .wbt_txt {width:100%; height:100%; position:absolute; left:0; top:0; display:flex; flex-wrap:wrap; justify-content: center; align-items: center;}
.webtvWrap .webtv_cont .wbt .wbt_txt p {font-size:1.176rem; letter-spacing:-0.6pt; line-height:1.4; color:#Fff; font-weight:500; margin:28px 0 0;}
.webtvWrap .webtv_cont .wbt .wbt_txt .applyBtn {position:relative; display:block; width:200px; height:60px; line-height:58px; border-radius:50px; background-color:#fff; color:#fff; text-align:left; letter-spacing:-0.3pt; font-weight:400; box-sizing:border-box; padding-left:35px; box-sizing:border-box; background-repeat:no-repeat; text-align:left !important; margin:30px auto 0;}
/*.webtvWrap .webtv_cont .wbt .wbt_txt .applyBtn .svg {width:20px; position:relative;  top:3px; margin-right:24px; filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(208deg) brightness(140%) contrast(101%);}*/
.webtvWrap .webtv_cont .wbt .wbt_txt .applyBtn .svg {width:20px; position:relative; margin-right:24px;}



.description {padding:50px 50px 70px; box-sizing:border-box; letter-spacing:-0.5pt; line-height:1.5;}
.description .view_file {margin-top:50px;}
.description img{max-width:100%;height:auto;}


.webtvWrap .comment_input h4 {margin:0 0 20px;}
.webtvWrap .page_num {padding-bottom:120px;}




.webtvWrap .recommend_cont {position:relative; width:575px; border-left:1px solid #ddd;background:#fff;  box-sizing:border-box; min-height:100vh; z-index:999;}
.webtvWrap .recommend_cont .recommend {overflow:hidden;}
.webtvWrap .recommend_cont .tab_button {display:block; width:20px; height:35px; border-radius:10px 0 0 10px; border:1px solid #bcbcbc; border-right:0; background:#fff url('/common/theme/img/micro/tab_Arrow.png')no-repeat center; position:absolute; top:25px; left:-20px;}
.webtvWrap .recommend_cont .recom_tit {position:relative; font-size:1.176rem; color:#222; letter-spacing:-0.7pt; line-height:1; font-weight:500; padding:30px; box-sizing:border-box; border-bottom:1px solid #ddd; overflow:hidden;}
.webtvWrap .recommend_cont .recom_tit .tab_close {position:absolute; top:50%; right:30px; width:150px; height:45px; border:1px solid #bcbcbc; border-radius:5px; line-height:43px; display:inline-block; font-size:15px; font-weight:400; letter-spacing:-0.5pt; text-align:center; transform:translateY(-50%);}
.webtvWrap .recommend_cont .recom_tit .tab_close img {width:14px; margin-right:10px;}
.recommend_in {padding:30px; box-sizing:border-box; overflow-y:auto;}
.recommend_in dl {margin:0 0 20px;}
.recommend_in dl a {display:table; width:100%;}
.recommend_in dl a dt {display:table-cell; width:180px; vertical-align:middle; border-radius:15px; overflow:hidden;}
.recommend_in dl a dt img {width:100%; background-position:center; background-repeat:no-repeat; background-size:cover;}
.recommend_in dl a dd {display:table-cell; width:calc(100% - 180px); vertical-align:middle; padding:0 25px;word-break:break-all;}
.recommend_in dl a dd h4 {color:#222; letter-spacing:-0.7pt; line-height:1.2; font-weight:300;}
.recommend_in dl a dd p {font-size:15px; font-weight:400; line-height:1.2; margin:13px 0 0;}
.recommend_in dl a dd p span {font-size:inherit; color:#222; font-weight:inherit; line-height:inherit; display:inline-block; margin-right:10px; letter-spacing:-0.5pt;}
/**** 마이크로 러닝 추천 ****/


/**** 마이페이지 - 강의실 ****/
.webtvWrap .recommend_cont .recommend ul.tabMenu {display:flex; height:20px;}
.webtvWrap .recommend_cont .recommend ul.tabMenu li {margin-right: 45px; cursor: pointer; color: #777;}
.webtvWrap .recommend_cont .recommend ul.tabMenu li.current {text-decoration: underline;}
.webtvWrap .recommend_cont .recommend div.tabItem {display:none;}
.webtvWrap .recommend_cont .recommend #chatArea {width: 100%; overflow:hidden; position:relative;}
.webtvWrap .recommend_cont .recommend div.tabItem.current {display:block;}



.process_view .webtv_cont .tit_cont {padding:22px 35px;}
.process_view .webtv_cont .tit_cont h4 {margin:0 !important;}
.blue {background:#214cbb;}
.green {background:#1eb44c;}
.red {background:#c00000;}
.white {background:#e4e7ec;}
.gray {background:#aaaaab;}
.e_state.ing {width:13px; height:15px; background:url('/common/theme/img/mypage/main/ing_icon.png')no-repeat center; border-radius:0;}

.e_state {display:inline-block; width:15px; height:15px; border-radius:100%; vertical-align:middle; margin-right:5px; position:relative; top:-1px;}

.table {}
.table dl {border-bottom:1px solid #c3c3c3; box-sizing:border-box; border-radius:0 !important;}
.table dl dt {position:relative; padding:17px 60px 17px 25px; box-sizing:border-box; color:#222; letter-spacing:-0.7pt; line-height:1.5; cursor:pointer; font-size:1rem;}
.table dl dt .svg {height:15px; position:absolute; top:50%; right:33px; transform:rotate(90deg); transition:all 0.3s; margin-top:-7px;}
.table dl dt.on .svg {transition:all 0.3s; transform:rotate(270deg);}
.table dl dd {position:relative; padding:0 25px;  display:none; border-top:0; width:100%; color:#777; box-sizing:border-box; word-break: keep-all; background:#f8f9fc; border-top:1px solid #c9c9c9;}

.table dl.no_title dd {display:block; border-top:0;}
.table dl dd .dep {position:relative; padding:18px 80px 18px 0; line-height:1.2; font-size:15px; font-weight:400; border-bottom:1px solid #eaebec; letter-spacing:-0.5pt;}

.table dl dd .dep:last-child {border-bottom:0;}

.list_tab .table dl dd {position:relative; padding:0 25px;  display:none; border-top:0; width:100%; color:#777; box-sizing:border-box; word-break: keep-all; background:#f8f9fc; border-top:1px solid #c9c9c9;}
.list_tab .table dl dd .dep {position:relative; padding:18px 80px 18px 0; line-height:1.2; font-size:15px; font-weight:400; border-bottom:1px solid #eaebec; letter-spacing:-0.5pt;}

.right_cont {position:absolute; top:50%; right:0; transform:translateY(-50%); z-index:99;}
/**** 마이페이지 - 강의실 ****/


/*******************************************************************************
	@media ~1500px
*******************************************************************************/
@media all and (max-width:1500px) {



/*** 마켓 - 뷰페이지 ***/
.market_cont .photo_list .slick-prev, .market_cont  .photo_list .slick-next  {top:-40px; background-size:12px;}
.market_cont .photo_list .slick-prev {left:auto; right:75px;}
.market_cont .photo_list .slick-next {right:0;}
/*** 마켓 - 뷰페이지 ***/



.micro_list .slick-prev, .micro_list .slick-next {top:-50px;}
.micro_list .slick-prev {left:auto; right:80px;}
.micro_list .slick-next {right:0;}


.estimate_state {position:relative; top:0; right:0; margin:10px 0 0;}
.estimate_state li {font-size:15px; margin-right:14px;}


.webtvWrap .webtv_cont {width:calc(100% - 460px);}
.webtvWrap .webtv_cont .tit_cont {padding:26px 30px;}
.webtvWrap .webtv_cont .tit_cont h4 {font-size:1.4rem; margin:5px 0 15px;}
.webtvWrap .webtv_cont .tit_cont .v_util {right:30px;}
.webtvWrap .webtv_cont .tit_cont .v_util > span {margin-left:10px;}
.webtvWrap .webtv_cont .tit_cont .date li {margin-right:30px;}
.webtvWrap .webtv_cont .tit_cont .date li:after {right:-17px;}

.description {padding:30px 30px 50px;}
.description .view_file {margin-top:30px;}

.webtvWrap .recommend_cont {width:460px;}
.recommend_in {padding:20px;}
.recommend_in dl a dt {width:120px;}
.recommend_in dl a dd {padding:0 15px;}
.recommend_in dl a dd p {margin:10px 0 0;}

.webtvWrap .webtv_cont .tit_cont .v_util {position:relative; right:0; top:0; padding:0; margin:30px 0 0;}
.webtvWrap .webtv_cont .tit_cont .v_util::after {content:''; display:block; clear:both;}
.webtvWrap .webtv_cont .tit_cont .v_util .subscribe_notice {position:relative; top:0; right:auto; left:0; display:block; float:left;}
.webtvWrap .webtv_cont .tit_cont .v_util .subscribe_notice .subscribe_btn {margin:0;}
.webtvWrap .webtv_cont .tit_cont .v_util .subscribe_notice .subscribe_notice_in { min-width:auto;position:absolute; left:0; top:45px;}
.webtvWrap .webtv_cont .tit_cont .v_util > span {float:right;}

/* 나의강의실 */
.webtvWrap .recommend_cont .recommend ul.tabMenu {height:21px;}
}
/*******************************************************************************
	@media ~1300px
*******************************************************************************/
@media all and (max-width:1300px) {





/*** 마켓 - 뷰페이지 ***/
.market_cont .apply_view {width:calc(100% - 360px);}
.market_cont .view_info {padding:30px 20px;}

.market_cont .photo_list {margin-left:-15px;}
.market_cont .photo_list dl {margin-left:15px;}

/*** 마켓 - 뷰페이지 ***/


.webtvWrap .webtv_cont {width:100%;}

.webtvWrap .recommend_cont .tab_button {display:block;}
.webtvWrap .recommend_cont .recommend {height:100%; overflow-y:auto;}
.webtvWrap .recommend_cont {position:fixed; right:0; top:0; height:100vh;}




}
/*******************************************************************************
	@media ~1100px
*******************************************************************************/
@media all and (max-width:1100px) {


}
/*******************************************************************************
	@media 769~980px
*******************************************************************************/
@media all and (max-width:980px) {

.screen {overflow:hidden;}
.screen.close {overflow:auto;}







/*** 마켓 - 뷰페이지 ***/
.market_cont .photo_list .slick-prev, .market_cont .photo_list .slick-next  {top:-25px}
.market_cont .photo_list .slick-prev {right:60px;}

.market_cont .apply_view {width:calc(100% - 300px);}

.market_cont .apply_view .imgCont .view_img {width:calc(87% - 15px);}
.market_cont .apply_view .imgCont ul {margin-left:15px;}
.market_cont .apply_view .imgCont ul li {margin-bottom:7px;}

.market_cont .view_info {padding:20px 15px;}
.market_cont .view_info h4 {font-size:1.1rem; margin:0 0 15px;}

.market_cont .gradeCont .re_num {display:block; width:100%; padding:30px 10px; margin:0 0 10px; box-sizing:border-box;}
.market_cont .gradeCont .re_graph {display:block; width:100%;}
.market_cont .gradeCont .re_graph .graph_in {margin-left:0; width:100%;}

.count input[id="amount"] {width:50px; height:30px; font-size:1rem; line-height:28px;}
.count .count_btn a {width:28px; height:28px; box-sizing:border-box;}
.count .count_btn a img {width:100%;margin:0;}

.market_cont .price_ver2 .total {margin:40px 0 0;}

.webtvWrap .webtv_cont .wbt .wbt_txt .applyBtn {width:150px; height:50px; line-height:48px;}
.webtvWrap .webtv_cont .wbt .wbt_txt .applyBtn .svg {margin-right:10px;}

/*** 마켓 - 뷰페이지 ***/


.webtv_cont h1 {padding:20px 30px; height:90px;}
.webtv_cont h1 .svg_logo {max-width:200px;}
.webtv_cont h1 img {max-width:200px;}

.micro_all .cont_util {margin:-10px 0 40px;}

.micro_cont .thum_list dl dd h4 {padding-left:65px;}
.micro_cont .thum_list dl dd p.stxt {height:3.1rem;}
.micro_cont .thum_list dl dd ul {margin:25px 0 0;}

.webtvWrap .webtv_cont {width:100% !important;}
.webtvWrap .webtv_cont .tit_cont .date li {margin-right:30px;}
.webtvWrap .webtv_cont .tit_cont .date li::after {right:-17px;}

.webtvWrap .recommend_cont {width:325px;}
.webtvWrap .recommend_cont .recom_tit {padding:20px;}
.webtvWrap .recommend_cont .recom_tit .tab_close {font-size:13px; width:120px; height:40px; line-height:38px; right:20px;}

.webtvWrap .recommend_cont dl {}
.webtvWrap .recommend_cont dl a dt {display:block; width:100%;}
.webtvWrap .recommend_cont dl a dd {display:block; width:100%; padding:15px 0 0;}
.recommend_in dl a dd p {font-size:1rem;}

.webtvWrap .page_num {padding-bottom:80px;}


/**** 마이페이지 - 강의실 ****/
.webtvWrap .recommend_cont .recommend ul.tabMenu {height:17px;}

.process_view .webtv_cont .tit_cont {padding:16px 25px;}

.e_state {width:10px; height:10px; margin-right:5px; position:relative; top:-1px;}
.e_state.ing {width:10px; height:10px; background-size:100% !important;}

.table {}
.table dl {}
.table dl dt {padding:13px 20px;}
.table dl dt .svg {right:23px;}
.table dl dd {padding:0 15px;}
.table dl dd .dep {position:relative; padding:12px 10px 0; font-size:1rem;}
.right_cont {position:relative; top:0; transform:translateY(0); margin:5px 0 0; padding-bottom:7px;}
.right_cont .date {font-size:1rem;}



}
/*******************************************************************************
	@media 681 ~ 768px
*******************************************************************************/
@media all and (max-width:768px) {



/*** 마켓 - 뷰페이지 ***/
.market_cont .apply_view {width:100% !important;}
.market_cont .apply_view .txtCont {padding:15px 70px 0 0; border-bottom:0;}
.market_cont .apply_table .txtCont .v_util {bottom:5px;}

.market_cont .apply_view .imgCont .view_img {width:calc(87% - 5px);}
.market_cont .apply_view .imgCont ul {margin-left:5px;}
.market_cont .apply_view .imgCont ul li {margin-bottom:7px;}

.market_cont .view_info {border-radius:15px; margin:20px 0 10px;}

/*** 마켓 - 뷰페이지 ***/




}
/*******************************************************************************
	@media 481~680px
*******************************************************************************/
@media all and (max-width:680px) {


/*** 마켓 - 뷰페이지 ***/
.market_cont .photo_list .slick-prev, .market_cont .photo_list .slick-next  {top:-10px}
.market_cont .photo_list .slick-prev {right:45px;}
/*** 마켓 - 뷰페이지 ***/


.micro_wrap.mart100 {margin:50px 0 0;}
.micro_wrap .dep_tit {font-size:1.5rem; margin:0 0 20px;}


.micro_list {margin-left:-10px;}
.micro_list .slick-prev, .micro_list .slick-next {top:-20px;}
.micro_list .slick-prev {right:45px;}

.micro_cont .thum_list dl dd ul {margin:15px 0 0;}


.webtv_cont h1 {padding:10px;height:60px;box-sizing:border-box;}
.webtv_cont h1 a{display: flex;height: 40px;align-items: center;}
.webtv_cont h1 .svg_logo {max-width:200px;max-height:40px;}
.webtv_cont h1 a img {width:auto;max-width:200px;max-height:40px;}


.webtvWrap .recommend_cont .tab_button {top:10px; display:block;}
.webtvWrap.close .recommend_cont .tab_button{top:10px;}
.webtvWrap .recommend_cont .recom_tit .tab_close {width:100px; height:35px; line-height:33px; font-size:11px;}
.webtvWrap .recommend_cont .recom_tit .tab_close img {margin-right:5px;}

.estimate_state li {font-size:13px; margin-right:10px;}

.webtvWrap .webtv_cont .wbt .wbt_txt img {width:80px;}
.webtvWrap .webtv_cont .wbt .wbt_txt p {margin:15px 0 0;}


.webtvWrap .webtv_cont .tit_cont .v_util {margin:15px 0 0;}


.webtvWrap .recommend_cont {width:280px;}
.recommend_in {padding:15px;}
.description {padding:15px 15px 30px;}
.description .view_file {margin-top:20px;}

.webtvWrap .webtv_cont .tit_cont {padding:20px;}

.webtvWrap .page_num {padding-bottom:50px;}

.webtvWrap .webtv_cont .wbt .wbt_txt .applyBtn {width:120px; height:44px; line-height:42px; padding-left:20px; margin:20px auto 0;}
.webtvWrap .webtv_cont .wbt .wbt_txt .applyBtn .svg {width:16px; margin-right:7px;}

/**** 마이페이지 - 강의실 ****/
.table {}
.table dl {border-radius:10px; margin:0 0 5px;}
.table dl dt .svg {height:10px; margin-top:-5px;}
.table dl dt {padding:10px 40px 10px 15px;}
.table dl dt .svg {right:18px;}
.table dl dd {padding:0 10px;}
.webtvWrap .recommend_cont .recommend ul.tabMenu {height:22px;}


}
/*******************************************************************************
	@media 361~480px
*******************************************************************************/
@media all and (max-width:480px) {

.webtvWrap .webtv_cont .tit_cont .v_util .subscribe_notice .subscribe_notice_in {width:280px;}

}
/*******************************************************************************
	@media ~360px
*******************************************************************************/
@media all and (max-width:360px) {

}
