@import url('common.css');


body {padding:15px 0; box-sizing:border-box;}

input.input {font-size:15px; width:100%; height:55px; border:1px solid #ddd; box-sizing:border-box; border-radius:10px !important; vertical-align:middle; padding:10px 20px;}
input.input2 {font-size:15px; width:150px; height:55px; border:1px solid #ddd; box-sizing:border-box; border-radius:10px !important; vertical-align:middle; padding:10px 40px 10px 10px;}
.textarea {font-size:15px; width:100%; border:1px solid #ddd; box-sizing:border-box; border-radius:5px !important; vertical-align:middle; padding:10px;}

input { appearance: none; -moz-appearance: none; -webkit-appearance: none; border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0; }
input[type="checkbox"] {display:inline-block; width:20px; height:20px; border:1px solid #bbb; border-radius:5px; position:relative; top:-3px; background:#fff;}
input[type='checkbox']:checked {background:#222 url('/common/theme/img/main/check_icon.png')no-repeat center; border:1px solid #222;}

input[type="radio"] {display:inline-block; width:20px; height:20px; border:1px solid #bbb; border-radius:100%; position:relative; top:-2px; background:#fff; margin-right:5px;}
input[type="radio"]:checked {border:5px solid #222;}


.selectBox.active {z-index:99999999;}




/**** 회원서비스 - 로그인 ****/

.login_cont {width:720px; box-sizing:border-box; border-radius:10px; position:relative; top:50%; left:50%; transform:translate(-50%,-50%); min-width:320px; padding:65px 0;}
.member_cont {width:720px; box-sizing:border-box; border-radius:10px; position:relative; top:0; left:50%; transform:translate(-50%, 0); min-width:320px; padding:65px 0;}
/*.login_cont {width:720px; box-sizing:border-box; border-radius:10px; position:relative; min-width:320px; padding:65px 0; margin:0 auto;}*/
.join_input {top:0; transform:translate(-50%,0);}
.login_cont h1 {position:relative; display:inline-block; z-index:1000;}
.login_cont h1 .svg_logo {max-height:50px;}

.login_in {width:400px; margin:0 auto;  box-sizing:border-box; text-align:center;}
.login_in h3 {font-size:1.176rem; color:#222; letter-spacing:-0.7pt; line-height:1.3; font-weight:500; margin:20px 0 30px;}

.login_input {}
.login_input > div{margin:0 0 3px;}
.login_input > .ip_submit{margin-top: 15px;}
.login_input > .ip_save{display:flex;flex-direction:row;align-items: center;font-size:14px;}
.login_input > .ip_save > input{top:0;width:18px;height:18px;}

.search_btn {height:60px; line-height:60px; width:100%; color:#fff; border:0; border-radius:10px !important;}

.login_in ul {margin:25px 0 0;}
.login_in ul li {position:relative; text-align:left; font-size:15px; font-weight:400; letter-spacing:-0.5pt; padding-left:10px; box-sizing:border-box; margin:0 0 10px;}
.login_in ul li a {position:absolute; right:0; top:0; color:#222; font-size:inherit; font-weight:inherit; letter-spacing:inherit; text-decoration:underline;}
.login_in ul li:last-child {margin:0;}
.login_in ul li:after {content:''; width:4px; height:4px; border-radius:100%; background:#777; position:absolute; top:10px; left:0;}

.sns_cont {font-size:0; margin:25px 0 0;}
.sns_cont a {display:inline-block; width:calc((100% - 10px) / 3); margin-right:5px; font-size:15px; font-weight:400; border-radius:50px; line-height:45px; padding-left:25px; box-sizing:border-box; background-repeat:no-repeat; background-position:center left 20px; color:#fff; margin-bottom:4px;}
.sns_cont a:nth-child(3n) {margin-right:0;}

.sns_cont .join label {background-image:url('/common/theme/img/member/sns_icon01.png');}
.sns_cont .naver label{background-image:url('/common/theme/img/member/sns_icon02.png'); background-color:#19ce60;}
.sns_cont .kakao label {background-image:url('/common/theme/img/member/sns_icon03.png'); background-color:#f9e000; color:#381e1f !important;}
.sns_cont .google label {background-image:url('/common/theme/img/member/sns_icon04.png'); background-color:#ffffff; border:1px solid #ddd; color:#222; color:#222 !important;}
.sns_cont .facebook label {background-image:url('/common/theme/img/member/sns_icon05.png'); background-color:#1673e8;}
.sns_cont .line label {background-image:url('/common/theme/img/member/sns_icon06.png'); background-color:#53d422;}

.sns_cont a.join {background-image:url('/common/theme/img/member/sns_icon01.png');}
.sns_cont a.naver{background-image:url('/common/theme/img/member/sns_icon02.png'); background-color:#19ce60;}
.sns_cont a.kakao {background-image:url('/common/theme/img/member/sns_icon03.png'); background-color:#f9e000; color:#381e1f !important;}
.sns_cont a.google {background-image:url('/common/theme/img/member/sns_icon04.png'); background-color:#ffffff; border:1px solid #ddd; color:#222; color:#222 !important;}
.sns_cont a.facebook {background-image:url('/common/theme/img/member/sns_icon05.png'); background-color:#1673e8;}
.sns_cont a.line {background-image:url('/common/theme/img/member/sns_icon06.png'); background-color:#53d422;}


.sns_cont dd {display:inline-block; width:calc((100% - 10px) / 3); margin-right:5px; margin-bottom:4px; box-sizing:border-box; border-radius:50px;}
.sns_cont dd:nth-child(3n) {margin-right:0;}

.sns_cont dd input[type="radio"] {display:none;}
.sns_cont dd input[type="radio"] + label {display:block; font-size:15px; font-weight:400; border-radius:50px; line-height:45px; box-sizing:border-box;  color:#fff; padding-left:25px; background-repeat:no-repeat; background-position:center left 20px; cursor:pointer;}
.sns_cont dd input[type="radio"]:checked + label {background-image:url('/common/theme/img/member/sns_check.png'); box-shadow:inset -8px 5px 10px rgb(0 0 0 / 30%); background-size:25px;}
.sns_cont dd.kakao input[type="radio"]:checked + label {background-image:url('/common/theme/img/member/sns_check_b.png');}
.sns_cont dd.google input[type="radio"]:checked + label {background-image:url('/common/theme/img/member/sns_check_b.png');}
/**** 회원서비스 - 로그인 ****/


/**** 회원서비스 - 방법선택 ****/
.process_cont {font-size:0;}
.process_cont dl {position:relative; display:inline-block; width:25%; text-align:center; vertical-align:top;}
.process_cont dl:after {content:''; width:10px; height:18px; background:url('/common/theme/img/member/pro_arrow.png')no-repeat center; position:absolute; right:-6px; top:45%; transform:translateY(-50%);}
.process_cont dl:last-child:after {display:none;}
.process_cont dl dd {font-size:15px; font-weight:400; letter-spacing:-0.6pt; line-height:1; margin:10px 0 0;}
.process_cont dl.up dd {color:#222;}

.mem_cont {margin:30px 0 0; padding:30px 0 0; position:relative; }
.mem_cont::after {content:''; width:620px; height:1px; background:#ddd; position:absolute; top:0; left:0; transform:translateX(-18%);}

.mem_tit {font-size:1.176rem; color:#222; font-weight:500; letter-spacing:-0.6pt; line-height:1.3;}
.mem_tit.center {text-align:center !important;}
.mem_tit .tx {display:block;font-size:15px; font-weight:400; color:#777; letter-spacing:-0.7pt; line-height:inherit; margin:3px 0 0;}

p.notice {font-size:15px; font-weight:400; letter-spacing:-0.6pt; line-height:1.6; margin:10px 0 15px;}
p.notice i {width:20px; height:20px; text-align:center; line-height:17px; font-style:normal; display:inline-block; border-radius:100%; box-sizing:border-box;}

.moreBtn {display:inline-block; width:200px; height:60px; border-radius:50px !important; text-align:center; line-height:56px; color:#fff; font-weight:400; letter-spacing:-0.5pt; margin:0 2px; background-color:#fff;}
/**** 회원서비스 - 방법선택 ****/



/**** 회원서비스 - 약관동의 ****/
.marb40 {margin-bottom:40px;}
.marb20 {margin-bottom:20px;}

.mem_tit.inline {}
.mem_tit.inline .tx {display:inline-block; margin:0; margin-left:11px;}

.member_cont .mem_cont {text-align:left; width:calc(100% - 80px); margin:30px 40px 0;}
.member_cont .mem_cont::after {left:0; width:100%; transform:translateX(0);}
.agree_cont h4 {font-size:1rem; color:#222; font-weight:400; letter-spacing:-0.7pt; line-height:1; margin:20px 0 10px;}
.agree_cont h4 input[type="checkbox"] {margin:0; margin-right:5px; margin-top:2px;}
.agree_in {border:1px solid #ddd; border-radius:5px;}
.agree_in dl {position:relative; border-bottom:1px solid #ddd; padding:13px 10px 15px 45px; box-sizing:border-box;}
.agree_in dl:last-child {border-bottom:0;}
.agree_in dl dt {position:Absolute; top:14px; left:14px;}
		.agree_in dl dd a {font-size:15px; font-weight:400; color:#666; letter-spacing:-0.6pt; line-height:1.4;}
		.agree_in dl dd a b {color:#e11919; font-size:inherit; font-weighT:inherit; letter-spacing:inherit; line-height:inherit;}

.certi {font-size:0; margin:20px 0 0;}
.certi button {display:inline-block; width:170px; height:50px; border:1px solid #ddd; border-radius:5px; box-sizing:border-box; line-height:48px; padding-left:50px; font-size:15px; font-weight:400; margin-right:4px; cursor:pointer; text-align:left !important;}
.certi button.on {border:1px solid #222;}
.certi button.certi_01 {background:url('/common/theme/img/member/certi_01.gif')no-repeat center left 21px;}
.certi button.certi_02 {background:url('/common/theme/img/member/certi_02.gif')no-repeat center left 16px;}
.certi button.certi_03 {background:url('/common/theme/img/member/certi_03.png')no-repeat center left 16px;}

.btn_list {text-align:center; margin:40px 0 0;}
/**** 회원서비스 - 약관동의 ****/


/**** 회원서비스 - 정보입력 ****/
.check_box {display:inline-block; vertical-align:middle; margin:5px 0 0;}
.check_box label {font-size:15px; font-weight:400; letter-spacing:-0.7pt; color:#666; margin-right:25px;}
.check_box label:last-child {margin-right:0;}


.pointColor {}
.refund_info {}
.refund_info dl {display:flex; flex-wrap:wrap; width:100%; margin:0 0 10px;}
.refund_info dl dt {width:150px; color:#222; letter-spacing:-0.6pt; line-height:1.2; font-weight:400; padding:7px 0 0;}
.refund_info dl dt.pad0 {padding:0}
.refund_info dl dd {display:flex; flex-wrap:wrap; width:calc(100% - 150px);/*  font-size:0; */ align-items:center;}
.refund_info dl dd .input {border-radius:5px !important; height:50px; margin:0 0 5px;}
.refund_info dl dd .notice_txt {font-size:0.882rem; letter-spacing:-0.3pt; line-height:1.5; margin:2px 0 3px; font-weight:400;}
.refund_info dl dd p {font-size:1rem; color:#666; font-weight:400;}
.refund_info dl dd p.pointColor {display:inline-block; vertical-align:middle; font-size:15px; margin-left:15px;}
.refund_info dl dd p.pointColor i {display:inline-block; width:20px; height:20px; border-radius:100%; text-align:center; line-height:18px; font-style:normal; margin-right:5px;}
.refund_info dl dd .selectBox {width:100% !important;}

.refund_info dl dd .sns_cont {margin:0;}
.refund_info dl dd .sns_cont a {padding-left:45px; margin:0;}

.hipen {width:15px; font-size:15px; font-weight:400; color:#666; vertical-align:middle; display:inline-block; text-align:center;}
.hipen2 {width:25px; font-size:15px; font-weight:400; color:#666; vertical-align:middle; display:inline-block; text-align:center;}
.input_num {width:calc((100% - 46px) / 3) !important;}
.input_s {width:160px !important;}
/*.input_m2 {width:calc((100% - 25px) / 2) !important;}*/
.input_m2 {width:calc((100% - 28px) / 2) !important;}
.refund_info dl dd .selectBox.input_num {width:calc((100% - 33px) / 3) !important; margin:0 0 5px}
.refund_info dl dd .selectBox.input_num select {width:100% !important;}
.refund_info dl dd .selectBox.input_m2 {width:calc((100% - 25px) / 2) !important;}
.refund_info dl dd .selectBox.input_m2 select {width:100% !important;}

.add_btn {width:120px; height:50px; border:1px solid #bcbcbc; line-height:46px; box-sizing:border-box !important; background:#fff; font-size:15px; letter-spacing:-0.5pt; font-weight:400; vertical-align:top; border-radius:5px !important;  cursor:pointer; margin-left:4px; margin-bottom:4px;}
/**** 회원서비스 - 정보입력 ****/


/**** 회원서비스 - 아이디 / 비번 ****/
.idpw_cont .mem_cont {padding:0; margin:0 40px;}
.idpw_cont .mem_cont::after {display:none;}

.tab_cont {text-align:center; font-size:0; border:1px solid #ddd; border-radius:5px;}
.tab_cont li { display:inline-block; width:50%; height:65px; box-sizing:border-box;}
.tab_cont li a {position:relative; font-size:1rem; letter-spacing:-0.6pt; display:block; left:-1px; top:-1px; display:block; width:calc(100% + 2px); height:100%; line-height:65px;}
.tab_cont li a.tab_up {background:#fff; font-weight:bold; z-index:99;}

.radio_cont {text-align:center; padding:15px; border:1px solid #ddd; box-sizing:border-box; margin:30px 0;}
.radio_cont label {display:inline-block; margin:0 15px; font-size:15px; font-weight:400; color:#666; letter-spacing:-0.5pt; cursor:pointer;}

.certi_btn {width:100%; height:50px; border:1px solid #bcbcbc; line-height:46px; box-sizing:border-box !important; background:#fff; font-size:15px; letter-spacing:-0.5pt; font-weight:400; vertical-align:top; border-radius:5px !important; cursor:pointer;}
/**** 회원서비스 - 아이디 / 비번 ****/



.info_result {text-align:center; font-size:0; padding:25px 0 20px;}
.info_result dt {display:inline-block; vertical-align:middle; font-size:1rem; color:#222; letter-spacing:-0.7pt; line-height:1; font-weight:400; margin-right:25px;}
.info_result dd {display:inline-block; vertical-align:middle; font-size:1rem; font-size:1.294rem; font-weight:bold; letter-spacing:0.2pt;}









/*******************************************************************************
	@media ~1300px
*******************************************************************************/
@media all and (max-width:1300px) {


}
/*******************************************************************************
	@media ~1100px
*******************************************************************************/
@media all and (max-width:1100px) {


}
/*******************************************************************************
	@media 769~980px
*******************************************************************************/
@media all and (max-width:980px) {


input.input {font-size:1rem; height:50px;}
input.input2 {font-size:1rem; height:50px;}


/**** 회원서비스 - 로그인 ****/
.login_cont {width:94%; top:50%;}
.search_btn {height:50px; line-height:50px;}

.login_in ul {margin:20px 0 0;}
.login_in ul li {font-size:1rem; margin:0 0 5px;}
.login_in ul li:after {width:3px; height:3px; top:8px;}

.sns_cont {margin:30px 0 0;}
.sns_cont dd input[type="radio"] + label {font-size:1rem;}
.sns_cont a {font-size:1rem;}
/**** 회원서비스 - 로그인 ****/



/**** 회원서비스 - 방법선택 ****/
.process_cont dl dd {font-size:1rem;}

.mem_cont::after {width:100%; transform:translateX(0);}

.mem_tit p {font-size:1rem;}
.moreBtn {width:170px; height:50px; line-height:50px;}

p.notice {font-size:1rem;}
/**** 회원서비스 - 방법선택 ****/

.agree_in dl dd a {font-size:1rem;}
.member_cont .mem_cont {width:calc(100% - 40px); margin:30px 20px 0;}

.add_btn {height:42px; line-height:40px;}

.refund_info dl dd .sns_cont a {width:155px;}


}
/*******************************************************************************
	@media 681 ~ 768px
*******************************************************************************/
@media all and (max-width:768px) {

}
/*******************************************************************************
	@media 481~680px
*******************************************************************************/
@media all and (max-width:680px) {


input.input {height:44px; padding:10px;}
input.input2 {height:44px;}

input[type="checkbox"] { width:16px; height:16px;}

input[type="radio"] {width:16px; height:16px;}
input[type="radio"]:checked {border:3px solid #222;}


/**** 회원서비스 - 로그인 ****/
.login_cont {padding:30px 20px; top:0%;left:3%; transform:translate(0%, 0%);}
.login_cont h1 img {width:160px;}
.login_cont h1 .svg_logo {width:160px;}

.login_in {width:100%; }
.login_in h3 {font-size:1.176rem; margin:10px 0 20px;}

.search_btn {height:44px; line-height:44px;}

.sns_cont {margin:20px 0 0;}

.sns_cont dd input[type="radio"]:checked + label {background-size:20px;}
/**** 회원서비스 - 로그인 ****/



/**** 회원서비스 - 방법선택 ****/
.process_cont dl:after {width:6px; background-size:100% !important;}
.process_cont dl dt img {width:40px;}

.mem_cont {margin:20px 0 0; padding:20px 0 0;}
.mem_tit p {margin:3px 0 0;}
.mem_tit.inline p {display:block; margin-left:0; margin-top:3px;}
.moreBtn {width:120px; height:40px; line-height:38px;}

p.notice i {width:18px; height:18px;}
/**** 회원서비스 - 방법선택 ****/

.member_cont .mem_cont {width:100%; margin:20px 0 0;}
.agree_in dl {padding:10px 5px 10px 30px; box-sizing:border-box;}
.agree_in dl dt {top:10px; left:2px;}

.certi {margin:15px 0 0;}
.certi button {width:145px; height:44px; line-height:42px; padding-left:40px; font-size:1rem;}
.certi button.certi_01 {background:url('/common/theme/img/member/certi_01.gif')no-repeat center left 15px;}
.certi button.certi_02 {background:url('/common/theme/img/member/certi_02.gif')no-repeat center left 12px / 20px;}
.certi button.certi_03 {background:url('/common/theme/img/member/certi_03.png')no-repeat center left 14px / 18px;}

.btn_list {margin:20px 0 0;}


.refund_info {}
.refund_info dl {display:block; width:100%; margin:0 0 10px;}
.refund_info dl dt {display:block; width:100%; margin:0 0 10px;}
.refund_info dl dd {display:block; width:100%;}
.refund_info dl dd .input {border-radius:5px !important; height:40px; margin:0 0 5px;}
.refund_info dl dd p.pointColor {font-size:1rem; margin-left:10px;}

.add_btn {width:100px; height:40px; line-height:38px; font-size:1rem; }
.certi_btn {width:100%; height:40px; line-height:38px; font-size:1rem; }

.input_s {width:calc(100% - 109px) !important;}
.refund_info dl dd .sns_cont a {width:140px; margin:0;}


.tab_cont li {height:45px;}
.tab_cont li a { line-height:45px;}

.radio_cont {margin:15px 0 20px; padding:7px 10px; }
.radio_cont label {font-size:1rem;}


.info_result {padding:10px 0;}


}
/*******************************************************************************
	@media 361~480px
*******************************************************************************/
@media all and (max-width:480px) {



/**** 회원서비스 - 로그인 ****/
.login_in ul li a {position:relative; display:block; text-align:right;}

.sns_cont a {width:calc((100% - 5px) / 2); margin-right:5px; line-height:40px; padding-left:25px; background-position:center left 15px; margin-bottom:3px;}
.sns_cont dd {width:calc((100% - 5px) / 2); margin-right:5px; }
.sns_cont dd input[type="radio"] + label {line-height:40px; padding-left:25px; background-position:center left 15px; margin-bottom:3px;}
.sns_cont a:nth-child(3n) {margin-right:5px;}
.sns_cont a:nth-child(2n) {margin-right:0;}

.sns_cont dd:nth-child(3n) {margin-right:5px;}
.sns_cont dd:nth-child(2n) {margin-right:0;}
/**** 회원서비스 - 로그인 ****/





}
/*******************************************************************************
	@media ~360px
*******************************************************************************/
@media all and (max-width:360px) {

}