:root {
    --point-color:#996ce1;
}

.Bg_svg {filter:invert(43%) sepia(93%) saturate(1265%) hue-rotate(230deg) brightness(95%) contrast(85%) !important;}
.Bg_svg_w {filter:invert(47%) sepia(9%) saturate(3662%) hue-rotate(219deg) brightness(92%) contrast(92%);}
.label_svg {filter:invert(40%) sepia(15%) saturate(2037%) hue-rotate(221deg) brightness(94%) contrast(91%);}
.star .svg.Bg_svg {filter:invert(43%) sepia(93%) saturate(1265%) hue-rotate(230deg) brightness(95%) contrast(85%) !important;}
.wish .svg.Bg_svg {filter:invert(43%) sepia(93%) saturate(1265%) hue-rotate(230deg) brightness(95%) contrast(85%);}

.bgColor {background-color:var(--point-color) !important;}
.pointBorder {border:1px solid var(--point-color) !important;}
.pointColor {color:var(--point-color) !important;}

li.active > a {color:var(--point-color) !important;font-weight:bold;}

.page_box ul li div.page_number_btn_on {background-color:var(--point-color) !important;border:1px solid var(--point-color) !important;}

.label {background:var(--point-color);}

.sub_imgbox .slick-dots li.slick-active {background-color:var(--point-color);}
.banner .slick-dots li.slick-active {background-color:var(--point-color);}

.grayBox {background-color:#edecfc !important;}
.grayBox_light {background-color:rgba(237,236,252,0.5) !important;}
.list_bgColor {background-color:#baaadb !important;}

#gnb .depth li a::after {filter:invert(43%) sepia(93%) saturate(1265%) hue-rotate(230deg) brightness(95%) contrast(85%) !important;}

.search_in li input[type="checkbox"]:checked + label {background-color:var(--point-color);}


.all_review a::after {background:var(--point-color);}
.all_review a::before {background:var(--point-color);}

.lnb_tab li a::after {background:var(--point-color);}
.lnb_tab li a.mPS2id-highlight {color:var(--point-color);}

.apply_view .txtCont .v_util .like.Bg_svg  {filter: invert(37%) sepia(43%) saturate(7153%) hue-rotate(230deg) brightness(96%) contrast(83%) !important;}

.market_cont .apply_view .imgCont ul li.hover {border:3px solid var(--point-color); transition:all 0.3s;}


.pie, .c100.p100 .fill, .c100.p99 .fill, .c100.p98 .fill, .c100.p97 .fill, .c100.p96 .fill, .c100.p95 .fill, .c100.p94 .fill, .c100.p93 .fill, .c100.p92 .fill, .c100.p91 .fill, .c100.p90 .fill, .c100.p89 .fill, .c100.p88 .fill, .c100.p87 .fill, .c100.p86 .fill, .c100.p85 .fill, .c100.p84 .fill, .c100.p83 .fill, .c100.p82 .fill, .c100.p81 .fill, .c100.p80 .fill, .c100.p79 .fill, .c100.p78 .fill, .c100.p77 .fill, .c100.p76 .fill, .c100.p75 .fill, .c100.p74 .fill, .c100.p73 .fill, .c100.p72 .fill, .c100.p71 .fill, .c100.p70 .fill, .c100.p69 .fill, .c100.p68 .fill, .c100.p67 .fill, .c100.p66 .fill, .c100.p65 .fill, .c100.p64 .fill, .c100.p63 .fill, .c100.p62 .fill, .c100.p61 .fill, .c100.p60 .fill, .c100.p59 .fill, .c100.p58 .fill, .c100.p57 .fill, .c100.p56 .fill, .c100.p55 .fill, .c100.p54 .fill, .c100.p53 .fill, .c100.p52 .fill, .c100.p51 .fill, .c100 .bar {border: 0.08em solid var(--point-color);}

.estimate_list dl.white a::after {background:var(--point-color) url('/common/theme/img/mypage/main/moreArrow.png')no-repeat center !important;}

.loca_cont a.home {background:var(--point-color) !important;}
.login_cont {border:10px solid #edecfc;}