@import url('apply.css');


input[type="radio"] {display:inline-block; width:20px; height:20px; border:1px solid #bbb; border-radius:100%; position:relative; top:-3px; background:#fff; margin-right:5px;}
input[type='radio']:checked {border:5px solid #222;}


/**** 결제하기 ****/
.pay_table {width:810px; border:1px solid #ddd; box-sizing:border-box; border-radius:20px; padding:0 30px;}
.pay_table .pay_line {position:relative;padding:30px 0; border-bottom:1px solid #ddd;}
.pay_table .pay_line:last-child {border-bottom:0;}
.pay_table .pay_line h3 {position:relative; font-size:1.176rem; color:#222; font-weight:500; letter-spacing:-0.7pt; line-height:1; margin:0 0 25px;}
.pay_table .pay_line h3 p {display:inline-block; font-size:15px; letter-spacing:-0.5pt; line-height:1.2; font-weight:400; color:#666;}
.pay_table .pay_line h3 label {font-size:15px; font-weight:400; letter-spacing:-0.5pt; line-height:1.4; position:absolute; top:50%; transform:translateY(-50%); right:0; color:#777;}
.pay_table .pay_line h3 label input[type="checkbox"] {margin:0; margin-right:7px; top:-1px;}
.pay_table .pay_line .h3 {position:relative; font-size:1.176rem; color:#222; font-weight:500; letter-spacing:-0.7pt; line-height:1; margin:0 0 25px;}
.pay_table .pay_line .h3 p {display:inline-block; font-size:15px; letter-spacing:-0.5pt; line-height:1.2; font-weight:400; color:#666;}
.pay_table .pay_line .h3 label {font-size:15px; font-weight:400; letter-spacing:-0.5pt; line-height:1.4; position:absolute; top:50%; transform:translateY(-50%); right:0; color:#777;}
.pay_table .pay_line .h3 label input[type="checkbox"] {margin:0; margin-right:7px; top:-1px;}
.pay_table .pay_line h4{margin-bottom:20px;color:#222;font-weight:500;}
.pay_table .pay_line ul {}
.pay_table .pay_line ul li {position:relative; color:#222; letter-spacing:-0.5pt; padding:0 160px 0 65px; margin:0 0 14px;word-break: break-word;}
.pay_table .pay_line ul li:last-child {margin:0;}
.pay_table .pay_line ul.coupon li {padding:0; margin:0 0 4px; padding-right:100px;}
.pay_table .pay_line ul li .price {position:absolute; right:0; top:50%; transform:translateY(-50%);}
.pay_table .pay_line ul li .cate {bottom:auto; right:auto; top:-3px; left:0;}
.pay_table .pay_line ul li b {font-size:15px; letter-spacing:-0.7pt; line-height:inherit; font-weight:400; display:inline-block; margin-left:5px; color:#777;}
.pay_table .pay_line .req_box .textarea{width:100%;box-sizing: border-box;resize:none;height:82px;border-radius:5px;border:1px solid #ddd;padding:8px;}
.pay_table .pay_line .req_box  p{font-size:14px; line-height:1.2; font-weight:400; color:#666;margin-top:5px;}

.pay_table .pay_line .stxt {letter-spacing:-0.5pt; line-height:2;}
.subPay_table .pay_table .pay_line ul li {padding:0 0 0 90px;}

.info_table {}
.info_table dl {display:flex; flex-wrap:wrap; width:100%; align-items:center;}
.info_table dl.mar20 {margin:0 0 20px;}
.info_table dl dt {width:130px; vertical-align:top; color:#222; letter-spacing:-0.5pt; font-weight:400; }
.info_table dl dt span {display:inline-block; margin-left:3px;}
.info_table dl dd {width:calc(100% - 130px); vertical-align:top; font-size:0;}
.info_table dl dd label {font-size:1rem; margin-right:35px; color:#666; font-weight:400; letter-spacing:-0.3pt;}
.info_table dl dd .input {font-size:15px; width:100%; height:50px; padding:10px 15px; box-sizing:border-box; border-radius:5px; border:1px solid #ddd; margin:0 0 8px;vertical-align:middle; display:inline-block;}
.info_table dl dd .input_s {width:25%;}
.info_table dl dd .input_tel {width:20%;}
.info_table dl dd .hipen {font-size:1rem; display:inline-block; width:15px; color:#666; text-align:center; font-weight:400; vertical-align:middle; margin-bottom:8px;}
.info_table dl dd .textarea {font-size:15px; width:100%; height:90px; padding:10px 15px; box-sizing:border-box; border-radius:5px; border:1px solid #ddd;}
.info_table dl dd .add_btn {width:120px; height:50px; display:inline-block; text-align:center; line-height:48px; border:1px solid #bcbcbc; border-radius:5px; font-size:15px; letter-spacing:-0.6pt; font-weight:400; box-sizing:border-box; vertical-align:middle; margin-left:4px; margin-bottom:8px;}
.info_table dl dd p {font-size:15px; color:#666; font-weight:400; letter-spacing:-0.6pt; line-height:1.5; margin:5px 0 0;}
.card_notice {font-size:15px; border-top:1px solid #ddd; letter-spacing:-0.5pt; padding:15px 0; font-weight:400; text-align:left !important; border:1px solid #ddd; border-radius:5px; padding:20px 25px; box-sizing:border-box; margin:0 0 30px;}
.total p b {top:-2px;}

.subPay_table .info_table dl dd .input_s {width:calc((100% - 45px) / 4);}
.subPay_table .info_table dl dd .input_m {width:275px;}

.couponBtn {width:115px; height:33px; line-height:33px; text-align:center; font-size:14px; color:#fff; letter-spacing:-0.5pt; font-weight:400; border-radius:5px; position:absolute; right:0; top:20px}

.pay_btn {font-size:0; margin:0 0 8px;display: flex;align-items: center;}
.pay_btn a {display: flex;align-items: center;justify-content: center;line-height:20px; width:130px; height:50px; text-align:center;font-size:15px; font-weight:400; letter-spacing:-0.6pt; border-radius:5px; border:1px solid #bcbcbc; margin-right:4px; margin-bottom:4px;box-sizing:border-box;}
/*.pay_btn a.bgColor {color:#fff;}*/
.pay_btn a.pointBorder{border-width:2px !important;}
.pay_line{}

.card_btn {font-size:0; margin:0 0 8px;display:grid;  grid-template-columns: repeat(5, 1fr); grid-gap: 4px;}
.card_btn a {display: grid;align-items:center;justify-items:center;line-height:20px; height:50px; text-align:center;font-size:15px; font-weight:400; letter-spacing:-0.6pt; border-radius:5px; border:1px solid #bcbcbc;box-sizing:border-box;}
.card_btn a.pointBorder{border-width:2px !important;}
.card_btn a img {max-width:100px;max-height:44px;}
/* .card_btn a.bgColor {color:#fff;}*/

.pay_box {}
.pay_box span {display:block; border:1px solid #ddd; box-sizing:border-box; font-size:15px; font-weight:400; letter-spacing:-0.6pt; line-height:1.7; padding:15px 25px; border-radius:5px;}
.pay_box .label_cont {display:flex; flex-wrap:wrap;}
.pay_box .label_cont label {width:25%; margin:5px 0; display:inline-block;}
.pay_box .label_cont label img {margin-left:3px;}


.price_table > h4 {font-size:1.176rem; color:#222; font-weight:500; letter-spacing:-0.7pt; line-height:1; padding:0 10px 25px;}
.price_table .agree {margin:15px 0 0; text-align:left;}
.price_table .agree p {font-size:15px; font-weight:400; letter-spacing:-0.5pt; line-height:1.5; margin:0 0 6px;}
.price_table .agree p label {font-size:inherit; font-weight:inherit; letter-spacing:inherit; line-height:inherit;}
.price_table .agree p a {color:#222; font-weight:inherit; text-decoration:underline; letter-spacing:inherit;}
.price_table .agree p input[type="checkbox"] {top:-1px; margin-right:10px;}

.pay_cont .applyBtn a {width:163px;}
.pay_cont .applyBtn a.pay {padding-left:65px; background-position:center left 30px;}




/**** 쿠폰적용 - 팝업 ****/
/*.coupon_pop {position:fixed; top:50%; left:50%; transform:translate(-50%,-80%); z-index:99999999;  transition:all 1s; opacity:0; visibility:hidden; transition:all 1s;}*/
.coupon_pop.visible {transform:translate(-50%,-50%); opacity:1; visibility:visible; transition:all 1s; transition-delay:0.3s;}
.coupon_pop .re_close {width:30px; display:block; position:absolute; top:30px; right:30px;}
.coupon_pop .re_close img {width:100%;}
.coupon_pop .coupon_in {background:#fff; border-radius:25px 25px 0 0; overflow:hidden; padding:50px 30px 50px 50px; box-sizing:border-box; width:810px;}
.coupon_pop .coupon_in h2 {font-size:1.412rem; color:#222; letter-spacing:-0.7pt; line-height:1; margin:0 0 30px;}
.coupon_pop .coupon_in h3 {font-size:1.176rem; color:#222; letter-spacing:-0.5pt; }
.coupon_pop .coupon_input {display:table; width:100%;margin:0 0 35px;}
.coupon_pop .coupon_input dt {display:table-cell; width:120px; margin-left:4px;}
.coupon_pop .coupon_input dt a {display:block; background:#222; text-align:center; color:#fff; line-height:50px; border-radius:5px; margin-left:4px; font-size:15px; font-weight:400; letter-spacing:-0.6pt;}
.coupon_pop .coupon_input dd {display:table-cell; width:calc(100% - 124px);}
.coupon_pop .coupon_input dd .input {height:50px; border:1px solid #ddd; border-radius:5px; box-sizing:border-box; width:100%;}

.coupon_pop .mCSB_scrollTools {height:100% !important; top:0 !important; }
.coupon_pop .mCustomScrollBox {padding-right:20px; box-sizing:border-box;}
.coupon_scroll {height:400px;}

.cou_cont {}
.cou_cont h4 {position:relative; font-weight:300; letter-spacing:-0.6pt; line-height:1.4; color:#222; padding:0 275px 0 65px; box-sizing:border-box; margin:15px 0;word-break: break-word;}
.cou_cont p {font-size:15px; letter-spacing:-0.5pt; font-weight:400; color:#777;margin:10px 0 5px 0;text-align: right;}
.cou_cont p b {color:#e11919;}
.cou_cont p i {display:inline-block; margin:0 10px; color:rgba(102,102,102,0.5); font-style:normal;}
.cou_cont h4 .cate {position:absolute; right:auto; bottom:auto; top:-3px; left:0;}
.cou_cont .grayBox {padding:20px 25px; box-sizing:border-box;}
.cou_cont .grayBox li {position:relative; margin:0 0 10px;}
.cou_cont .grayBox li:last-child {margin:0;}
.cou_cont .grayBox li p {position:absolute; right:0; top:50%; transform:translateY(-50%); font-weight:400; font-size:15px; letter-spacing:-0.5pt; line-height:1.3;}
.cou_cont .grayBox label {display:block; font-size:15px; color:#222; letter-spacing:-0.6pt; line-height:1.3; font-weight:400;}

.total_price {display:table; width:100%; background:#fff; border-top:1px solid #ddd; border-radius:0 0 25px 25px; margin:-2px 0 0; padding:20px 30px; box-sizing:border-box;}
.total_price h4 {display:table-cell; vertical-align:middle; width:calc(100% - 324px); font-weight:300;}
.total_price h4 i {display:inline-block; font-style:normal; letter-spacing:-0.5pt;}
.total_price h4 .price {display:inline-block; color:#e11919; margin-left:25px;}
.total_price h4 .price strong {font-size:1.412rem;}
.total_price .applyBtn {display:table-cell; vertical-align:middle; width:324px;}
.total_price .applyBtn a {width:160px;}
.total_price .applyBtn a.pay {padding-left:65px;  background-position:center left 35px;}

.subPay_table .total h4 {margin:0; padding:0; border-top:0;}
/**** 결제하기 ****/



.pay_ok_cont .total {margin:35px 0 0;}
.pay_ok_cont .total p {border:0; padding:17px 25px; box-sizing:border-box; font-size:0;}
.pay_ok_cont .total p i {position:relative; font-style:normal; width:calc((100% - 154px) / 3); font-size:1rem; display:inline-block; vertical-align:middle; text-align:left;}
.pay_ok_cont .total p b {position:absolute; right:0; top:50%; transform:translateY(-50%); width:calc(100% - 70px); text-align:right; margin:0;}
.pay_ok_cont .total p span {margin:0 25px; vertical-align:middle;}
.pay_ok_cont .total .red_s {position:relative; width:auto; top:0; transform:translateY(0);}
.pay_ok_cont .total h4 {margin:23px 0 0; padding:0;}

.subPay_table  .total::after {content:''; display:block; clear:both;}
.subPay_table  .total .pay_method {float:left; display:inline-block; font-size:15px; font-weight:400; letter-spacing:-0.5pt; line-height:1;}
.subPay_table  .total h4 {float:right; display:inline-block; margin:0 !important;}

.delivery_info {}
.delivery_info dl {display:table; width:100%; border:1px solid #ddd; margin-top:-1px;}
.delivery_info dl dt {background:#f8f9fc; display:table-cell; width:150px; text-align:center; border-right:1px solid #ddd; box-sizing:border-box; font-size:15px; color:#222; letter-spacing:-0.6pt; font-weight:400; line-height:1; padding:15px 10px;}
.delivery_info dl dd {display:table-cell; width:calc(100% - 150px); padding:15px 20px; font-size:15px; font-weight:400; color:#666; letter-spacing:-0.6pt; line-height:1.4;}

.pay_ok_cont .price_table {padding:35px 30px; margin:0;}
.pay_ok_cont .pay_ok {text-align:center;}
.pay_ok_cont .pay_ok p {font-size:1rem; letter-spacing:-0.6pt; line-height:1.6;word-break: keep-all;}
.pay_ok_cont .pay_icon {position:relative; margin:10px 0 25px;}
.pay_ok_cont .pay_icon .cart {width:83px;}
.pay_ok_cont .pay_icon .check {position:absolute; top:38%; left:51%; margin:-6px 0 0 -6px;}
.pay_ok_cont .applyBtn a {width:100% !important; margin:0; color:#fff;}



.card_option {font-size:0;display:flex;align-items: center;justify-content: space-between;}
.card_option select{width:calc(50% - 2px);height: 40px; border-radius:5px;  border: 1px solid #bcbcbc; cursor: pointer; display:inline-block; vertical-align:middle; background:#fff url('/common/theme/img/main/select_arrow.gif') no-repeat right 20px center; padding:0 35px 0 20px; font-size:15px; color:#666; font-weight:400;}
.card_info {width:130px; display:block; height:35px; border:1px solid #bcbcbc; box-sizing:border-box; border-radius:50px; line-height:33px; font-size:15px; font-weight:400; letter-spacing:-0.5pt; padding:0 3px 0 15px;background:#fff;margin-top:5px;margin-bottom:8px;}
.card_info i {width:27px; height:27px; background:#aaa; border-radius:100%; font-weight:bold; color:#fff; font-size:inherit; line-height:27px; display:inline-block; font-style:normal; text-align:center; margin-left:10px;}



/*******************************************************************************
	@media ~1300px
*******************************************************************************/
@media all and (max-width:1300px) {



/**** 결제하기 ****/
.pay_table {width:calc(100% - 350px);}
.price_ver2 .price_table {padding:30px 15px;}
.pay_cont .applyBtn a {width:150px;}
.pay_cont .applyBtn a.pay {padding-left:55px; background-position:center left 25px;}
/**** 결제하기 ****/


.pay_ok_cont .total {text-align:center;}
.pay_ok_cont .total p {padding:15px 20px;}
.pay_ok_cont .total p i {width:auto; vertical-align:middle;}
.pay_ok_cont .total p b {position:relative; transform:translateY(0); width:auto; vertical-align:middle; top:-2px; margin-left:10px;}
.pay_ok_cont .total p span {display:block; margin:10px auto; vertical-align:middle;}
.pay_ok_cont .total .red_s {position:relative; width:auto; top:0; transform:translateY(0); margin-left:0;}
.pay_ok_cont .total h4 {margin:23px 0 0; padding:0;}


.pay_box .label_cont label {width:33.33%;}


}
/*******************************************************************************
	@media ~1100px
*******************************************************************************/
@media all and (max-width:1100px) {


}
/*******************************************************************************
	@media 769~980px
*******************************************************************************/
@media all and (max-width:980px) {

/**** 결제하기 ****/
.price_ver2 .price_table {padding:20px 10px;}

.pay_table {width:calc(100% - 295px); padding:0 15px;}
.price_table > h4 {padding:0 10px 15px;}
.pay_table .pay_line {padding:20px 0;}
/*.pay_table .coupon_line{padding-right:100px;}*/
.pay_table .pay_line h3 {font-size:1.2rem; margin:0 0 15px;}
.pay_table .pay_line h3 label {font-size:14px;}
.pay_table .pay_line h4{margin:15px 0;}
.pay_table .pay_line ul li {padding:0 145px 0 55px; margin:0 0 10px;}
.pay_table .pay_line ul li .cate {top:-1px;}

.couponBtn {width:100px; height:30px; line-height:30px; font-size:13px;}
/*.coupon_line .couponBtn{top:20px;transform:translateY(0)}*/
.price_table .agree p {margin:0 0 3px; font-size:1rem;}

.pay_cont .applyBtn {margin:20px 0 0;}
.pay_cont .applyBtn a {width:123px;}


/**** 쿠폰적용 - 팝업 ****/
/*.coupon_pop {width:92%;}임시 주석 */
.coupon_pop .re_close {margin:0 auto 30px; width:30px; display:block;}
.coupon_pop .coupon_in {padding:30px 15px 30px 30px; width:100%;}
.coupon_pop .coupon_in h2 {font-size:1.3rem; margin:0 0 20px;}
.coupon_pop .coupon_in h3 {font-size:1.1rem;}
.coupon_pop .coupon_input {margin:0 0 30px;}
.coupon_pop .coupon_input dt {width:100px;}
.coupon_pop .coupon_input dt a {font-size:1rem;}
.coupon_pop .coupon_input dd {display:table-cell; width:calc(100% - 104px);}
.coupon_pop .coupon_input dd .input {height:50px; border:1px solid #ddd; border-radius:5px; box-sizing:border-box; width:100%;}

.coupon_pop .mCustomScrollBox {padding-right:15px;}
.coupon_scroll {height:300px;}

.cou_cont h4 {padding:0 275px 0 55px;}
.cou_cont h4 p {font-size:1rem;}
.cou_cont h4 .cate {top:-2px;}
.cou_cont .grayBox {padding:15px 20px;}
.cou_cont .grayBox li {position:relative; margin:0 0 10px;}
.cou_cont .grayBox li:last-child {margin:0;}
.cou_cont .grayBox li p {font-size:1rem;}
.cou_cont .grayBox label { font-size:1rem; }

.total_price {padding:15px 25px;}
.total_price h4 {width:calc(100% - 264px);}
.total_price h4 .price { margin-left:20px;}
.total_price h4 .price strong {font-size:1.3rem;}
.total_price .applyBtn {width:264px;}
.total_price .applyBtn a {width:130px;}
.total_price .applyBtn a.pay {padding-left:50px; background-position:center left 20px; margin-left: 124px;}

.coupon_pop .re_close {width:20px; top:20px; right:20px;}
/**** 결제하기 ****/



.delivery_info {}
.delivery_info dl dt {font-size:1rem; padding:10px;}
.delivery_info dl dd {font-size:1rem; padding:10px 15px;}


.pay_box .label_cont label {width:50%;}

.card_btn {grid-template-columns: repeat(4, 1fr);}


}
/*******************************************************************************
	@media 681 ~ 768px
*******************************************************************************/
@media all and (max-width:768px) {


/**** 결제하기 ****/
.pay_table {width:100%; }
.pay_table .pay_line h3 {font-size:1.1rem;}
.pay_table .pay_line h3 p {font-size:1rem;}
.pay_table .pay_line .h3 {font-size:1.1rem;}
.pay_table .pay_line .h3 p {font-size:1rem;display: block;}
.pay_table .pay_line h4 {font-size:1.1rem;}

.info_table dl dt {width:95px; padding:8px 0 0;}
.info_table dl dd .input {font-size:1rem; height:40px;}
.info_table dl dd .add_btn {height:40px; font-size:1rem; width:105px; line-height:38px;}

.couponBtn {width:80px; height:28px; line-height:28px; font-size:12px;top:10px;}

.info_table dl dd p {font-size:1rem;}

.price_ver2 .price_table {margin:20px 0 0;}



.pay_btn a {width:100%; height:40px; font-size:14px; line-height:38px;}
/**** 결제하기 ****/


.pay_ok_cont .price_table {margin:0 0 30px; padding:25px 20px;}




.pay_ok_cont .pay_icon {margin:5px 0 15px;}
.pay_ok_cont .pay_icon .cart {width:70px;}
.pay_ok_cont .pay_icon .check {width:12px; position:absolute; top:43%; left:51%; margin:-6px 0 0 -6px;}




}
/*******************************************************************************
	@media 481~680px
*******************************************************************************/
@media all and (max-width:680px) {



input[type="radio"] {width:15px; height:15px; top:-1px; }


/**** 결제하기 ****/
.info_table dl dt {display:block; width:100%; padding:10px 0;}
.info_table dl dd {display:block; width:100%;}

.pay_box span {font-size:1rem; padding:10px 15px;}
.info_table dl dd .input_tel {width:calc((100% - 30px) / 3);}

.pay_table .pay_line h3 label {font-size:12px; position:relative; transform:translateY(0); top:0; margin:7px 0 0; display:block; text-align:right;}
.pay_table .pay_line ul li b {font-size:12px; letter-spacing:-0.5pt;}
.pay_table .pay_line ul li {padding:0 0 0 55px; }
.pay_table .pay_line ul li .price {position:relative; top:0; transform:translateY(0); margin:5px 0 0;}

.subPay_table .pay_table .pay_line ul li {padding:0 0 0 75px;}
.card_notice {font-size:13px; margin:0 0 20px; padding:15px;}

.subPay_table .info_table dl dd .input_m {width:100%;}

.pay_btn{flex-wrap:wrap}
.pay_btn a {width:calc((100% - 4px) / 2); height:30px; line-height:28px; margin-bottom:4px; box-sizing:border-box;}
.pay_btn a:nth-of-type(2n) {margin-right:0;}


/**** 쿠폰적용 - 팝업 ****/
.coupon_pop .re_close {margin:0 auto 30px; width:30px;}
.coupon_pop .coupon_in {padding:20px 10px 20px 20px; border-radius:15px 15px 0 0;}
.coupon_pop .coupon_in h2 {font-size:1.2rem; margin:0 0 15px;}
.coupon_pop .coupon_in h3 {font-size:1rem;}
.coupon_pop .coupon_input {margin:0 0 20px;}
.coupon_pop .coupon_input dt {width:80px; }
.coupon_pop .coupon_input dt a {height:40px; line-height:40px;}
.coupon_pop .coupon_input dd {width:calc(100% - 84px);}
.coupon_pop .coupon_input dd .input {height:40px;}

.coupon_pop .mCustomScrollBox {padding-right:10px;}
.coupon_scroll {height:250px;}

.cou_cont h4 {padding:0 0 0 50px; margin:10px 0 2px;}
.cou_cont h4 p {font-size:1rem; position:relative; text-align:right; margin:15px 0 0;}
.cou_cont h4 .cate {vertical-align:top;}
.cou_cont .grayBox {padding:10px 15px;}
.cou_cont .grayBox li {position:relative; margin:0 0 2px;}
.cou_cont .grayBox li:last-child {margin:0;}
.cou_cont .grayBox li p {position:relative; margin:12px 0 0; padding-left:25px;}
.cou_cont .grayBox label {}

.total_price {padding:15px 25px; border-radius:0 0 15px 15px;}
.total_price h4 {display:block; width:100%; text-align:center;}
.total_price h4 .price {margin-left:20px;}
.total_price h4 .price strong {font-size:1.3rem;}
.total_price .applyBtn {display:block; width:100%; margin:10px 0 0;}
.total_price .applyBtn a {width:100px;}
.total_price .applyBtn a.pay {padding-left:35px; background-position:center left 17px;margin-left:auto;}

.coupon_pop .re_close {width:15px; top:15px; right:15px;}

.subPay_table  .total .pay_method {font-size:13px;}
/**** 결제하기 ****/


.delivery_info {}
.delivery_info dl dt {display:block; width:100%; text-align:left; border-right:0; border-bottom:1px solid #ddd;}
.delivery_info dl dd {display:block; width:100%; padding:10px;}

.card_btn {grid-template-columns: repeat(3, 1fr);}

}
/*******************************************************************************
	@media 361~480px
*******************************************************************************/
@media all and (max-width:480px) {

.pay_box .label_cont label {width:100%;}
.card_btn {grid-template-columns: repeat(2, 1fr);}

}
/*******************************************************************************
	@media ~360px
*******************************************************************************/
@media all and (max-width:360px) {

}