@font-face {
  font-family: 'malgnicon';
  src:  url('//cdn.malgnlms.com/common/font/malgnicon/malgnicon.eot?z9e24f');
  src:  url('//cdn.malgnlms.com/common/font/malgnicon/malgnicon.eot?z9e24f#iefix') format('embedded-opentype'),
    url('//cdn.malgnlms.com/common/font/malgnicon/malgnicon.ttf?z9e24f') format('truetype'),
    url('//cdn.malgnlms.com/common/font/malgnicon/malgnicon.woff?z9e24f') format('woff'),
    url('//cdn.malgnlms.com/common/font/malgnicon/malgnicon.svg?z9e24f#malgnicon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i.mg {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'malgnicon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mg-malgnsoft-tm:before {
  content: "\e900";
}
.mg-malgnsoft:before {
  content: "\e901";
}
