<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{{SYS_TITLE}}</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!--@if(IS_DEV_SERVER)--><link rel="shortcut icon" href="{{SYS_COMMON_CDN}}/sysop/favicon_devsysop.ico" /><!--/if(IS_DEV_SERVER)-->
<!--@nif(IS_DEV_SERVER)--><link rel="shortcut icon" href="{{SYS_COMMON_CDN}}/sysop/favicon_servicesysop.ico" /><!--/nif(IS_DEV_SERVER)-->
<link rel="stylesheet" type="text/css" href="{{SYS_COMMON_CDN}}/sysop/html/css/admin.css?t=20170324103400" />
<link rel="stylesheet" type="text/css" href="{{SYS_COMMON_CDN}}/common/css/fontawesome/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="{{SYS_COMMON_CDN}}/common/js/select2/css/select2.css" />
<script language="javascript" type="text/javascript" src="{{SYS_COMMON_CDN}}/common/js/jquery-1.12.3.min.js" charset="utf-8"></script>
<link href="//cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/summernote-lite.min.css" rel="stylesheet">
<script src="//cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/summernote-lite.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/lang/summernote-ko-KR.min.js"></script>
<script language="javascript" type="text/javascript" src="{{SYS_COMMON_CDN}}/common/js/common.js?t=20170324103400"></script>
<script language="javascript" type="text/javascript" src="{{SYS_COMMON_CDN}}/common/js/validate.js"></script>
<script language="javascript" type="text/javascript" src="{{SYS_COMMON_CDN}}/common/js/admin_func.js?t=20170324103400"></script>
<script language="javascript" type="text/javascript" src="{{SYS_COMMON_CDN}}/common/js/select2/js/select2.full.js"></script>
<script language="javascript" type="text/javascript" src="{{SYS_COMMON_CDN}}/common/js/select2/js/i18n/ko.js"></script>
</head>

<body marginheight="0" marginwidth="0" {{SYS_BODY_STR}}>

<!--@if(SYS_TABLE_WIDTH)-->
<table width="{{SYS_TABLE_WIDTH}}" cellpadding="0" cellspacing="0" border="0">
<!--/if(SYS_TABLE_WIDTH)-->
<!--@nif(SYS_TABLE_WIDTH)-->
<table width="800" cellpadding="0" cellspacing="0" border="0">
<!--/nif(SYS_TABLE_WIDTH)-->
<tr>
	<td style="padding:10px">
		<!--@include(BODY)-->
	</td>
</tr>
</table>

</body>
</html>

<div id="CalendarLayer" style="display:none; width:172px; height:185px; z-index:6000">
    <iframe border="0" frameborder="0" height="185" name="CalendarFrame" scrolling="no" src="" width="172"></iframe>
</div>

<iframe name="sysfrm" id="sysfrm" frameborder="0" width="0" height="0" src=""></iframe>

<script>
try {
	<!--@nif(choice_block)-->
    SetCookie("PREPAGE", "../sysop/vod/", "", "/");
    SetCookie("PREPAGE10", document.URL, "", "/");
	<!--/nif(choice_block)-->
	<!--@if(choice_block)-->
    SetCookie("PREPAGE20", document.URL, "", "/");
	<!--/if(choice_block)-->
    HtmlConvertor();
} catch(e) { console.log(e); }
</script>