<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{{SYS_TITLE}}</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!--@if(IS_DEV_SERVER)--><link rel="shortcut icon" href="{{SYS_COMMON_CDN}}/sysop/favicon_devsysop.ico" /><!--/if(IS_DEV_SERVER)-->
<!--@nif(IS_DEV_SERVER)--><link rel="shortcut icon" href="{{SYS_COMMON_CDN}}/sysop/favicon_servicesysop.ico" /><!--/nif(IS_DEV_SERVER)-->
<link rel="stylesheet" type="text/css" href="{{SYS_COMMON_CDN}}/sysop/html/css/admin.css?t={{SYS_TODAY}}151901" />
<link rel="stylesheet" type="text/css" href="{{SYS_COMMON_CDN}}/common/css/fontawesome/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="{{SYS_COMMON_CDN}}/common/js/select2/css/select2.css" />
<link rel="stylesheet" type="text/css" href="{{SYS_COMMON_CDN}}/common/js/colorpicker/css/colorpicker.css" media="screen" />
<link rel="stylesheet" type="text/css" href="{{SYS_COMMON_CDN}}/common/js/jquery-ui-1.12.1-base_malgncustom.css?t={{SYS_TODAY}}134301">
<script language="javascript" type="text/javascript" src="{{SYS_COMMON_CDN}}/common/js/jquery-1.12.3.min.js" charset="utf-8"></script>
<script language="javascript" type="text/javascript" src="{{SYS_COMMON_CDN}}/common/js/jquery-ui-1.12.1_malgncustom.js?t={{SYS_TODAY}}134301"></script>
<!-- <script language="javascript" type="text/javascript" src="/common/js/jquery.pjax-1.9.6.js" charset="utf-8"></script> -->
<script language="javascript" type="text/javascript" src="{{SYS_COMMON_CDN}}/common/ace/ace.js"></script>
<link href="//cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/summernote-lite.min.css" rel="stylesheet">
<script src="//cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/summernote-lite.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/lang/summernote-ko-KR.min.js"></script>
<script language="javascript" type="text/javascript" src="/common/js/common.js?t={{SYS_TODAY}}22051701"></script>
<script language="javascript" type="text/javascript" src="{{SYS_COMMON_CDN}}/common/js/validate.js"></script>
<script language="javascript" type="text/javascript" src="{{SYS_COMMON_CDN}}/common/js/admin_func.js?t={{SYS_TODAY}}165001"></script>
<script language="javascript" type="text/javascript" src="{{SYS_COMMON_CDN}}/common/js/select2/js/select2.full.js"></script>
<script language="javascript" type="text/javascript" src="{{SYS_COMMON_CDN}}/common/js/select2/js/i18n/ko.js"></script>
<script language="javascript" type="text/javascript" src="{{SYS_COMMON_CDN}}/common/js/colorpicker/js/colorpicker.js"></script>
<style type="text/css">
html, body { overflow:hidden; }

<!--@if(SYS_TABLE_WIDTH)-->
#sys-contents { width:{{SYS_TABLE_WIDTH}}px; min-width:{{SYS_TABLE_WIDTH}}px; max-width:{{SYS_TABLE_WIDTH}}px; }
<!--/if(SYS_TABLE_WIDTH)-->

<!--@if(noframe)-->
#sys-frame-top {height: 60px; display: none;}
#sys-frame-bottom {position: absolute; display: block; height: auto; bottom: 0; top: 0; left: 0; right: 0; margin: 0;}
#sys-frame-menu {position: absolute; left: 0px; width: 250px; height: 100%; border: 0; display: none;}
#sys-frame-main {margin: 0; height: 100%;}
<!--/if(noframe)-->
</style>
</head>

<body marginheight="0" marginwidth="0">
<!--@if(noframe)-->
<div id="sys-frame-top">
	<!--@nif(code)--><!-- @execute(../main/top.jsp?mode=clear&mid={{Menu.gnb_id}}&lnb={{Menu.id}})--><!--/nif(code)-->
	<!--@if(code)--><!-- @execute(../main/top.jsp?mode=clear&mid={{Menu.gnb_id}}&lnb={{code}})--><!--/if(code)-->
</div>
<div id="sys-frame-bottom">
	<iframe id="sys-frame-menu" src="../main/menu2.jsp?mid={{Menu.gnb_id}}&lnb={{Menu.id}}{{code}}" frameborder="0"></iframe>
	<div id="sys-frame-main">
<!--/if(noframe)-->
	<div id="sys-breadcrumb">
		<button id="sys-breadcrumb-arrow" type="button" onclick="javascript:Toggle();"><i class="fa fa-angle-left"></i></button>
		<div id="sys-page-title">
			<span id="sys-page-title-nm">{{p_title}}</span>
			<!-- <a id="sys-page-title-shortcut" href="javascript:addShortcut();"><i class="fa fa-star"></i></a> -->
			<button type="button" class="btn_simp yellow" onclick="addShortcut();"><i class="fa fa-star"></i> 퀵메뉴추가</a>
			<!--@if(SYS_MENU_MANUAL_ID)-->
			<button type="button" class="btn_simp green" onclick="OpenWindow('../manual/?mid={{SYS_MENU_MANUAL_ID}}', '_MANUAL', 1500, 1100);"><i class="fa fa-question-circle"></i> 동영상가이드</button>
			<!--/if(SYS_MENU_MANUAL_ID)-->
		</div>
		<div id="sys-page-util">
			<a id="sys-page-util-refresh" href="javascript:window.location.reload(true);"><i class="fa fa-retweet"></i></a>
		</div>
	</div>
	<div id="sys-wrap">
		<div id="sys-scroll">
			<div id="alert_area"></div>
			<div id="sys-contents">
				<!--@include(BODY)-->
				<div id="CalendarLayer" style="display:none; width:172px; height:185px; z-index:6000">
					<iframe border="0" frameborder="0" height="185" name="CalendarFrame" scrolling="no" src="" width="172"></iframe>
				</div>
				<div style="display:none;">
					<iframe name="sysfrm" id="sysfrm" frameborder="0" width="100%" height="500" src=""></iframe>
				</div>
			</div>
		</div>
	</div>
<!--@if(noframe)-->
	</div>
</div>
<!--/if(noframe)-->
</body>
</html>


<script>
try {
    SetCookie("PREPAGE", document.URL, "", "/");
    HtmlConvertor();
} catch(e) { console.log(e); }

$(document).ready(function() {
	if(!top.document.getElementById("_MFRM")) {
		$("#sys-breadcrumb-arrow").html("<i class=\"fa fa-minus\" style=\"font-size:12px;\"></i>");
/*
		$("#sys-frame-top").show();
		$("#sys-frame-bottom").css("margin-top", "60px");
		$("#sys-frame-menu").show();
		$("#sys-frame-main").css("margin-left", "250px");
*/
	}
});

<!--@if(noframe)-->
if(!top.document.getElementById("_MFRM")) {
	document.getElementById("sys-frame-top").style.display = "block";
	document.getElementById("sys-frame-bottom").style.marginTop = "60px";
	document.getElementById("sys-frame-menu").style.display = "block";
	document.getElementById("sys-frame-main").style.marginLeft = "250px";
}
<!--/if(noframe)-->

$(window).load(function() {
	$(".l_tr_even, .l_tr_odd, .l_tr_notice").hover(function() {
		$(this).addClass("l_tr_hover");
	}, function() {
		$(this).removeClass("l_tr_hover");
	});

	$.fn.select2.defaults.set('language', 'ko');
	$(".js-example-basic-single").select2();
	<!--@if(noframe)-->
	//$('[title]').css('cursor', 'help');
	//$('[title]').wrapInner('<span style="border-bottom:1px dotted;"></span>');
	//$('[title] a').css('border-bottom', '1px dotted');
	<!--/if(noframe)-->
});

var sys_userkind = '{{SYS_USERKIND}}';
var is_auth_crm = {{IS_AUTH_CRM}};
var status = "open";

function Toggle() {
	var el = top.document.getElementById("_MFRM");
	if(!el) return;
    if(status == "open") {
	    el.cols = "0,*";
		document.getElementById("sys-breadcrumb-arrow").innerHTML = "<i class=\"fa fa-angle-right\"></i>";
        status = "close";
    } else {
		el.cols = "250,*";
		document.getElementById("sys-breadcrumb-arrow").innerHTML = "<i class=\"fa fa-angle-left\"></i>";
		status = "open";
	}
	parent.calcSize();
    return;
}
function addShortcut() {
	var url = location.href;
	var link = url.substring(url.indexOf("/sysop/"), url.length);
	OpenLayer('../shortcut/pop_shortcut_insert.jsp?type=U&snm=' + escape($("#sys-page-title-nm").html().replace(/(<([^>]+)>)/ig,"")) + '&link=' + escape(link) + '&target=_Main', '_FVIS', 700, 300);
}

//개인정보
<!--@if(SYS_BLINDUSER)-->var sys_blinduser = true;<!--/if(SYS_BLINDUSER)-->
<!--@nif(SYS_BLINDUSER)-->var sys_blinduser = false;<!--/nif(SYS_BLINDUSER)-->

call("/sysop/main/call_blind.jsp");

</script>