<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{{SYS_TITLE}}</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!--@if(IS_DEV_SERVER)--><link rel="shortcut icon" href="{{SYS_COMMON_CDN}}/sysop/favicon_devsysop.ico" /><!--/if(IS_DEV_SERVER)-->
<!--@nif(IS_DEV_SERVER)--><link rel="shortcut icon" href="{{SYS_COMMON_CDN}}/sysop/favicon_servicesysop.ico" /><!--/nif(IS_DEV_SERVER)-->
<link rel="stylesheet" type="text/css" href="{{SYS_COMMON_CDN}}/sysop/html/css/admin.css?t={{SYS_TODAY}}165001" />
<link rel="stylesheet" type="text/css" href="{{SYS_COMMON_CDN}}/common/css/fontawesome/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="{{SYS_COMMON_CDN}}/common/js/select2/css/select2.css" />
<link rel="stylesheet" type="text/css" href="{{SYS_COMMON_CDN}}/common/js/colorpicker/css/colorpicker.css" media="screen" />
<link rel="stylesheet" type="text/css" href="{{SYS_COMMON_CDN}}/common/js/codemirror/lib/codemirror.css" />
<link rel="stylesheet" type="text/css" href="{{SYS_COMMON_CDN}}/common/js/jquery-ui-1.12.1-base_malgncustom.css?t={{SYS_TODAY}}134301">
<script language="javascript" type="text/javascript" src="{{SYS_COMMON_CDN}}/common/js/jquery-1.12.3.min.js" charset="utf-8"></script>
<script language="javascript" type="text/javascript" src="{{SYS_COMMON_CDN}}/common/js/jquery-ui-1.12.1_malgncustom.js?t={{SYS_TODAY}}165001"></script>
<script language="javascript" type="text/javascript" src="{{SYS_COMMON_CDN}}/common/ace/ace.js"></script>
<link href="//cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/summernote-lite.min.css" rel="stylesheet">
<script src="//cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/summernote-lite.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/lang/summernote-ko-KR.min.js"></script>
<script language="javascript" type="text/javascript" src="{{SYS_COMMON_CDN}}/common/js/common.js?t={{SYS_TODAY}}165001"></script>
<script language="javascript" type="text/javascript" src="{{SYS_COMMON_CDN}}/common/js/validate.js"></script>
<script language="javascript" type="text/javascript" src="{{SYS_COMMON_CDN}}/common/js/admin_func.js?t={{SYS_TODAY}}165001"></script>
<script language="javascript" type="text/javascript" src="{{SYS_COMMON_CDN}}/common/js/select2/js/select2.full.js"></script>
<script language="javascript" type="text/javascript" src="{{SYS_COMMON_CDN}}/common/js/select2/js/i18n/ko.js"></script>
<script language="javascript" type="text/javascript" src="{{SYS_COMMON_CDN}}/common/js/colorpicker/js/colorpicker.js"></script>
<script language="javascript" type="text/javascript" src="{{SYS_COMMON_CDN}}/common/js/codemirror/lib/codemirror.js"></script>
<script language="javascript" type="text/javascript" src="{{SYS_COMMON_CDN}}/common/js/codemirror/addon/selection/selection-pointer.js"></script>
<script language="javascript" type="text/javascript" src="{{SYS_COMMON_CDN}}/common/js/codemirror/mode/xml/xml.js"></script>
<script language="javascript" type="text/javascript" src="{{SYS_COMMON_CDN}}/common/js/codemirror/mode/javascript/javascript.js"></script>
<script language="javascript" type="text/javascript" src="{{SYS_COMMON_CDN}}/common/js/codemirror/mode/css/css.js"></script>
<script language="javascript" type="text/javascript" src="{{SYS_COMMON_CDN}}/common/js/codemirror/mode/vbscript/vbscript.js"></script>
<script language="javascript" type="text/javascript" src="{{SYS_COMMON_CDN}}/common/js/codemirror/mode/htmlmixed/htmlmixed.js"></script>
<style type="text/css">
.a_tb01 { width: 100%; }
.t_tb01 { width: 100%; }
</style>
</head>

<body marginheight="0" marginwidth="0">
<div id="alert_area"></div>
<table width="100%" cellpadding="0" cellspacing="0" border="0">
<tr>
    <td>

		<table id="p_title_pop" cellpadding="0" cellspacing="0" width="100%" border="0" style="table-layout:fixed;background:url(../html/images/admin/common/line_bg.gif) repeat-x bottom;">
		<tr height="42">
			<td style="padding-left:5px;">
				<b style="font-family:Dotum, 돋움, Arial;font-size:17px;">
					<div id="_ttl_"><div class="blt"><!----></div><div>{{p_title}}</div></div>
				</b>
			</td>
		</tr>
		</table>

		<table width="100%" cellpadding="0" cellspacing="0">
		<tr>
			<td style="padding:10px">
			<!--@include(BODY)-->
			</td>
		</tr>
		</table>

    </td>
</tr>
</table>

</body>
</html>

<div id="CalendarLayer" style="display:none; width:172px; height:185px; z-index:6000">
    <iframe border="0" frameborder="0" height="185" name="CalendarFrame" scrolling="no" src="" width="172"></iframe>
</div>

<iframe name="sysfrm" id="sysfrm" frameborder="0" width="100%" height="0" src=""></iframe>

<script>
try { HtmlConvertor(); } catch(e) { console.log(e); }

$(window).load(function() {
	$(".l_tr_even, .l_tr_odd, .l_tr_notice").hover(function() {
		$(this).addClass("l_tr_hover");
	}, function() {
		$(this).removeClass("l_tr_hover");
	});

	$.fn.select2.defaults.set('language', 'ko');
	$(".js-example-basic-single").select2();
});

var sys_userkind = '{{SYS_USERKIND}}';
var is_auth_crm = {{IS_AUTH_CRM}};

if(window.addEventListener) window.addEventListener("load", function() { document.body.focus(); }, false);
else if(window.attachEvent) window.attachEvent("onload", function() { document.body.focus(); });

//개인정보
<!--@if(SYS_BLINDUSER)-->var sys_blinduser = true;<!--/if(SYS_BLINDUSER)-->
<!--@nif(SYS_BLINDUSER)-->var sys_blinduser = false;<!--/nif(SYS_BLINDUSER)-->

addEvent("onload", function() { setCRM(); });
</script>