<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{{SYS_TITLE}}</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!--@if(IS_DEV_SERVER)--><link rel="shortcut icon" href="{{SYS_COMMON_CDN}}/sysop/favicon_devsysop.ico" /><!--/if(IS_DEV_SERVER)-->
<!--@nif(IS_DEV_SERVER)--><link rel="shortcut icon" href="{{SYS_COMMON_CDN}}/sysop/favicon_servicesysop.ico" /><!--/nif(IS_DEV_SERVER)-->
<link rel="stylesheet" type="text/css" href="{{SYS_COMMON_CDN}}/sysop/html/css/admin.css?t={{SYS_TODAY}}165001" />
<link rel="stylesheet" type="text/css" href="{{SYS_COMMON_CDN}}/common/css/fontawesome/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="{{SYS_COMMON_CDN}}/common/js/select2/css/select2.css" />
<link rel="stylesheet" type="text/css" href="{{SYS_COMMON_CDN}}/common/js/jquery-ui-1.12.1-base_malgncustom.css?t={{SYS_TODAY}}165001">
<link rel='stylesheet' href='//cdn.jsdelivr.net/npm/font-kopub@1.0/kopubdotum.min.css'>
<script language="javascript" type="text/javascript" src="{{SYS_COMMON_CDN}}/common/js/jquery-1.12.3.min.js" charset="utf-8"></script>
<script language="javascript" type="text/javascript" src="{{SYS_COMMON_CDN}}/common/js/jquery-ui-1.12.1_malgncustom.js?t={{SYS_TODAY}}165001"></script>
<link href="//cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/summernote-lite.min.css" rel="stylesheet">
<script src="//cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/summernote-lite.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/lang/summernote-ko-KR.min.js"></script>
<script language="javascript" type="text/javascript" src="{{SYS_COMMON_CDN}}/common/js/common.js?t={{SYS_TODAY}}165001"></script>
<script language="javascript" type="text/javascript" src="{{SYS_COMMON_CDN}}/common/js/validate.js"></script>
<script language="javascript" type="text/javascript" src="{{SYS_COMMON_CDN}}/common/js/admin_func.js?t={{SYS_TODAY}}165001"></script>
<script language="javascript" type="text/javascript" src="{{SYS_COMMON_CDN}}/common/js/select2/js/select2.full.js"></script>
<script language="javascript" type="text/javascript" src="{{SYS_COMMON_CDN}}/common/js/select2/js/i18n/ko.js"></script>

<style type="text/css">
.a_tb01 { width: 100%; }
.t_tb01 { width: 100%; }
</style>
</head>

<body id="crm_wrap" marginheight="0" marginwidth="0">

<div class="crm_gnb">
	<div id="logo">
		<!-- <a href="../main/index.jsp" target="_Main"><img src="../html/images/admin/main/main_logo_2016_2_default.png" align="absmiddle"></a> -->
		<span class="txt_logo"><i class="fa fa-id-card"></i> CRM</span>
	</div>
	<div id="gnb">
		<!-- <button id="sys-breadcrumb-arrow" type="button" onclick="javascript:Toggle();"><i class="fa fa-angle-left"></i></button> -->
		<ul id="top_menu">
			<!-- <li><a class="{{tab_total}}" href="main.jsp?uid={{uid}}">메인</a></li> -->
			<li><a class="{{tab_course}}" href="course_list.jsp?uid={{uid}}">수강정보</a></li>
			<li><a class="{{tab_user}}" href="user_view.jsp?uid={{uid}}">회원정보</a></li>
			<!--@if(ebook_block)-->
			<li><a class="{{tab_book}}" href="book_list.jsp?uid={{uid}}">대여</a></li>
			<!--/if(ebook_block)-->
			<li><a class="{{tab_log}}" href="log_list.jsp?uid={{uid}}">회원이력</a></li>
			<!-- <li><a class="{{tab_webtv_log}}" href="webtv_log_list.jsp?uid={{uid}}">방송시청</a></li>
			<li><a class="{{tab_download_log}}" href="download_log_list.jsp?uid={{uid}}">다운로드</a></li> -->
			<li><a class="{{tab_order}}" href="order_list.jsp?uid={{uid}}">주문</a></li>
			<li><a class="{{tab_coupon}}" href="coupon_list.jsp?uid={{uid}}">쿠폰</a></li>
			<li><a class="{{tab_qna}}" href="qna_list.jsp?uid={{uid}}">Q&A</a></li>
			<li><a class="{{tab_sent}}" href="mail_list.jsp?uid={{uid}}">발송</a></li>
		</ul>
	</div>
</div>

<div id="sys-wrap">
	<div id="sys-scroll">
		<div id="alert_area"></div>
		<div id="sys-contents">
			<!--@include(BODY)-->

			<div id="CalendarLayer" style="display:none; width:172px; height:185px; z-index:6000">
				<iframe border="0" frameborder="0" height="185" name="CalendarFrame" scrolling="no" src="" width="172"></iframe>
			</div>

			<div style="display:none;">
			<iframe name="sysfrm" id="sysfrm" frameborder="0" width="100%" height="500" src=""></iframe>
			</div>
		</div>
	</div>
</div>

</body>
</html>


<script>
try {
   // SetCookie("CRMPREPAGE", document.URL, "", "/");
    HtmlConvertor();
} catch(e) { console.log(e); }

$(document).ready(function() {
	if(!top.document.getElementById("_MFRM")) $("#sys-breadcrumb-arrow").html("<i class=\"fa fa-minus\" style=\"font-size:12px;\"></i>");
});

$(window).load(function() {
	$(".l_tr_even, .l_tr_odd, .l_tr_notice").hover(function() {
		$(this).addClass("l_tr_hover");
	}, function() {
		$(this).removeClass("l_tr_hover");
	});
	
	$.fn.select2.defaults.set('language', 'ko');
	$(".js-example-basic-single").select2();
});

var sys_userkind = '{{SYS_USERKIND}}';
var is_auth_crm = {{IS_AUTH_CRM}};
var status = "open";

//개인정보
<!--@if(SYS_BLINDUSER)-->var sys_blinduser = true;<!--/if(SYS_BLINDUSER)-->
<!--@nif(SYS_BLINDUSER)-->var sys_blinduser = false;<!--/nif(SYS_BLINDUSER)-->

function Toggle() {
	var el = top.document.getElementById("_MFRM");
	if(!el) return;
    if (status == "open") {
	    el.cols = "0,*";
		document.getElementById("sys-breadcrumb-arrow").innerHTML = "<i class=\"fa fa-angle-right\"></i>";
        status = "close";
    } else {
		el.cols = "300,*";
		document.getElementById("sys-breadcrumb-arrow").innerHTML = "<i class=\"fa fa-angle-left\"></i>";
		status = "open";
	}
	parent.calcSize();
    return;
}
</script>