body {
    background-color: rgba(52,53,65,1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}
.chatBox {
    width: 100%;
}
.bottom {
    position: fixed;
    bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    justify-content: space-between;
    width: 80%;
}
.chatForm {
    width: 100%;
    display: flex;
    margin-top: auto;
    flex-grow: 1;
    border-radius: 5px;
    background-color: rgba(64,65,79,1);
    height: 1rem;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.chatGPTQuestion {
    width: 95%;
    color: #d1d5db;

}

.queryContainer, .answerContainer{
    background: rgba(68,70,84,1);
    padding: 1rem;
}

.queryContainer {
    background-color: rgba(52,53,65,1);
}
.query {
    display: block;
    color: #d1d5db;
    font-size: smaller;
    margin: 1em;
}

.answer {
    font-size: smaller;
    margin: 1em;
    overflow: hidden;
    color: #d1d5db;
    line-height:1.25rem;
}

.chatGPTQuestion {
    background: transparent;
    border: none;
}
.chatGPTQuestion:focus {
    outline: none;
}

#sendButton {
    color: var(--point-color);
    font-size: 1.5rem;
}

.dot-flashing {
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: var(--point-color);
    color: var(--point-color);
    animation: dot-flashing 1s infinite linear alternate;
    animation-delay: 0.5s;
}
.dot-flashing::before, .dot-flashing::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
}
.dot-flashing::before {
    left: -15px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: var(--point-color);
    color: var(--point-color);
    animation: dot-flashing 1s infinite alternate;
    animation-delay: 0s;
}
.dot-flashing::after {
    left: 15px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: var(--point-color);
    color: var(--point-color);
    animation: dot-flashing 1s infinite alternate;
    animation-delay: 1s;
}

@keyframes dot-flashing {
    0% {
        background-color: var(--point-color);
    }
    50%, 100% {
        background-color: rgba(152, 128, 255, 0.2);
    }
}