@font-face{
font-family:NanumSquareRound;
font-style:normal;
font-weight:300;
src:local("NanumSquareRoundL"),url(/common/font/nanumsquare/NanumSquareRoundL.eot),
	url(//cdn.malgnlms.com/common/font/nanumsquare/NanumSquareRoundL.eot?#iefix) format("embedded-opentype"),
	url(//cdn.malgnlms.com/common/font/nanumsquare/NanumSquareRoundL.woff2) format("woff2"),
	url(//cdn.malgnlms.com/common/font/nanumsquare/NanumSquareRoundL.woff) format("woff"),
	url(//cdn.malgnlms.com/common/font/nanumsquare/NanumSquareRoundL.ttf) format("truetype");
}

@font-face{
font-family:NanumSquareRound;
font-style:normal;
font-weight:400;
src:local("NanumSquareRoundR"),url(/common/font/nanumsquare/NanumSquareRoundR.eot),
	url(//cdn.malgnlms.com/common/font/nanumsquare/NanumSquareRoundR.eot?#iefix) format("embedded-opentype"),
	url(//cdn.malgnlms.com/common/font/nanumsquare/NanumSquareRoundR.woff2) format("woff2"),
	url(//cdn.malgnlms.com/common/font/nanumsquare/NanumSquareRoundR.woff) format("woff"),
	url(//cdn.malgnlms.com/common/font/nanumsquare/NanumSquareRoundR.ttf) format("truetype");
}

@font-face{
font-family:NanumSquareRound;
font-style:normal;
font-weight:500;
src:local("NanumSquareRoundB"),url(/common/font/nanumsquare/NanumSquareRoundB.eot),
	url(//cdn.malgnlms.com/common/font/nanumsquare/NanumSquareRoundB.eot?#iefix) format("embedded-opentype"),
	url(//cdn.malgnlms.com/common/font/nanumsquare/NanumSquareRoundB.woff2) format("woff2"),
	url(//cdn.malgnlms.com/common/font/nanumsquare/NanumSquareRoundB.woff) format("woff"),
	url(//cdn.malgnlms.com/common/font/nanumsquare/NanumSquareRoundB.ttf) format("truetype");
}

@font-face{
font-family:NanumSquareRound;
font-style:normal;
font-weight:600;
src:local("NanumSquareRoundEB"),url(/common/font/nanumsquare/NanumSquareRoundEB.eot),
	url(//cdn.malgnlms.com/common/font/nanumsquare/NanumSquareRoundEB.eot?#iefix) format("embedded-opentype"),
	url(//cdn.malgnlms.com/common/font/nanumsquare/NanumSquareRoundEB.woff2) format("woff2"),
	url(//cdn.malgnlms.com/common/font/nanumsquare/NanumSquareRoundEB.woff) format("woff"),
	url(//cdn.malgnlms.com/common/font/nanumsquare/NanumSquareRoundEB.ttf) format("truetype")
}