@font-face {
 font-family: 'NanumSquare';
 font-weight: 300;
 src: url(//cdn.malgnlms.com/common/font/nanumsquare/NanumSquareL.eot);
 src: url(//cdn.malgnlms.com/common/font/nanumsquare/NanumSquareL.eot?#iefix) format('embedded-opentype'),
      url(//cdn.malgnlms.com/common/font/nanumsquare/NanumSquareL.woff) format('woff'),
      url(//cdn.malgnlms.com/common/font/nanumsquare/NanumSquareL.ttf) format('truetype');
}

@font-face {
 font-family: 'NanumSquare';
 font-weight: 400;
 src: url(//cdn.malgnlms.com/common/font/nanumsquare/NanumSquareR.eot);
 src: url(//cdn.malgnlms.com/common/font/nanumsquare/NanumSquareR.eot?#iefix) format('embedded-opentype'),
      url(//cdn.malgnlms.com/common/font/nanumsquare/NanumSquareR.woff) format('woff'),
      url(//cdn.malgnlms.com/common/font/nanumsquare/NanumSquareR.ttf) format('truetype');
}
@font-face {
 font-family: 'NanumSquare';
 font-weight: 500;
 src: url(//cdn.malgnlms.com/common/font/nanumsquare/NanumSquareB.eot);
 src: url(//cdn.malgnlms.com/common/font/nanumsquare/NanumSquareB.eot?#iefix) format('embedded-opentype'),
      url(//cdn.malgnlms.com/common/font/nanumsquare/NanumSquareB.woff) format('woff'),
      url(//cdn.malgnlms.com/common/font/nanumsquare/NanumSquareB.ttf) format('truetype');
}
@font-face {
 font-family: 'NanumSquare';
 font-weight: 600;
 src: url(//cdn.malgnlms.com/common/font/nanumsquare/NanumSquareEB.eot);
 src: url(//cdn.malgnlms.com/common/font/nanumsquare/NanumSquareEB.eot?#iefix) format('embedded-opentype'),
      url(//cdn.malgnlms.com/common/font/nanumsquare/NanumSquareEB.woff) format('woff'),
      url(//cdn.malgnlms.com/common/font/nanumsquare/NanumSquareEB.ttf) format('truetype');
}