<!DOCTYPE html> 
<html>
<head>
	<title><%=siteinfo.s("site_nm")%></title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="js/jquery.mobile-1.4.2.css" />
	<script type="text/javascript" src="js/underscore-min.js"></script>
	<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="js/jquery.mobile-1.4.2.min.js"></script>
	<script type="text/javascript" src="js/mobile.js"></script>
	<!--@if(is_ios)-->
	<script type="text/javascript" src="cordova_350_ios.js"></script>
	<script type="text/javascript" src="mg_phonegap_plugin.js"></script>
	<!--/if(is_ios)-->
	<!--@if(is_android)-->
	<script type="text/javascript" src="cordova_350_android.js"></script>
	<script type="text/javascript" src="mg_phonegap_plugin.js"></script>
	<!--/if(is_android)-->

	<script type="text/javascript" id="panel-init">
		
	</script>
	<style>
		.ui-background { background:url(img/bg-metro.jpg) no-repeat center center;background-attachment: fixed;background-size: cover; }
	</style>
</head>

<body>

<!--메인페이지-->
<div data-role="page" id="main" class="ui-background">
	<div role="main" class="ui-content">
		<div id="" class="ui-body ui-page-theme-b" style="background:transparent">
			<h1 style="text-align:center;">맑은온라인교육센터</h1>
			<div class="ui-grid-b ui-responsive">
				<div class="ui-block-a"><a href="#mypage" onclick="return CourseList()" data-transition="slide" class="ui-nodisc-icon ui-btn ui-btn-b ui-icon-edit ui-btn-icon-top ui-corner-all ui-icon-large" style="background-color:#85af5d">나의강의실</a></div>
				<div class="ui-block-b"><a href="#cnotice" onclick="return CNoticeList()" data-transition="slide" class="ui-nodisc-icon ui-btn ui-btn-b ui-icon-audio ui-btn-icon-top ui-corner-all ui-icon-large" style="background-color:#c53238">과정공지</a></div>
				<div class="ui-block-c"><a href="#notice" onclick="return NoticeList()" data-transition="slide" class="ui-nodisc-icon ui-btn ui-btn-b ui-icon-info ui-btn-icon-top ui-corner-all ui-icon-large" style="background-color:#29aae3">공지사항</a></div>
				<div class="ui-block-c"><a href="#faq" onclick="return FaqList()" data-transition="slide" class="ui-nodisc-icon ui-btn ui-btn-b ui-icon-comment ui-btn-icon-top ui-corner-all ui-icon-large" style="background-color:#f17225">FAQ</a></div>
				<div class="ui-block-c"><a href="javascript:callViewer('http://api.wecandeo.com/video.mp4?k=BOKNS9AQWrEqEiiiih2SgClI7Pwlv2KLJis4jZKKRm9ouNtC5yW4naTVgieie','1','1','1','10','60')" data-transition="slide" class="ui-nodisc-icon ui-btn ui-btn-b ui-icon-info ui-btn-icon-top ui-corner-all ui-icon-large" style="background-color:#035486" id="moviePlayer">동영상플레이</a></div>
				<div class="ui-block-c"><a href="javascript:callViewer('http://lms.malgn.co.kr/data/Contents/test/index.html?chasi=01','2','2','2','0','-1')" data-transition="slide" class="ui-nodisc-icon ui-btn ui-btn-b ui-icon-info ui-btn-icon-top ui-corner-all ui-icon-large" style="background-color:#035486" id="html5Player">웹콘텐츠뷰어</a></div>
				<div class="ui-block-c"><a href="MalgnLMS.apk" data-transition="slide" class="ui-nodisc-icon ui-btn ui-btn-b ui-icon-info ui-btn-icon-top ui-corner-all ui-icon-large" style="background-color:#035486">안드로이드</a></div>
				<div class="ui-block-c"><a href="ios/index.html" data-transition="slide" class="ui-nodisc-icon ui-btn ui-btn-b ui-icon-info ui-btn-icon-top ui-corner-all ui-icon-large" style="background-color:#035486">아이폰</a></div>
				<!--
				<div class="ui-block-c"><a href="#guide" data-transition="slide" class="ui-nodisc-icon ui-btn ui-btn-b ui-icon-info ui-btn-icon-top ui-corner-all ui-icon-large" style="background-color:#035486">이용안내</a></div>
				<div class="ui-block-c"><a href="#login" data-transition="slide" class="ui-nodisc-icon ui-btn ui-btn-b ui-icon-info ui-btn-icon-top ui-corner-all ui-icon-large" style="background-color:#035486">로그인</a></div>
				-->
			</div>
			<p style="text-align:center;">Copyright 2014 Malgnsoft</p>
		</div>
	</div><!-- /content -->
</div>

<!--로그인-->
<div data-role="page" id="login" class="ui-background">
	<div role="main" class="ui-content">
		<div id="" class="ui-body ui-page-theme-b" style="background:transparent">
			<h1 style="text-align:center;">맑은온라인교육센터</h1>
			<form class="ui-grid-b ui-responsive" method="POST" onsubmit="return Login(this);">
				<label for="user_id">아이디:</label>
				<input type="text" name="id" id="user_id" value="" style="background-color:white;color:#000;">
				<label for="user_pw">비밀번호:</label>
				<input type="text" name="passwd" id="user_pw" value="" style="background-color:white;color:#000;">
				<input type="submit" value="로그인" style="background-color:#29aae3">
			</form>
			<p style="text-align:center;">Copyright 2014 Malgnsoft</p>
		</div>
	</div><!-- /content -->
</div>

<!--나의강의실-->
<div data-role="page" id="mypage">
	<div data-role="header" data-theme="b">
		<a href="#leftmenu" class="ui-nodisc-icon ui-btn-b ui-btn-left ui-btn ui-icon-bars ui-btn-icon-notext" data-role="button" role="button">Menu</a>
		<h1>나의 강의실</h1>
		<a href="#main" data-transition="slide" class="ui-nodisc-icon ui-btn-b ui-btn-right ui-btn ui-icon-home ui-btn-icon-notext" data-role="button" role="button">Home</a>
	</div><!-- /header -->

	<div role="main" class="ui-content">
		<div data-role="navbar">
			<ul>
				<li><a href="#mypage?type=ing" onclick="return CourseList({type:'ing',refresh:1})" class="ui-btn-active ui-state-persist ui-btn-a">수강중인 과정</a></li>
				<li><a href="#mypage?type=done" onclick="return CourseList({type:'dong',refresh:1})">종료된 과정</a></li>
			</ul>
		</div><!-- /navbar -->
		<ul data-role="listview" id="my_course_list">
		</ul>
		<script id="my_course_list_tpl" type="text/template">
			<li><a href="#lesson" data-transition="slide" onclick="return LessonList()">
				<img src="<%= img_url %>">
				<h2><%= course_nm %></h2>
				<p>Broken Bells</p></a>
			</li>
		</script>
	</div><!-- /content -->
</div>

<!--강의목차-->
<div data-role="page" id="lesson">
	<div data-role="header" data-theme="b">
		<a href="#leftmenu" class="ui-nodisc-icon ui-btn ui-btn-b ui-btn-left ui-icon-bars ui-btn-icon-notext" data-role="button" role="button">Menu</a>
		<h1>강의목차</h1>
		<a href="#main" data-transition="slide" class="ui-nodisc-icon ui-btn-b ui-btn-right ui-btn ui-icon-home ui-btn-icon-notext" data-role="button" role="button">Home</a>
	</div><!-- /header -->

	<div role="main" class="ui-content">
		<div class="ui-bar ui-bar-a">
			<h3>전산학 개론(I)</h3>
			<a href="#mypage" data-transition="slide" data-direction="reverse" class="ui-nodisc-icon ui-btn ui-btn-b ui-btn-right ui-icon-back ui-btn-icon-notext" data-role="button" role="button">Back</a>
		</div>
		<ul data-role="listview" id="lesson_list">
		</ul>
		<script type="text/template"  id="lesson_list_tpl">
			<li>
				<h2>1. Broken Bells</h2>
				<p>Broken Bells</p>
				<button class="ui-btn ui-btn-inline ui-btn-right ui-corner-all">학습</button>
			</li>
		</script>
	</div><!-- /content -->
</div>

<!--과정공지-->
<div data-role="page" id="cnotice">
	<div data-role="header" data-theme="b">
		<a href="#leftmenu" class="ui-nodisc-icon ui-btn ui-btn-b ui-btn-left ui-icon-bars ui-btn-icon-notext" data-role="button" role="button">Menu</a>
		<h1>과정공지사항</h1>
		<a href="#main" data-transition="slide" class="ui-nodisc-icon ui-btn-b ui-btn-right ui-btn ui-icon-home ui-btn-icon-notext" data-role="button" role="button">Home</a>
	</div><!-- /header -->

	<div role="main" class="ui-content">
		<ul data-role="listview" id="cnotice_list">
		</ul>
		<script type="text/template" id="cnotice_list_tpl">
			<li><a href="#cnotice_view" data-transition="slide" onclick="return CNoticeView()">
				<h2>Stephen Weber</h2>
				<p><strong>You've been invited to a meeting at Filament Group in Boston, MA</strong></p>
				<p>Hey Stephen, if you're available at 10am tomorrow, we've got a meeting with the jQuery team.</p>
			</a></li>
		</script>
	</div><!-- /content -->
</div>

<!--과정공지상세-->
<div data-role="page" id="cnotice_view">
	<div data-role="header" data-theme="b">
		<a href="#leftmenu" class="ui-nodisc-icon ui-btn ui-btn-b ui-btn-left ui-icon-bars ui-btn-icon-notext" data-role="button" role="button">Menu</a>
		<h1>과정공지사항</h1>
		<a href="#main" data-transition="slide" class="ui-nodisc-icon ui-btn-b ui-btn-right ui-btn ui-icon-home ui-btn-icon-notext" data-role="button" role="button">Home</a>
	</div><!-- /header -->

	<div role="main" class="ui-content" id="cnotice_info">
	</div><!-- /content -->
	<script type="text/template" id="cnotice_info_tpl">
		<div class="ui-bar ui-bar-a">
			<h1>전산학 개론(I)</h1>
			<a href="javascript:history.go(-1)" data-transition="slide" data-direction="reverse" class="ui-nodisc-icon ui-btn ui-btn-b ui-btn-right ui-icon-back ui-btn-icon-notext" data-role="button" role="button">Back</a>
		</div>
		<ul data-role="listview">
			<li>
				<h2>Stephen Weber</h2>
				<p><strong>You've been invited to a meeting at Filament Group in Boston, MA</strong></p>
				<p>Hey Stephen, if you're available at 10am tomorrow, we've got a meeting with the jQuery team.</p>
			</li>
			<li>
				<p><strong>Re: Dinner Tonight</strong></p>
			</li>
		</ul>
	</script>
</div>

<!--전체공지-->
<div data-role="page" id="notice">
	<div data-role="header" data-theme="b">
		<a href="#leftmenu" class="ui-nodisc-icon ui-btn ui-btn-b ui-btn-left ui-icon-bars ui-btn-icon-notext" data-role="button" role="button">Menu</a>
		<h1>공지사항</h1>
		<a href="#main" data-transition="slide" class="ui-nodisc-icon ui-btn-b ui-btn-right ui-btn ui-icon-home ui-btn-icon-notext" data-role="button" role="button">Home</a>
		
	</div><!-- /header -->

	<div role="main" class="ui-content">
		<ul data-role="listview" id="notice_list">
		</ul>
		

		<script type="text/template" id="notice_list_tpl">
			<li><a href="#notice_view" data-transition="slide" onclick="return NoticeView()">
				<h2>Stephen Weber</h2>
				<p><strong>You've been invited to a meeting at Filament Group in Boston, MA</strong></p>
				<p>Hey Stephen, if you're available at 10am tomorrow, we've got a meeting with the jQuery team.</p>
			</a></li>			
		</script>
	</div><!-- /content -->
</div>

<!--전체공지상세-->
<div data-role="page" id="notice_view">
	<div data-role="header" data-theme="b">
		<a href="#leftmenu" class="ui-nodisc-icon ui-btn ui-btn-b ui-btn-left ui-icon-bars ui-btn-icon-notext" data-role="button" role="button">Menu</a>
		<h1>공지사항</h1>
		<a href="#main" data-transition="slide" class="ui-nodisc-icon ui-btn-b ui-btn-right ui-btn ui-icon-home ui-btn-icon-notext" data-role="button" role="button">Home</a>
	</div><!-- /header -->

	<div role="main" class="ui-content">
		<div class="ui-bar ui-bar-a">
			<h1>전산학 개론(I)</h1>
			<a href="javascript:history.go(-1)" data-transition="slide" data-direction="reverse" class="ui-nodisc-icon ui-btn ui-btn-b ui-btn-right ui-icon-back ui-btn-icon-notext" data-role="button" role="button">Back</a>
		</div>
		<ul data-role="listview">
			<li>
				<h2>Stephen Weber</h2>
				<p><strong>You've been invited to a meeting at Filament Group in Boston, MA</strong></p>
				<p>Hey Stephen, if you're available at 10am tomorrow, we've got a meeting with the jQuery team.</p>
			</li>
			<li>
				<p><strong>Re: Dinner Tonight</strong></p>
			</li>
		</ul>
	</div><!-- /content -->
</div>

<!--FAQ-->
<div data-role="page" id="faq">
	<div data-role="header" data-theme="b">
		<a href="#leftmenu" class="ui-nodisc-icon ui-btn ui-btn-b ui-btn-left ui-icon-bars ui-btn-icon-notext" data-role="button" role="button">Menu</a>
		<h1>FAQ</h1>
		<a href="#main" data-transition="slide" class="ui-nodisc-icon ui-btn-b ui-btn-right ui-btn ui-icon-home ui-btn-icon-notext" data-role="button" role="button">Home</a>
	</div><!-- /header -->

	<div role="main" class="ui-content">
		<ul data-role="listview" id="faq_list">
		</ul>
		<script type="text/template" id="faq_list_tpl">
			<li><a href="#faq_view" data-transition="slide" onclick="return FaqView()">
				<h2>Stephen Weber</h2>
				<p><strong>You've been invited to a meeting at Filament Group in Boston, MA</strong></p>
				<p>Hey Stephen, if you're available at 10am tomorrow, we've got a meeting with the jQuery team.</p>
			</a></li>
		</script>
	</div><!-- /content -->
</div>

<!--FAQ상세-->
<div data-role="page" id="faq_view">
	<div data-role="header" data-theme="b">
		<a href="#leftmenu" class="ui-nodisc-icon ui-btn ui-btn-b ui-btn-left ui-icon-bars ui-btn-icon-notext" data-role="button" role="button">Menu</a>
		<h1>FAQ</h1>
		<a href="#main" data-transition="slide" class="ui-nodisc-icon ui-btn-b ui-btn-right ui-btn ui-icon-home ui-btn-icon-notext" data-role="button" role="button">Home</a>
	</div><!-- /header -->

	<div role="main" class="ui-content">
		<div class="ui-bar ui-bar-a">
			<h1>전산학 개론(I)</h1>
			<a href="#board" data-transition="slide" data-direction="reverse" class="ui-nodisc-icon ui-btn ui-btn-b ui-btn-right ui-icon-back ui-btn-icon-notext" data-role="button" role="button">Back</a>
		</div>
		<ul data-role="listview">
			<li>
				<h2>Stephen Weber</h2>
				<p><strong>You've been invited to a meeting at Filament Group in Boston, MA</strong></p>
				<p>Hey Stephen, if you're available at 10am tomorrow, we've got a meeting with the jQuery team.</p>
			</li>
			<li>
				<p><strong>Re: Dinner Tonight</strong></p>
			</li>
		</ul>
	</div><!-- /content -->
</div>

<!--로그아웃-->
<div data-role="page" id="logout">
</div>

<!--이용안내-->
<div data-role="page" id="guide">
	<div data-role="header" data-theme="b">
		<a href="#leftmenu" class="ui-nodisc-icon ui-btn ui-btn-b ui-btn-left ui-icon-bars ui-btn-icon-notext" data-role="button" role="button">Menu</a>
		<h1>이용 안내</h1>
		<a href="#main" data-transition="slide" class="ui-nodisc-icon ui-btn-b ui-btn-right ui-btn ui-icon-home ui-btn-icon-notext" data-role="button" role="button">Home</a>
	</div><!-- /header -->

	<div role="main" class="ui-content">
		<p>이용안내 페이지</p>
	</div><!-- /content -->
</div>

<!--왼쪽메뉴-->
<div data-role="panel" id="leftmenu" data-position="left" data-display="overlay" data-theme="b" class="ui-panel ui-panel-position-left ui-panel-display-push ui-body-a ui-panel-animate ui-panel-closed">
	<div class="ui-panel-inner">
		<ul class="ui-nodisc-icon ui-listview">
			<li data-icon="home" class="ui-first-child"><a href="#main" data-transition="slide" class="ui-btn ui-btn-icon-right ui-icon-home">Home</a></li>
			<li><a href="#mypage" onclick="return CourseList()" data-transition="slide" class="ui-btn ui-btn-icon-right ui-icon-edit">나의강의실</a></li>
			<li><a href="#cnotice" onclick="return CNoticeList()" data-transition="slide" class="ui-btn ui-btn-icon-right ui-icon-audio">과정공지</a></li>
			<li><a href="#notice" onclick="return NoticeList()" data-transition="slide" class="ui-btn ui-btn-icon-right ui-icon-info">공지사항</a></li>
			<li><a href="#faq" onclick="return FaqList()" data-transition="slide" class="ui-btn ui-btn-icon-right ui-icon-info">FAQ</a></li>
			<li><a href="#main" onclick="return Logout()" class="ui-btn ui-btn-icon-right ui-icon-power">로그아웃</a></li>
			<li><a href="#" data-rel="close" class="ui-btn ui-btn-icon-right ui-icon-delete">닫기</a></li>
		</ul>	
	</div>
</div>

</body>
</html>