<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>{{SYS_TITLE}}</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta http-equiv="imagetoolbar" content="no">
	<meta http-equiv="Expires" content="-1" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Cache-Control" content="no-cache" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=medium-dpi" />
	<link rel="stylesheet" type="text/css" href="{{SYS_COMMON_CDN}}/common/css/skin2.css?t={{CURR_DATE}}" />
	<link rel="stylesheet" type="text/css" href="/html/css/custom.css?t={{CURR_DATE}}" />
	<script type="text/javascript" src="/html/js/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="/html/js/style.js?t={{CURR_DATE}}"></script>
	<script type="text/javascript" src="{{SYS_COMMON_CDN}}/common/js/common.js?t={{CURR_DATE}}"></script>
	<script type="text/javascript" src="{{SYS_COMMON_CDN}}/common/js/validate.js"></script>
</head>
<body>

<!--@include(BODY)-->

<iframe name="sysfrmblank" id="sysfrmblank" frameborder="0" width="100%" height="0" src=""></iframe>
<script>
var _SKIN_VERSION = "{{SITE_INFO.skin_cd}}";
var _IS_RESP_WEB = "{{IS_RESP_WEB}}".toLowerCase() == "true";
</script>
</body>
</html>
