<!--@include(layout/header.html)-->
<body>
	<div class="skip_nav">
		<a href="#gnb">메인메뉴로 이동</a>
		<a href="#container">본문으로 이동</a>
	</div>
	<div id="wrap">
		<!--@execute(../inc/top.jsp)-->
		<!--@if(SKIN_GTE_3)--><!--@execute(../main/banner_list.jsp?type=sub_search&single=Y&tpl=banner_sub_list)--><!--/if(SKIN_GTE_3)-->
		<div id="container"<!--@if(SITE_INFO.skin_param)--> class="{{SITE_INFO.skin_param}}"<!--/if(SITE_INFO.skin_param)-->>
			<div class="main_wrap">
				<!--@if(SITE_INFO.skin_cd:2)--><p class="sub_top" ><img src="/html/images/sub/sub_top.jpg" alt="" /></p><!--/if(SITE_INFO.skin_cd:2)-->
				<div class="left_area lnb03">
					<h3 class="hide">lnb영역</h3>
					<h3 class="lnb_title">통합검색</h3>
					<div class="sp_center">
						<h3 class="top_title">학습지원센터</h3>
						<div class="sq_text">
							<p class="cen_tel">1588-0114</p>
							<span class="list_text">편하신 시간에 전화주시면<br />친절하게 응답하겠습니다.</span>
						</div>
					</div>

				</div>
				<!--@include(BODY)-->
			</div>
		</div>
		<!--@include(layout/footer.html)-->
	</div>
</body>
</html>
