<!--@include(layout/header.html)-->
<body>
	<div class="skip_nav">
		<a href="#gnb">메인메뉴로 이동</a>
		<a href="#container">본문으로 이동</a>
	</div>
	<div id="wrap">
		<!--@execute(../inc/top.jsp)-->
		<!--@if(SKIN_GTE_3)--><!--@execute(../main/banner_list.jsp?type=sub_order&single=Y&tpl=banner_sub_list)--><!--/if(SKIN_GTE_3)-->
		<div id="container"<!--@if(SITE_INFO.skin_param)--> class="{{SITE_INFO.skin_param}}"<!--/if(SITE_INFO.skin_param)-->>
			<div class="main_wrap">
				<!--@if(SITE_INFO.skin_cd:2)--><p class="sub_top" ><img src="/html/images/sub/sub5.jpg" alt="" /></p><!--/if(SITE_INFO.skin_cd:2)-->
				<!--@include(BODY)-->
			</div>
		</div>
		<!--@include(layout/footer.html)-->
	</div>
</body>
</html>
