<!--@include(layout/header.html)-->
<body>
	<div class="skip_nav">
		<a href="#gnb">메인메뉴로 이동</a>
		<a href="#container">본문으로 이동</a>
	</div>
	<div id="wrap">
		<!--@execute(../inc/top.jsp)-->
		<!--@if(SKIN_GTE_3)--><!--@execute(../main/banner_list.jsp?type=sub_intro&single=Y&tpl=banner_sub_list&page_title={{p_title}})--><!--/if(SKIN_GTE_3)-->
		<div id="container"<!--@if(SITE_INFO.skin_param)--> class="{{SITE_INFO.skin_param}}"<!--/if(SITE_INFO.skin_param)-->>
			<div class="main_wrap">
				<!--@if(SITE_INFO.skin_cd:2)--><p class="sub_top" ><img src="/html/images/sub/sub1.jpg" alt="" /></p><!--/if(SITE_INFO.skin_cd:2)-->
				<div class="left_area lnb01">
					<h3 class="hide">lnb영역</h3>
					<h3 class="lnb_title">교육센터소개</h3>
					<!--@execute(../inc/left.jsp?pcode=intro)-->

				</div>
				<!--@include(BODY)-->
			</div>
		</div>
		<!--@execute(../inc/footer.jsp)-->
	</div>
</body>
</html>
