<!--@include(layout/header.html)-->
<body>
	<div class="skip_nav">
		<a href="#gnb">메인메뉴로 이동</a>
		<a href="#container">본문으로 이동</a>
	</div>
	<div id="wrap">
		<!--@execute(../inc/top.jsp)-->
		<!--@if(SKIN_GTE_3)--><!--@execute(../main/banner_list.jsp?type=sub_webtv&single=Y&tpl=banner_sub_list)--><!--/if(SKIN_GTE_3)-->
		<div id="container"<!--@if(SITE_INFO.skin_param)--> class="{{SITE_INFO.skin_param}}"<!--/if(SITE_INFO.skin_param)-->>
			<div class="main_wrap">
				<!--@if(SITE_INFO.skin_cd:2)--><p class="sub_top" ><img src="/html/images/sub/sub8.jpg" alt="" /></p><!--/if(SITE_INFO.skin_cd:2)-->
				<div class="left_area lnb03">
					<h3 class="hide">lnb영역</h3>
					<h3 class="lnb_title">인터넷방송</h3>
					<ul class="lnb_list" data-code="{{code}}">
						<li id="allwebtvs"><a href="/webtv/webtv_list.jsp" title="전체방송" target="_self">전체방송</a></li>
						<!--@execute(../webtv/webtv_menu_list.jsp?sub=Y)-->
					</ul>
					<!-- @execute(../inc/left.jsp?pcode=webtv) -->

				</div>
				<!--@include(BODY)-->
			</div>
		</div>
		<!--@execute(../inc/footer.jsp)-->
	</div>
<script>
$(document).ready(function() {
	if("{{cid}}") {
		$("#LNB_WEBTV").removeClass("on");
		$("#LNB_WEBTV_{{cid}}").addClass("on");
	}
	
});
</script>
</body>
</html>
