<!DOCTYPE html>
<html lang="ko">
<head>
<title>{{SYS_TITLE}}</title>
<meta name="apple-mobile-web-app-capable" content="no">
<meta name="mobile-web-app-capable" content="no">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=medium-dpi" />
<link rel="stylesheet" type="text/css" href="{{SYS_COMMON_CDN}}/common/css/mobile.css?t={{CURR_DATE}}" />
<link rel="stylesheet" type="text/css" href="{{SYS_COMMON_CDN}}/common/js/swiper/css/swiper.min.css">
<link href="/html/images/mobile/apple-icon.png" rel="apple-touch-icon" sizes="114x114" />
<link href="/html/images/mobile/android-icon.png" rel="icon" sizes="72x72" />
<script language="javascript" type="text/javascript" src="{{SYS_COMMON_CDN}}/common/js/jquery-1.9.1.min.js"></script>
<script language="javascript" type="text/javascript" src="{{SYS_COMMON_CDN}}/common/js/jquery.slides.min.js"></script>
<script language="javascript" type="text/javascript" src="{{SYS_COMMON_CDN}}/common/js/swiper/js/swiper.min.js"></script>
<script language="javascript" type="text/javascript" src="{{SYS_COMMON_CDN}}/common/js/mobile.js?t={{CURR_DATE}}"></script>
<script language="javascript" type="text/javascript" src="{{SYS_COMMON_CDN}}/common/js/common.js?t={{CURR_DATE}}"></script>
<script language="javascript" type="text/javascript" src="{{SYS_COMMON_CDN}}/common/js/validate.js"></script>
<script type="text/javascript">

</script>
<!--@if(SITE_INFO.skin_color)-->
<style type="text/css">
/* skin theme color only */
div.all-menu .lnb_title a { background-color:{{SITE_INFO.skin_color}}; }
.page_title{background-color:{{SITE_INFO.skin_color}};}
ul.tabs li.active {background: {{SITE_INFO.skin_color}};}
button.btn_login {background-color: {{SITE_INFO.skin_color}}; border:1px solid {{SITE_INFO.skin_color}}; }
button.btn_join {border:1px solid {{SITE_INFO.skin_color}}; color: {{SITE_INFO.skin_color}}; }
.qnaing{border-top:1px solid {{SITE_INFO.skin_color}};}
.qna_complete{border-top:1px solid {{SITE_INFO.skin_color}};}
.label_complete{background-color:{{SITE_INFO.skin_color}};}
table.tb_style07 tbody td.total_color{color:{{SITE_INFO.skin_color}};}
table.tb_style08 tbody td.total_color{color:{{SITE_INFO.skin_color}};}
table.tb_style09 tbody td.total_color{color:{{SITE_INFO.skin_color}};}
.pay_container .content_title { background-color:{{SITE_INFO.skin_color}}; }
</style>
<!--/if(SITE_INFO.skin_color)-->
</head>
<body>
<div id="wrap">	
	<header>
		<h1 class="logo">
			<!--@nif(SYS_B2BBLOCK)--><a href="/mobile/index.jsp"><img src="{{SITE_INFO.logo_url}}" alt="{{SYS_TITLE}}" /></a><!--/nif(SYS_B2BBLOCK)-->
			<!--@if(SYS_B2BBLOCK)--><a><img src="{{SYS_B2BFILE}}" alt="{{SYS_B2BNAME}}" /></a><!--/if(SYS_B2BBLOCK)-->
		</h1>
		<!-- <h1 class="logo"><a href="/mobile/index.jsp" ><img src="/html/images/mobile/main/logo.jpg" alt="{{SYS_TITLE}}"/></a></h1> -->

		<!--@nif(close_block)-->
		<span class="btn_menu"><a href="#self" class="bt-menu menu_off"><img src="/common/images/mobile/main/btn_menu.jpg" alt="메뉴"></a><a href="#self" class="bt-menu menu_on" style="display:none"><img src="/common/images/mobile/main/btn_menu.jpg" alt="메뉴"></a></span>
		<!--@nif(main_block)-->
		<span class="btn_prev"><a href="javascript:history.back(-1);" ><img src="/common/images/mobile/main/btn_prev.jpg" alt="뒤로가기"></a></span>
		<!--/nif(main_block)-->
		<!--@if(main_block)-->
		<!-- <span class="btn_prev"><a href="javascript:addShortcut();" >+</a></span> -->
		<!--/if(main_block)-->
		<!--/nif(close_block)-->
		<div class="allWrap">
			<div id="mask"></div>
			<div class="all-menu"><!-- S : all menu -->
			<div class="t_wrap">
				<h2 class="tit"></h2>
			</div>
			<div id="gnb_group" class="gnb_group">
				<!--@nif(SYS_B2BBLOCK)-->
				<ul class="gnb">
					<li><a href="/mobile/mypage.jsp" class="menu_btn">나의 강의실</a></li>
					<li><a href="/mobile/course_list.jsp" class="menu_btn">수강신청</a></li>
					<li><a href="/mobile/post_list.jsp?code=notice" class="menu_btn">공지사항</a></li>
					<li><a href="/mobile/post_list.jsp?code=pds" class="menu_btn">자료실</a></li>
					<li><a href="/mobile/post_list.jsp?code=qna" class="menu_btn">Q&amp;A</a></li>
					<!--@nif(login_block)--><li><a href="/mobile/login.jsp" class="menu_btn">로그인</a></li><!--/nif(login_block)-->
					<!--@if(login_block)--><li><a href="/mobile/logout.jsp" class="menu_btn">로그아웃</a></li><!--/if(login_block)-->
				</ul>
				<!--/nif(SYS_B2BBLOCK)-->
				<!--@if(SYS_B2BBLOCK)-->
				<!--@execute(../inc/gnb.jsp?is_mobile=Y)-->
				<!--/if(SYS_B2BBLOCK)-->
			</div>
			<div id="lnb_group_webtv" class="lnb_group">
				<div class="lnb_title"><a href="javascript:goGnb();">VOD</a></div>
				<ul class="gnb">
				<!--@execute(../webtv/webtv_menu_list.jsp?sub=Y&is_mobile=Y)-->
				</ul>
			</div>
		</div>
	</header>
	<!--@include(BODY)-->
	<footer>
		<div class="btn_footer">
			<!--@nif(login_block)--><!--@nif(SYS_B2BBLOCK)--><button type="button" onclick="location.href='/mobile/login.jsp'">로그인</button><!--/nif(SYS_B2BBLOCK)--><!--/nif(login_block)-->
			<!--@if(login_block)--><button type="button" onclick="location.href='/mobile/logout.jsp'">로그아웃</button><!--/if(login_block)-->
			<!--@nif(SYS_B2BBLOCK)-->
			<button type="button" onclick="goPC()">PC버전</button>
			<button type="button" onclick="location.href='/mobile/index.jsp'">홈으로</button>
			<!--/nif(SYS_B2BBLOCK)-->
			<p>copyright&copy; 2015 malgnsoft, Inc.<br/>All rights reserved.</p>	
		</div>
		
		<iframe src="about:blank" name="sysfrm" id="sysfrm" width="100%" height="0" scrolling="no" frameborder="0" ></iframe>
	</footer>
</div>

<script>
var shortcut_domain = window.location.protocol + "//" + window.location.host;
var shortcut_title = "{{SYS_TITLE}}";
function addShortcut() {
	sysfrm.location.href = "naversearchapp://addshortcut?url=" + encodeURIComponent(shortcut_domain + "/mobile/index.jsp") + "&icon=" + encodeURIComponent(shortcut_domain + "/html/images/mobile/apple-icon.png") + "&title=" + encodeURIComponent(shortcut_title) + "&serviceCode=nstore&version=7";
}
</script>
</body>
</html>
