		<div id="header">
			<div class="util_wrap">
				<h2 class="hide">유틸 메뉴</h2>
				<div class="util_menu">
					<ul class="util_top">
						<!--@nif(login_block)-->
						<li><a href="/member/login.jsp" title="로그인페이지로 이동" >로그인</a></li>
						<li><a href="/member/agreement.jsp" title="회원가입 페이지로 이동" >회원가입</a></li>
						<!--/nif(login_block)-->
						<!--@if(login_block)-->
						<li><a href="/member/logout.jsp" title="로그아웃하고 메인으로 이동" >로그아웃</a></li>
						<li class="b2b_h"><a href="/mypage/cart_list.jsp" title="장바구니 페이지로 이동" >장바구니</a></li>
						<!--/if(login_block)-->
						<li class="top_close"><a href="#n" class="util_close_btn"><span class="hide">닫기</span></a></li>
						<li class="top_search">
							<form name="form_search" action="../main/search.jsp" method="get" onsubmit="return goSearch(this);">
								<span class="search_input"><input type="text" name="s_keyword" class="search_txt" placeholder="사이트검색"></span><button type="submit" class="search_btn"></button>
							</form>
							<script>
								function goSearch(f) {
									if(f['s_keyword'].value == "") {
										alert("검색어를 입력해주세요.");
										return false;
									}
									return true;
								}
							</script>
						</li>
					</ul>
				</div>
			</div>
			<div class="util_modal"></div>
			<div class="inner">
				<a href="#n" class="util_toggle_btn">
					<span class="line"></span>
					<span class="line"></span>
					<span class="line"></span>
				</a>
				<h1 class="logo">
					<!--@nif(SYS_B2BBLOCK)-->
					<a href="/main/index.jsp" title="메인페이지로 이동">
						<img src="{{SITE_INFO.logo_url}}" alt="{{SITE_INFO.site_nm}}" onerror="" /> 
					</a>
					<!--/nif(SYS_B2BBLOCK)-->
					<!--@if(SYS_B2BBLOCK)-->
					<a href="/mypage/index.jsp" title="메인페이지로 이동">
						<img src="{{SYS_B2BFILE}}" alt="{{SYS_B2BNAME}}" onerror="" /> 
					</a>
					<!--/if(SYS_B2BBLOCK)-->
				</h1>
				
				<div class="menu_wrap">
					<h2 class="hide">메인 메뉴</h2>
					<ul id="gnb" class="gnb" style="clear:both">
						<!--@loop(top_menu)-->
						<li id="gnb_{{top_menu.code}}"><a href="{{top_menu.link}}" target="{{top_menu.target}}" title="{{top_menu.menu_nm}} 페이지로 이동">{{top_menu.menu_nm}}</a></li>
						<!--/loop(top_menu)-->
					</ul>
				</div>

			</div>
		</div>