		<div id="header">
			<div class="util_wrap">
				<h2 class="hide">유틸 메뉴</h2>
				<div class="util_menu" >
					<ul>
						<!--@nif(login_block)--><li><a href="/member/login.jsp" title="로그인페이지로 이동" >로그인</a></li><!--/nif(login_block)-->
						<!--@if(login_block)--><li><a href="/member/logout.jsp" title="로그아웃하고 메인으로 이동" >로그아웃</a></li><!--/if(login_block)-->
						<!--@if(login_block)--><li class="b2b_h"><a href="/mypage/cart_list.jsp" title="장바구니 페이지로 이동" >장바구니</a></li><!--/if(login_block)-->
						<!--@nif(login_block)--><li><a href="/member/agreement.jsp" title="회원가입 페이지로 이동" >회원가입</a></li><!--/nif(login_block)-->
					</ul>
					<!--@if(login_block)--><p class="af_log"><strong>{{SYS_USERNAME}}</strong><span style="font-size:12px;">님 환영합니다.</span></p><!--/if(login_block)-->
				</div>
			</div>
			<div class="inner">
				<h1 class="logo">
					<!--@nif(SYS_B2BBLOCK)-->
					<a href="/main/index.jsp" title="메인페이지로 이동">
						<img src="{{SITE_INFO.logo_url}}" alt="{{SITE_INFO.site_nm}}" onerror="" />
					</a>
					<!--/nif(SYS_B2BBLOCK)-->
					<!--@if(SYS_B2BBLOCK)-->
					<a href="/mypage/index.jsp" title="메인페이지로 이동">
						<img src="{{SYS_B2BFILE}}" alt="{{SYS_B2BNAME}}" onerror="" />&nbsp;<!--/if(SYS_B2BBLOCK)-->
					</a>
					<!--/if(SYS_B2BBLOCK)-->
				</h1>
				
				<div class="menu_wrap">
					<h2 class="hide">메인 메뉴</h2>
					<ul id="gnb" class="gnb" style="clear:both">
						<!--@loop(top_menu)-->
						<li id="gnb_{{top_menu.code}}"><a href="{{top_menu.link}}" target="{{top_menu.target}}" title="{{top_menu.menu_nm}} 페이지로 이동">{{top_menu.menu_nm}}</a></li>
						<!--/loop(top_menu)-->
					</ul>
				</div>

			</div>
		</div>