@charset "utf-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');

body{font-family:"Pretendard";font-size:15px;letter-spacing:-0.03em !important;}
a:link, a:visited, a:active {text-decoration: none;}
input {outline:none !important;}

/* 메인&로그인페이지 헤더 CSS */
/* newkl header - mainpage */
#header .inner {position: relative; width: 100% !important; height: 100px;}
.inner h1.logo_left {left: 0 !important;}
.header-newkl .main_gnb {display: none;}

.header-newkl .inner .util_top li {padding: 0 20px;}
.inner h1.logo_left {left: 20px !important;}
/*.main_menu_wrap {right: 20px !important;}*/
.main_menu_wrap {left: 300px !important;}
.main_menu_wrap .icon-menu {right: 20px; margin-top: -30px;}
.main_menu_wrap .main_menu a {padding: 0; font-weight: 600;margin: 0 50px 0 0px;box-sizing: border-box;}
body.logged-in .login_box_custom {display: none;}
.logo_left img {width: 261px; height: 80px;}

/* 반응형이 아닐 때만 margin-top 적용 */
@media screen and (min-width: 1024px) {
.logo_left img {
    margin-top: -10px !important;
  }
}
/*.util_wrap .util_menu  {display: none;}*/
/*.video-background {max-width: 1920px !important;}*/
#video {top: -67% !important;}
/*#thumbnail {top: -20% !important;}*/
/*.video-container {position: relative; width: 100%;}*/
/*#container.main {position: static;}*/


/*########## 반응형 ##########*/
@media all and (max-width:1299px) {
    .header-newkl .inner {width: 100% !important;}
    .inner h1.logo_left {left:20px !important; top:10px;width:100%;max-width:250px;height:40px;}
    .inner h1.logo_left img {position: absolute; left:60px; top:12px;width:auto;max-width:100%;height:inherit;max-height:50px;}
    .header-newkl .inner .util_top li {padding: 0; padding-right: 20px;}
    .util_toggle_btn1 {color: red;}
    /*.header-newkl .main_menu_wrap {display: none}*/
    /*#hamburger_menu {display: block !important;}*/
}

@media all and (max-width:1024px) {
    /* mainpage */
    .main_outer {padding-top: 0;}
    .main_area_wrap {display: block !important;}
    .main_left_area {height: 100%;}
    .main_right_area {width: 100% !important; height: 100%;margin-bottom: 3%;}
    .new-title-black {padding: 30px 0 10px 0;}
    .btn-more-txt {margin: 30px 0 0 0;}
    .new_list .item, .best_list .item {width: 100% !important;margin: 0 !important;}
    .top_wrap_new, .top_wrap_best {width: 100% !important;}
    
}

@media all and (max-width:767px) {
    .title-w {font-size: 18px;padding-bottom: 20px;}
    .login_box_custom .btn-b {font-size: 15px;padding: 10px;}
    .new-title-black, .title-black {font-size: 18px;}
    .main_left_area .list_top li a{font-size: 14px;line-height: 14px;}
    .faq_top li a {font-size: 14px;line-height: 20px;text-overflow: ellipsis;width: 100%;}
    .main_left_area .list_top li span{line-height: 14px;}
    .main_left_area .list_top li:before, .faq_top li:before {width: 3px; height: 3px;}
    .main_left_area .list_top li:before {top: 12px;}
    .btn-more {width: 20px;height: 20px;}
    .btn-more a {line-height: 20px;}
    .btn-more img {width: 55%;}
    .operation_title_box {gap: 10px;}
    .operation_title_box img {width: 50px;height: auto;}
    .operation_title_box h3 {font-size: 18px;line-height: 20px;}
    .operation_title_box h3 span {font-size: 16px;}
    .operation_call {font-size: 18px;margin: 10px 0;}
    /*.operation_time {font-size: 14px;}*/

}

@media all and (max-width:550px) {
    /*.main_left_area {padding: 0 2%;}*/
    .util_toggle_btn img {margin: 25px 0 0 20px;}
    /*.main_left_area {padding-top: 30px;}*/
    .operation_box_wrap{margin-top: 50px;}
    .gray_box_custom_wrap {margin: 20px 0 30px;}
    .operation_box_wrap, .login_box_custom, .notice_box_custom, .notice_box_custom {width: 94%}
    .gray_box_custom_wrap {width: auto;}
	.inner h1.logo_left img {top: 20px;max-height: 50px;}
	.util_toggle_btn {margin-top: 10px;}
	.header-newkl .inner .util_top li {padding-top: 10px;line-height: 12px;}
	.header-newkl .inner .util_top li a {font-size: 12px;}
    .main_left_area .list_top li {padding: 5px 0 5px 15px;}
    .main_left_area .list_top li a {width: 100%;}
    .main_left_area .list_top li span {float: left; padding: 5px 0;}
    .gray_box_custom {width: 100px;height: 40px;}
    .gray_box_custom a {font-size: 13px;}
    .manual_cs_wrap {display: block;width: 94%;margin: 0 !important;} 
    .gray_box_custom_wrap {display: block;max-width: 480px;text-align: left;}
    .cs_box_wrap {display:none;width: 100%;text-align: center;box-sizing: border-box;}
    .cs_box_wrap .title-black{text-align: center;font-size: 18px;line-height: 20px;}
    .cs_box_wrap img {width: 50px; height: auto;}
    
}
