@charset "utf-8";

#wrap{width:100%}
#header{height:91px;border-bottom:2px solid #507bd7;width:960px;margin:0 auto}
#header .inner{overflow:hidden}
.inner h1.logo{float:left;margin-top:35px}
.inner .menu_wrap{float:right;margin-top:10px;width:650px}
.menu_wrap .util_menu{float:right}
.menu_wrap .util_menu li{float:left;padding-left:10px;background: url(/html/images/common/blt_dot.png) no-repeat 0 8px;margin-right:5px}
.menu_wrap .util_menu li a{display:block;}
.menu_wrap .af_log{float:right;margin-right:10px}
.menu_wrap #gnb{margin-top:23px;float:right}
.menu_wrap #gnb li{padding-left:44px;float:left;background: url(/html/images/common/blt_gnb.jpg) no-repeat 22px 50%}
.menu_wrap #gnb li.first{background-image:none}
.menu_wrap #gnb li a{font-weight:700;font-size:16px;}
.menu_wrap #gnb li.on a{color:#507bd7}
.menu_wrap #gnb li a:hover{color:#507bd7}
#container.main{width:960px;margin:0 auto;padding-bottom:30px}
#container{margin:0 auto;width:960px}
#container .main_visual{height:320px;background-color:#ddd}
#container .horizontal_wrap{position:relative}
.horizontal_wrap .top_title{background-color:#efefef;border:1px solid #e5e5e5;height:33px;line-height:33px;text-indent:17px;font-weight:700;color:#333}
.horizontal_wrap .horizontal_list{border-left:1px solid #e5e5e5;overflow:hidden}
.horizontal_wrap .horizontal_list li{float:left;border:1px solid #e5e5e5;padding:12px 13px 15px 14px;border-left:none;border-top:none;min-height:200px;width:212px}
.horizontal_wrap .horizontal_list li.first{padding-left:13px}
.horizontal_list span{display:block}
.horizontal_list span.img_box{border:1px solid #e0e1e4;position:relative;margin-bottom:15px;width:210px;height:150px}
.horizontal_list span.img_box a{position:relative;display:block}
.horizontal_list span.img_box >  a > img{width:210px;height:150px;text-align:center}

.horizontal_list span.list_subject{font-weight:700;padding-left:4px}
.horizontal_list span.list_blt{padding-left:10px;background: url(/html/images/common/blt_tri.jpg) no-repeat 0 50%;line-height:18px;font-size:12px;text-overflow:ellipsis;overflow:hidden;white-space:nowrap}
.horizontal_wrap .more{position:absolute;right:13px;top:10px}
.square_list{overflow:hidden;margin-left:-20px}
.square_list > li{float:left;margin-left:20px;width:225px}
.square_list > li .square_box{background-color:#f1f2f4;padding:0 15px;position:relative}
.square_list > li .square_box.double{height:203px}
.square_list > li .square_box .sq_top{border-bottom:1px solid #f1f2f4;padding:15px 0;min-height:108px}
.square_list > li .square_box .sq_bot{border-top:1px solid #fff;padding:15px 0;min-height:108px}
.square_list > li .square_box .top_title{font-weight:700;margin-bottom:13px;color:#333}
.square_list > li .square_box.double .top_title{font-size:16px;color:#333;padding:20px 0 12px 0;border-bottom:1px solid #e1e1e1;margin:0}
.square_list > li .square_box.double .sq_text{padding-top:14px;border-top:1px solid #fff}
.square_list > li .square_box.double .sq_con{padding-top:14px;border-top:1px solid #fff}
.square_box .more{position:absolute;right:15px;top:15px}
.sq_text .cen_tel{color:#507bd7;font-size:16px;font-weight:700}
.sq_text span{display:block;font-size:12px;line-height:150%}
.sq_text span.list_blt{padding-left:10px;background: url(/html/images/common/blt_tri2.jpg) no-repeat 0 50%}
.sq_text span.f_gb{font-weight:700;color:#507bd7;font-size:16px}
.list_top li{padding-left:13px;background: url(/html/images/common/blt_tri2.jpg) no-repeat 5px 50%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;margin-bottom:4px}
.list_top li a{font-size:12px}
.faq_top li{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;line-height:20px;margin-bottom:4px}
.faq_top li span{display:inline-block;width:60px;height:20px;color:#fff;font-size:11px;padding-left:4px}
.faq_top li .blue{background: url(/html/images/common/blue_cate.png) no-repeat 0 0}
.faq_top li .green{background: url(/html/images/common/green_cate.png) no-repeat 0 0}
.faq_top li a{font-size:12px}
#footer{}
#footer .foot_menu{width:960px;background-color:#908f95;margin:0 auto}
.foot_menu .foot_list{width:960px;margin:0 auto;text-align:center;padding:10px 0}
.foot_menu .foot_list li{padding-left:35px;background: url(/html/images/common/blt_wbar.jpg) no-repeat 18px 50%;display:inline-block;zoom:1;*display:inline;vertical-align:top}
.foot_menu .foot_list li.first{background-image:none;padding-left:0}
.foot_menu .foot_list li a{color:#fff}
#footer .copy{padding:15px 0 40px 0;overflow:hidden;width:960px;margin:0 auto}
#footer .copy .foot_logo{float:left;margin:8px 30px 0 26px}
.foot_info{overflow:hidden;text-align:center}
.foot_info address{font-size:12px;line-height:18px}
.foot_info .biz_no{font-size:12px;line-height:18px;padding-left:28px;background: url(/html/images/common/blt_bbar.jpg) no-repeat 14px 50%}
.foot_info .copyright{}

/*main */
.main_visual{position:relative;height:320px}
#slides{position:absolute;top:0;left:0;z-index:100}
.slides_container{width:960px !important;height:320px !important}
.slides_container div{width:960px !important;height:320px !important;display:block}
.pagination{position:absolute;left:0;bottom:0;z-index:101}
.pagination li{width:238px;height:32px;background: url(/html/images/common/main_off.png) no-repeat 0 0;float:left;padding-top:8px;margin:0 1px}
.pagination li a{display:block;text-align:center;line-height:32px;font-weight:700;color:#fff}
.pagination li.current{background: url(/html/images/common/main_on.png) no-repeat 0 0}
/* layout */
.main_wrap{width:960px;margin:0 auto;overflow:hidden}
.main_wrap .main_content{overflow:hidden;}
.main_wrap .main_content > div{float: left}
.main_wrap .left_area{float:left;width:194px;padding:19px 19px 0 0}
.main_wrap #contet_area{float:left;width:709px;border-left:1px solid #e2e2e2;min-height:750px;padding:25px 0 30px 37px;position:relative}

/*lnb */
.left_area{}
.left_area .lnb_title{font-weight:700;font-size:16px;color:#fff;background-color:#507bd7;height:43px;line-height:43px;text-indent:15px}
.left_area .lnb_list{padding-bottom:29px;min-height:150px}
.left_area .lnb_list li{height:32px;line-height:32px;border-bottom:1px solid #e2e2e2}
.left_area .lnb_list li a{color:#666;display:block;font-weight:700;padding:0 8px}
.left_area .lnb_list li.on a{color:#507bd7;background: url(/html/images/common/blt_lnb.png) no-repeat 95% 50%}
.left_area .lnb_list li a:hover{color:#507bd7;background: url(/html/images/common/blt_lnb.png) no-repeat 95% 50%}
.left_area .sp_center{width:180px;height:110px;background: url(/html/images/common/center_bg.png) no-repeat 0 0;margin-left:3px;padding-top:50px;padding-left:11px}
.left_area .sp_center .top_title{font-weight:700;color:#333;font-size:16px;margin-bottom:10px}

.step_list{padding-top:50px;border-top:2px solid #0d0b0b}
.step_list > li{padding-left:90px;padding-bottom:40px}
.step_list li.step01{background: url(/html/images/icon/icon_step01.jpg) no-repeat 0 0}
.step_list li.step02{background: url(/html/images/icon/icon_step02.jpg) no-repeat 0 0}
.step_list li.step03{background: url(/html/images/icon/icon_step03.jpg) no-repeat 0 0}
.step_list li.step04{background: url(/html/images/icon/icon_step04.jpg) no-repeat 0 0}
.step_list li.step05{background: url(/html/images/icon/icon_step05.jpg) no-repeat 0 0}
.step_list li.step06{background: url(/html/images/icon/icon_step06.jpg) no-repeat 0 0}
.step_list li.step07{background: url(/html/images/icon/icon_step07.jpg) no-repeat 0 0}
.step_list li.step08{background: url(/html/images/icon/icon_step08.jpg) no-repeat 0 0}
.step_list li.step09{background: url(/html/images/icon/icon_step09.jpg) no-repeat 0 0}
.step_list li h6{font-weight:700;font-size:15px;margin-bottom:10px}
.step_list li em{color:#e2450e}
.step_list li p{line-height:18px}
.step_list li .dep1{margin-top:20px}
.step_list li .dep2{margin:10px 0}

.privacy h3{font-weight:700;font-size:15px}
.privacy dl{padding-left:5px}
.privacy dt{font-weight:700;margin-bottom:10px}
.privacy dd{margin-bottom:10px}
.privacy p{margin-top:5px;float:none !important}
.privacy .depth2{padding-left:10px}
.privacy .depth2 > li{margin:2px 0}
.privacy .depth3{padding-left:10px}
.privacy .depth3 > li{margin:2px 0}
.privacy .tel_list{overflow:hidden}
.privacy .tel_list li{float:left;width:50%}
.clause h3{margin-top:20px;font-weight:700;font-size:15px}
.clause .depth1 li{line-height:150%}
.clause .depth1{margin-top:10px;padding-left:8px;float:none}
.clause .depth2{padding-left:16px}
.clause .depth3{padding-left:24px}

.sitemap_wrap{overflow:hidden;margin-left:-32px;margin-top:15px}
.sitemap_wrap > li{background-color:#f1f2f4;float:left; width:175px;margin-left:32px;height:233px;margin-bottom:32px;padding:15px 20px}
.sitemap_wrap > li h6.site_title{height:30px;line-height:30px;color:#507bd7;font-size:15px;font-weight:700;border-bottom:1px solid #dcdcdc}
.sitemap_wrap .site_list{border-top:1px solid #fbfcfc}
.sitemap_wrap .site_list li{height:26px;padding-left:10px;background: url(/html/images/common/blt_dot.png) no-repeat 3px 50%;line-height:26px}

table.buy_book tbody td{border:none;vertical-align:top;font-size:12px;border-bottom:1px solid #d1d1d1}
table.buy_book tbody td.book_name{text-align:left;padding-left:4px}
table.buy_book tbody td.book_price{text-align:right}
table.buy_book tbody td.book_buy{text-align:right}
table.buy_book tbody td.book_buy input{vertical-align:top;margin-top:4px}
table.buy_book tbody td.last{border:none}

.pop_wrap .pop_title{position:relative;height:44px;background-color:#507bd7;line-height:44px}
.pop_wrap .pop_title h6{color:#fff;font-size:16px;font-weight:bold;padding-left:18px}
.pop_wrap .pop_title .pop_closed{position:absolute;right:13px;top:13px}
.pop_wrap .pop_title .time{position:absolute;right:25px;top:0;height:30px;width:250px;line-height:30px;color:#fff;text-align:center;font-weight:bold;background-color:#3cc0f7;margin:7px 0}
.pop_wrap .post_con{border:1px solid #507bd7;border-top:none;height:392px;width:482px;padding:13px 8px 0}
.pop_wrap .control-group{text-align:center;margin-top:19px;line-height:24px}
.pop_wrap .control-group .control-label{display:inline-block;zoom:1;*display:inline;font-weight:700;color:#555;vertical-align:top}
.pop_wrap .control-group .controls{display:inline-block;zoom:1;*display:inline;vertical-align:top}
.pop_wrap .inner_tb{height:230px;overflow:auto}
.tb_post{border-top:2px solid #727272;margin-top:18px;border-bottom:1px solid #d2d2d4}
.tb_post thead th{height:36px;background-color:#f6f6f6;border-left:1px solid #d2d2d4;border-right:1px solid #d2d2d4;color:#000}
.tb_post > tbody > tr > td{;border-left:1px solid #d2d2d4;border-right:1px solid #d2d2d4}
.post_code{border-right:1px solid #d2d2d4;text-align:center;border-bottom:1px solid #d2d2d4}
.addr_code{padding-left:4px;border-bottom:1px solid #d2d2d4;line-height:23px}
#address a{font-size:12px;}
#nodata td{height:230px;text-align:center;font-size:14px}

.page_license{background: url(/html/images/common/bg_guide.jpg) no-repeat 0 0;padding-top:130px;padding-bottom:50px}
.page .page_h{font-size:15px;font-weight:700;color:#333;padding-left:10px}
.page .page_title{font-size:15px;font-weight:700;color:#507bd7;padding-left:30px;background: url(/html/images/common/blt_curri.jpg) no-repeat 10px 50%;margin-top:20px}
.page .ptext{margin-top:8px;margin-bottom:20px;color:#333;padding-left:10px}
.page .tb_page{text-align:center}
.page .tb_page thead th{padding:10px 0;color:#333;border-bottom:2px solid #ddd}
.page .tb_page tbody td{padding:10px 0;color:#333;border-bottom:1px solid #ddd;border-left:1px solid #ddd}
.page .tb_page tbody td.bd_none{border-left:none}

.cv .page_title{font-size:15px;font-weight:700;color:#3c3c3c;padding-left:20px;background: url(/html/images/common/blt_curri.jpg) no-repeat 0 50%;margin-top:20px;margin-bottom:8px}
.cv .cv_text{margin-bottom:20px;color:#3c3c3c;padding-left:4px;padding-bottom:8px}
.cv .tb_cv{border-top:2px solid #727272}
.cv .tb_cv thead th{padding:8px 0; background-color:#f8f8f8;border-bottom:1px solid #d1d1d1}
.cv .tb_cv tbody td{padding:8px 0;border-bottom:1px solid #d1d1d1;text-align:center}
.cv .tb_cv tbody td.tal{text-align:left;padding-left:20px}

/* 페이징 */
.page_box{ margin:0 auto; table-layout:auto !important}
.page_box li{vertical-align:top;display:inline-block;zoom:1;*display:inline;vertical-align:top}
.page_box li.page_margin{display:none}
.page_box li div{width:18px;height:18px;border:1px solid #bebebe;padding:0;margin:0 2px;line-height:18px}
.page_box td{ padding:0px; border-width:0px; font-family:verdana; color:#999999; font-size:12px }
.page_p_btn{display:none}
.page_n_btn{display:none}
.page_box .page_first_btn{background:url(/html/images/common/page_bar.png) no-repeat 0 0; width:20px; height:20px;border:none}
.page_box .page_last_btn{background:url(/html/images/common/page_bar.png) no-repeat -30px -30px; width:20px; height:20px;border:none }
.page_box .page_prev_btn{background:url(/html/images/common/page_bar.png) no-repeat -30px 0; width:20px; height:20px;border:none }
.page_box .page_next_btn{background:url(/html/images/common/page_bar.png) no-repeat 0 -30px; width:20px; height:20px;border:none }
.page_box li div.page_seperator{display:none}
.page_box li .page_number_btn_on	{background-color:#507bd7; color:#fff; font-weight:700; width:20px; height:20px;border:none;line-height:20px }
.page_box li a:hover{text-decoration:none}
.page_box li .page_number_btn:hover{background-color:#507bd7;color:#fff;width:20px; height:20px;border:none;line-height:20px}

.tab_wrap{padding-top:7px}
.tab_wrap2{padding-top:7px}
.tab_wrap{position:relative}
.tab_tt{display:inline-block;margin-bottom:10px;border-bottom:2px solid #507bd7;width:100%}
.tab_tt li{float:left;position:relative;width:138px;height:38px}
.tab_tt li a{display:block;background-color:#fff;border:1px solid #d2d2d4;line-height:37px;text-align:center;color:#3c3c3c;border-bottom:none;font-size:14px;z-index:4}
.tab_tt li.on a{background-color:#f7f9fd;color:#507bd7;font-weight:700;border:2px solid #507bd7;border-bottom:2px solid #fff;z-index:5;position:absolute;left:0;top:0;width:134px;height:36px}

.my_box{border:1px solid #d7d7d7;border-top:2px solid #676767;overflow:hidden}
.my_box .my_info{padding:20px;width:363px;float:left;position:relative}
.my_box .my_info h6{font-weight:700;color:#2d2d2d;font-size:16px;padding-bottom:10px}
.my_box .my_info .h6_sub{color:#757575;font-size:11px;padding-left:10px;background: url(/html/images/common/blt_bar.png) no-repeat 5px 0}
.my_box .my_info li{overflow:hidden;height:20px;line-height:20px;margin-bottom:5px}
.my_box .my_info li strong{display:block;float:left;width:70px}
.my_box .my_info li span{display:block;float:left;width:190px}
.my_box .my_info li span.name{font-weight:700;color:#3c3c3c}
.my_box .my_info .btn_more{position:absolute;right:20px;top:20px}
.my_box .my_info .my_info_in{border-top:1px solid #d7d7d7;padding:15px 0 0 100px;background: url(/html/images/common/myinfo_img.jpg) no-repeat 0 15px;min-height:100px}
.my_box .my_note{padding:20px;float:left;width:263px;border-left:1px solid #d7d7d7;position:relative}
.my_box .my_note h6{font-weight:700;color:#2d2d2d;font-size:16px;padding-bottom:10px}
.my_box .my_note .h6_sub{color:#757575;font-size:11px;padding-left:10px;background: url(/html/images/common/blt_bar.png) no-repeat 5px 0}
.my_box .my_note .btn_more{position:absolute;right:20px;top:20px}
.my_box .my_note .my_note_in{border-top:1px solid #d7d7d7;padding:15px 0 0 0;min-height:110px}
.my_box .my_note .my_note_in li{position:relative;margin-bottom:2px}
.my_box .my_note .my_note_in li a{vertical-align:top}
.my_box .my_note .my_note_in li img{vertical-align:top}
.my_box .my_note .my_note_in li p{width:190px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;height:20px;line-height:20px}
.my_box .my_note .my_note_in li .note_day{position:absolute;right:0;top:0}

.tb_table .progress{width:190px;height:18px;background-color:#ececec;display:inline-block}
.tb_table .progress span{display:block;background-color:#e2450e;height:18px}

/* sub_page  */
.sub_page .sub_tt{font-size:20px;line-height:150%;font-weight:700;padding:40px 0}
.sub_page .sub_tt em{color:#507bd7}
.sub_page .right{float:right}
.sub_page .left{float:left}
.sub_page .bd_bot{border-bottom:2px solid #000;overflow:hidden}
.sub_page .ovh{overflow:hidden}
.sub_page .text{width:350px;padding:10px 0}
.sub_page .w48p{width:48%;float:left}
.sub_page .mr4p{margin-right:4%}
.sub_page div p{float:left}
p.sign{clear:both;text-align:right;padding-top:30px}
p.sign strong{padding:0 10px}
.sub_page .rule dt{font-weight:700;color:#000}
.sub_page .rule dd{margin-bottom:20px}
.sub_page .rule dd .rule_1{margin-top:20px}
.sub_page .rule dd .rule_1 > li{margin-bottom:20px}
.sub_page .rule dd .dep1{margin:20px 0}
.sub_page .rule dd .dep1 > li{margin-top:10px}
.sub_page .rule dd .dep2{margin-left:10px}
.sub_page .year{border-top:2px solid #676767}
.sub_page .year_dl{padding:20px 0;overflow:hidden;border-bottom:1px solid #d1d1d1}
.sub_page .year_dl dt{font-weight:700;font-size:20px;display:block;float:left;width:104px}
.sub_page .year_dl dd{float:left}
.sub_page .year_dl dd li{padding-left:8px;background: url(/html/images/common/blt_dot.png) no-repeat 0 8px}
.loca li{padding-left:8px;background: url(/html/images/common/blt_dot.png) no-repeat 0 50%}
