@font-face {
	font-family:'noto_sans';
	font-style:normal;
	font-weight:100;
	src:url(//cdn.malgnlms.com/common/font/notokr/notokr-thin.eot);
	src:url(//cdn.malgnlms.com/common/font/notokr/notokr-thin.eot?#iefix) format('embedded-opentype'),
	url(//cdn.malgnlms.com/common/font/notokr/notokr-thin.woff) format('woff');
}
@font-face {
	font-family:'noto_sans';
	font-style:normal;
	font-weight:200;
	src:url(//cdn.malgnlms.com/common/font/notokr/notokr-light.eot);
	src:url(//cdn.malgnlms.com/common/font/notokr/notokr-light.eot?#iefix) format('embedded-opentype'),
	url(//cdn.malgnlms.com/common/font/notokr/notokr-light.woff) format('woff');
}
@font-face {
	font-family:'noto_sans';
	font-style:normal;
	font-weight:300;
	src:url(//cdn.malgnlms.com/common/font/notokr/notokr-demiLight.eot);
	src:url(//cdn.malgnlms.com/common/font/notokr/notokr-demiLight.eot?#iefix) format('embedded-opentype'),
	url(//cdn.malgnlms.com/common/font/notokr/notokr-demiLight.woff) format('woff');
}  
@font-face {
	font-family:'noto_sans';
	font-style:normal;
	font-weight:400;
	src:url(//cdn.malgnlms.com/common/font/notokr/notokr-regular.eot);
	src:url(//cdn.malgnlms.com/common/font/notokr/notokr-regular.eot?#iefix) format('embedded-opentype'),
	url(//cdn.malgnlms.com/common/font/notokr/notokr-regular.woff) format('woff');
}
@font-face {
	font-family:'noto_sans';
	font-style:normal;
	font-weight:500;
	src:url(//cdn.malgnlms.com/common/font/notokr/notokr-medium.eot);
	src:url(//cdn.malgnlms.com/common/font/notokr/notokr-medium.eot?#iefix) format('embedded-opentype'),
	url(//cdn.malgnlms.com/common/font/notokr/notokr-medium.woff) format('woff');
}
@font-face {
	font-family:'noto_sans';
	font-style:normal;
	font-weight:600;
	src:url(//cdn.malgnlms.com/common/font/notokr/notokr-bold.eot);
	src:url(//cdn.malgnlms.com/common/font/notokr/notokr-bold.eot?#iefix) format('embedded-opentype'),
	url(//cdn.malgnlms.com/common/font/notokr/notokr-bold.woff) format('woff');
}
@font-face {
	font-family:'noto_sans';
	font-style:normal;
	font-weight:700;
	src:url(//cdn.malgnlms.com/common/font/notokr/notokr-black.eot);
	src:url(//cdn.malgnlms.com/common/font/notokr/notokr-black.eot?#iefix) format('embedded-opentype'),
	url(//cdn.malgnlms.com/common/font/notokr/notokr-black.woff) format('woff');
}
