
@font-face {
	font-family:'noto_sans';
	font-style:normal;
	font-weight:200;
	src:url(//cdn.malgnlms.com/common/font/notokr/notokr-light.eot);
	src:url(//cdn.malgnlms.com/common/font/notokr/notokr-light.eot?#iefix) format('embedded-opentype'),
	url(//cdn.malgnlms.com/common/font/notokr/notokr-light.woff) format('woff');
}
@font-face {
	font-family:'noto_sans';
	font-style:normal;
	font-weight:600;
	src:url(//cdn.malgnlms.com/common/font/notokr/notokr-bold.eot);
	src:url(//cdn.malgnlms.com/common/font/notokr/notokr-bold.eot?#iefix) format('embedded-opentype'),
	url(//cdn.malgnlms.com/common/font/notokr/notokr-bold.woff) format('woff');
}