
/* 댓글답글 */
.comment_input {background-color: #f0f0f0;width:100%;padding:10px;display:flex;align-items:center;justify-content:space-between;margin-bottom:5px;}
.comment_input label {width:94%;}
.comment_input textarea {resize:none;overflow-y:hidden;height:46px;width:100%;min-height:46px;max-height:300px;}

.comment_box {margin-bottom:5px;}

.comment_header {border:2px solid #d0d0d0;padding:5px;display:flex;align-items:center;background-color:#fafafa;}
.comment_user {font-weight:bold;margin-right:10px;font-size:14px;color:#666666;}
.comment_date {margin-right:5px;font-size:12px;}
.btn_modify {background-color:#d0d0d0;border:1px solid #a0a0a0;margin-right:2px;font-size:12px;padding:1px 2px;width:35px;cursor:pointer;}
.btn_delete {background-color:#888888;border:1px solid #666666;height:20px;width:20px;padding:1px 2px 0 1px;filter:invert(100%);cursor:pointer;}
.comment_header button {margin-right:3px;}

.post_writer {border:1px solid #0a81bb;border-radius:10px;margin-right:5px;padding:2px 7px;font-size:12px;color:#0a81bb;}

.comment_body {border:2px solid #d0d0d0;border-top:0;padding:5px;}
.comment_content {margin-bottom:10px;}
.btn_reply {background-color:#888888;border:1px solid #666666;filter:invert(100%);width:50px;cursor:pointer;margin-bottom:2px;}
.toggle_reply {color:#909090;text-decoration:underline;margin-left:5px;cursor:pointer;font-size:14px;}
.toggle_reply[data-cnt="0"] {display:none;}

.reply_wrap {display:none;}

.reply_input {background-color: #f0f0f0;width:100%;padding:10px;display:flex;align-items:center;justify-content:space-between;margin-top:5px;}
.reply_input label {width:94%;}
.reply_input textarea {resize:none;overflow-y:hidden;height:46px;width:100%;min-height:46px;max-height:300px;}

.reply_box {margin-top:5px;background-color:#f0f0f0;padding:10px;}

.reply_header {padding:5px;display:flex;align-items:center;}
.reply_user {font-weight:bold;margin-right:5px;font-size:14px;color:#666666;}
.reply_target_user {color:#909090;margin-right:10px;font-size:12px;font-weight:bold;}
.reply_date {margin-right:5px;font-size:12px;}
.reply_header button {margin-right:3px;}

.reply_body {padding:0 5px;}
.reply_content {margin-bottom:10px;}
