@charset "utf-8";

@font-face {
  font-family: 'NanumGothic';
  font-style: normal;
  font-weight: 400;
  src: url(/common/font/NanumGothic-Regular.eot);
  src: url(/common/font/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),
       url(/common/font/NanumGothic-Regular.woff2) format('woff2'),
       url(/common/font/NanumGothic-Regular.woff) format('woff'),
       url(/common/font/NanumGothic-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'NanumGothic';
  font-style: normal;
  font-weight: 700;
  src: url(/common/font/NanumGothic-Bold.eot);
  src: url(/common/font/NanumGothic-Bold.eot?#iefix) format('embedded-opentype'),
       url(/common/font/NanumGothic-Bold.woff2) format('woff2'),
       url(/common/font/NanumGothic-Bold.woff) format('woff'),
       url(/common/font/NanumGothic-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'NanumGothic';
  font-style: normal;
  font-weight: 800;
  src: url(/common/font/NanumGothic-ExtraBold.eot);
  src: url(/common/font/NanumGothic-ExtraBold.eot?#iefix) format('embedded-opentype'),
       url(/common/font/NanumGothic-ExtraBold.woff2) format('woff2'),
       url(/common/font/NanumGothic-ExtraBold.woff) format('woff'),
       url(/common/font/NanumGothic-ExtraBold.ttf) format('truetype');
}

/* reset css */
html,body{margin:0;padding:0;height:100%}
body{font:13px/20px "나눔고딕",NanumGothic,Malgun Gothic, "돋움", Dotum, "굴림", Gulim, Arial, sans-serif;color:#777}
dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,tbody,tfoot,thead,th,td,select{margin:0;padding:0}
table{border-spacing:0;border-collapse:collapse}
ol,ul,li{list-style:none}
h1, h2, h3, h4, h5, h6 {font-weight:normal;font-size:100%}
hr, legend, .hidden{position:absolute; top:0; left:0; width:0; height:0; overflow:hidden; visibility:hidden; font-size:0; line-height:0; }
.hide{text-indent:-9999px;overflow:hidden;width:0;height:0;font-size:0;line-height:0}
caption{visibility:hidden;overflow:hidden;width:0;height:0;font-size:0;line-height:0}
abbr,acronym,img,fieldset{border:0 none}
button{padding:0;margin:0;border:0;cursor:pointer;vertical-align:top;background-color:#fff;font:13px/20px "나눔고딕", NanumGothic,Malgun Gothic, "돋움", Dotum, "굴림", Gulim, Arial, sans-serif}
label{cursor:pointer}
em,address{font-style:normal}
a {text-decoration:none;color:#777}
a:link,a:visited{color:#3c3c3c;text-decoration:none}
a:hover,a:active,a:focus{text-decoration:none} /* 현재 마우스 오버 밑줄 빼놓음 text-decoration:underline */
table{border-spacing:0;border-collapse:collapse;width:100%;table-layout:fixed}
.skip_nav{position:relative;}
.skip_nav a{display:block; height:1px; width:1px; margin-bottom:-1px; overflow:hidden; font-size:0;color:transparent; color:#fff; font-weight:700; white-space:nowrap;}
.skip_nav a:focus,.skip_nav a:active{height:auto; width:100%; padding:5px; margin-bottom:10px; position:absolute; left:0; top:0;font-size:20px; background:#2466a6;z-index:10}

/* style */
.search_form{text-align:center;padding-top:15px}
.search_form select{vertical-align:top;padding:2px 3px 3px;width:80px}
.search_form input[type=text] {vertical-align:top;border:1px solid #d1d1d1;padding:2px 4px 3px;width:180px;height:17px}

.path{overflow:hidden}
.path_list{float:right;background: url(/common/images/default/path_home.png) no-repeat 0 50%;padding-left:12px}
.path_list li{float:left;padding-left:16px;background: url(/html/images/common/blt_path.png) no-repeat 0 0;margin-left:5px;font-size:12px;line-height:12px;height:12px}
.path_list li.last{color:#222}

/* button style */
.button::-moz-focus-inner {border:0; padding:0;margin:-1px}
button.button::-moz-focus-inner {margin:0}
.button{width: auto;display: inline-block;cursor: pointer;line-height: 100%;border: none;border-radius: 3px;
	background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(100, 100, 100, 0.4));
    background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(100, 100, 100, 0.4));
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(100, 100, 100, 0.4));
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(100, 100, 100, 0.4));
    background-image: linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(100, 100, 100, 0.4));
	background-repeat: repeat-x;transition: color 0.2s ease, background-color 0.2s ease, border 0.2s ease, opacity 0.2s ease-in-out;padding:6px 16px;font-size:13px;text-align:center;
	font-family:"나눔고딕",NanumGothic;
	text-shadow: -1px -1px rgba(0, 0, 0, 0.2);
}
.button:hover, .button:focus{text-decoration:none}
.button.mini{padding:2px 4px;font-size:11px}
.button.small{padding:6px 10px 5px;font-size:11px}
.button.medium{padding:6px 10px;font-size:12px}
.button.large{padding:8px 20px;font-size:15px;font-weight:700}
.button,button,input[type=button],input[type=submit]{vertical-align:top}
.button.black{background-color: #444;color: #fff;border:1px solid transparent;
	background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(100, 100, 100, 0.1));
    background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(100, 100, 100, 0.1));
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(100, 100, 100, 0.1));
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(100, 100, 100, 0.1));
    background-image: linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(100, 100, 100, 0.1));
}
.button.black:hover{background-color: #222}
.button.white{font-weight:700;background-color: #fff;color: #333;border:1px solid #ccc;text-shadow: 1px 1px rgba(255, 255, 255, 0.2);
	background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(100, 100, 100, 0.1));
    background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(100, 100, 100, 0.1));
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(100, 100, 100, 0.1));
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(100, 100, 100, 0.2));
    background-image: linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(100, 100, 100, 0.2));
}
.button.white:hover{background-color: #eee;border:1px solid #bbb}
.button.blue{background-color: #428bca;color: #fff;border:1px solid #428bca}
.button.blue:hover{background-color: #317ab9}
.button.green{background-color: #5cb85c;color: #fff;border:1px solid #5cb85c}
.button.green:hover{background-color: #4ba74b}
.button.sky{background-color: #5bc0de;color: #fff;border:1px solid #5bc0de}
.button.sky:hover{background-color: #4ab0cd}
.button.orange{background-color: #ed9c28;color: #fff;border:1px solid #ed9c28}
.button.orange:hover{background-color: #dc8b17}
.button.red{background-color: #d9534f;color: #fff;border:1px solid #d9534f}
.button.red:hover{background-color: #c8423e}
.button.gray{background-color: #a3a3a3;color: #fff;border:1px solid #939393}
.button.gray:hover{background-color: #929292}
.button.long{padding-left:0px;padding-right:0;width:78px}
.button.login{padding:19px 20px;font-size:15px;font-weight:700;*padding:18px 0;*width:75px}

/* 테이블 리스트  홀짝 색 */
.type_list tbody tr:nth-child(odd) td, .type_list tbody tr:nth-child(odd) th{background-color: #f9f9f9;}
.tb_list tbody tr:nth-child(odd) td, .tb_list tbody tr:nth-child(odd) th{background-color: #f9f9f9;}

/* 테이블 리스트 오버 */
.type_list tbody tr:hover td, .type_list tbody tr:hover th{background-color:#f5f5f5}
.tb_list tbody tr:hover td, .tb_list tbody tr:hover th{background-color:#f5f5f5}

/* 라벨 */
.label{font-family:"돋움", Dotum, Arial, sans-serif;font-size:12px;padding:0 4px;font-weight:normal;vertical-align:1px;display:inline-block;height:16px;line-height:18px}
.label.red{background-color:#d9534f;color:#fff}
.label.blue{background-color:#428bca;color:#fff}
.label.gray{background-color:#999;color:#fff}
.label.green{background-color:#5cb85c;color:#fff}
.label.sky{background-color:#5bc0de;color:#fff}
.label.small{font-size:11px}
.label.large{font-size:13px}

input[type=text]{font:13px/20px "나눔고딕",NanumGothic,Malgun Gothic, "돋움", Dotum, "굴림", Gulim, Arial, sans-serif;height:17px;padding:2px 4px 3px;
  background-color: #ffffff !important;
  border: 1px solid #cccccc !important;
  /*border-radius: 4px !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;*/
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s !important;}
input[type=password]{font:13px/20px "나눔고딕",NanumGothic,Malgun Gothic, "돋움", Dotum, "굴림", Gulim, Arial, sans-serif;height:17px;
  background-color: #ffffff !important;
  border: 1px solid #cccccc !important;
  /*border-radius: 4px !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;*/
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s !important;}
select{font:13px/20px "나눔고딕",NanumGothic,Malgun Gothic, "돋움", Dotum, "굴림", Gulim, Arial, sans-serif;vertical-align:top;padding:2px 3px 3px;
  background-color: #ffffff !important;
  border: 1px solid #cccccc !important;
  /*border-radius: 4px !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;*/
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s !important;}


/* table button */
.board.btn{overflow:hidden;margin-top:10px;text-align:center}
.board.btn .left{float:left;margin-right:4px}
.board.btn .right{float:right;margin-left:4px}

.mt10{margin-top:10px}
.mt5{margin-top:5px}
.mt15{margin-top:15px}
.mt20{margin-top:20px}
.mt30{margin-top:30px !important}
.mb15{}
.w555{width:555px}
.nodata{text-align:center}
.h50{height:50px}
.pl20{padding-left:20px}
.bold{font-weight:bold}

.font12{font-size:12px;}

@charset "utf-8";

/* 
 * 작성자 : Kim Yanghyeon
 * 최종수정일 : 2014-04-22
 * 이메일/메신저 : jurio84@malgnsoft.com
 * LMS 서브 페이지 기본
 */ 

.content_title{font-weight:700;color:#333;font-size:18px;margin-top:5px;height:31px;line-height:24px;padding-left:27px;background: url(/html/images/common/blt_tt.png) no-repeat 0 2px;border-bottom:1px solid #d1d1d1}
.content_title2{font-weight:700;color:#333;font-size:18px;margin-top:5px;line-height:24px;padding-left:27px;background: url(/html/images/common/blt_tt.png) no-repeat 0 2px;border-bottom:1px solid #d1d1d1;padding-bottom:7px}
.content_title2 .class_tt{width:545px}
.content_title2 span{color:#666;letter-spacing:-1px}

.content_body{padding-top:15px;overflow:hidden}

.tb_top{overflow:hidden;padding:0 0 5px 0;height:25px}
.tb_top > .tb_title{float:left;padding:0;padding-top:4px;height:18px}
.tb_top > .search_form{float:right;margin-top:0;padding:0}
.tb_top > .search_form{}
.tb_top .list_top{overflow:hidden;float:left}
.tb_top .list_top select{padding:1px;vertical-align:top}
.tb_top .list_top .course_type{float:left}
.tb_top .list_top .list_ord{float:right}
.tb_top .list_top .list_ord li{float:left;background: url(../images/common/blt_bar.png) no-repeat 0 50%;padding-left:8px;margin-right:8px}
.tb_top .list_top .list_ord li a{font-weight:700}
.tb_top .list_top .list_ord li.first{background-image: none}

/* 리스트 or 웹진 */
a.back_icon{width:21px;height:21px;display:inline-block;text-indent:-9999px;background: url(/html/images/common/icon_list2.jpg) no-repeat -1px -1px;margin-top:2px}
a.btn_webzine{background-position:-28px -1px}
a.btn_webzine.on{background-position:-28px -28px}
a.btn_list{background-position:-1px -1px}
a.btn_list.on{background-position:-1px -28px}

.type_chart {border-top: 2px solid #676767}
.type_chart .list_li {padding:8px 0}
.type_chart .list_li .course_img{width:140px;height:100px;display:block;float:left;position:relative}
.type_chart .list_li .course_img a{display:block;width:140px;height:100px;overflow:hidden;border:1px solid #d1d1d1}
.type_chart .list_li .course_img a img{width:140px;display:block}
.type_chart .list_li .course_img .tm{position:absolute;left:0;top:0}
.type_chart .list_li .top_td{padding-top:10px}
.type_chart .list_li .top_td span{margin-left:4px}
.type_chart .list_li .bot_td span{margin-left:0}
.type_chart .list_li .bot_td{padding-bottom:10px;;border-bottom:1px solid #d1d1d1}
.type_chart .list_li .bot_td.tac{text-align:center}
.type_chart .list_li .btn_list{margin-bottom:-5px}
.type_chart .list_li .btn_list .button{margin-bottom:5px}
.type_chart strong{display:block;max-height:72px;line-height:20px;overflow:hidden;}
.type_chart strong a{color:#000;font-size:14px;font-weight:700}
.type_chart .list_li span{margin-left:4px}
.type_chart .list_li .ct_wrap{overflow:hidden}
.type_chart .list_li .ct_text{height:40px;overflow:hidden;line-height:20px;margin-top:10px}
.type_chart .list_li .ct_if{overflow:hidden;margin-top:10px}
.type_chart .list_li .ct_if .tutor{float:left;width:135px}
.type_chart .list_li .ct_if .p{float:left}
span.ori_price{font-weight:400;text-decoration:line-through;text-align:center;padding-right:5px}
.type_chart span.ori_price{padding-right:0}
span.price{;color:#e2450e;text-align:center;font-weight:700}
.type_list tfoot td{padding:20px 0;background-color:#f9f9f9;border-top:2px solid #d1d1d1;border-bottom:2px solid #d1d1d1;text-align:center}
.cart_sum{font-weight:700;color:#3c3c3c;padding:0 10px;font-size:14px}
.cart_sum em{font-weight:700;color:#e2450e}
.type_read{border-top: 2px solid #676767}
.type_read thead th{padding:8px 0;background-color:#f6f6f6;color:#000}
.type_read thead td{padding:8px 0;background-color:#f6f6f6;color:#000}
.type_read thead td.subject{padding-left:10px;font-weight:700}
.type_read td.files{padding-left:10px}
.type_read td .file_con{padding-right:5px}
.type_read thead td.view_info{text-align:right;padding-right:10px}
.type_read tbody td{border-bottom:1px solid #d1d1d1;padding:8px 0}
.type_read tbody td .read_text{padding:10px;min-height:200px}
.tb_review tbody td{padding:8px}
.type_write{border-top: 2px solid #676767}
.type_write tbody td{border-bottom: 1px solid #d1d1d1;padding:8px 0}
.type_write tbody td.tw_bold{font-weight:700;color:#474747;text-indent:8px}
.type_write input[type=text]{padding:2px 4px 3px; border:1px solid #d1d1d1;}
.type_write input[type=password]{padding:2px 4px 3px;border:1px solid #d1d1d1;}
.type_write #name{width:150px}
.type_write #subject{width:500px}
.type_write #tag{width:250px}
.type_write .write_text{padding:8px}
.type_write textarea{border:1px solid #d1d1d1;width:100%;min-height:200px;padding:8px 0}
.type_write span{padding-left:10px}
.book_con{overflow:hidden;margin-bottom:10px}
.book_con .con_img{float:left;width:200px;text-align:center}
.book_con .con_img img{width:200px}
.book_con .con_tx{float:left;margin-left:10px}
tbody th.tb_th{background-color:#f8f8f8;color:#474747;padding-left:10px;text-align:left;border-bottom:1px solid #d1d1d1}
tbody td.tb_td{padding-left:8px}
tbody td div.content{min-height:150px}
.type_write .join tbody td{padding-left:10px;padding-right:10px;height:22px;line-height:22px}
.type_write .w40{width:40px}
.type_write .w60{width:60px}
.type_write .w100{width:108px}
.type_write .w200{width:208px !important}
.type_write .w500{width:500px}
.type_write .wmax{width:580px}
.w400{width:400px}
.type_write input[type="radio"]{vertical-align:middle;margin-right:4px}
.type_write input[type="checkbox"]{vertical-align:middle;margin-right:4px}
.type_write .join button{margin-left:5px}
.nobg tbody th.tb_th{background-color:#fff}
.type_write .nobg tbody textarea{min-height:50px}
p.notice{font-weight:700;color:#3c3c3c;padding:10px 0 30px 0}
p.no_install{font-weight:700;color:#e2450e;text-align:right;font-size:15px;padding:20px 10px 0 0}
.pay_type{background-color:#f9f9f9;border-bottom:1px solid #d1d1d1;text-align:center;padding:20px 0}
.pay_type li{display:inline-block;margin-right:10px}
.pay_type li input{vertical-align:middle;margin-right:4px}
.sel_mom{margin-left:5px}
.sel_day{margin-left:5px}

.type_list{border-top: 2px solid #676767}
.type_list thead th{border-bottom: 2px solid #ddd;padding:10px 0;color:#3c3c3c}
.type_list tbody td{border-bottom: 1px solid #ddd;padding:8px 0}
.type_list tbody td.tac{text-align:center}
.type_list tbody td.tal{text-align:left;padding-left:10px}
.type_list tbody td.tal span{vertical-align:top;margin-left:2px}
.type_list tbody td.tal span img{vertical-align:top;margin-top:2px}
.type_list tbody td.tal .subject{max-width:80%;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;display:inline-block;float:left;line-height:19px;margin-right:4px}
.type_list tbody td.tal .subject img{vertical-align:top}
.type_list tbody td.tal .subject a{color:#777}


/* 페이징 */
.page_box{ margin:0 auto; table-layout:auto !important}
.page_box li{vertical-align:top;display:inline-block;zoom:1;*display:inline;vertical-align:top}
.page_box li.page_margin{display:none}
.page_box li div{width:18px;height:18px;border:1px solid #bebebe;padding:0;margin:0 2px;line-height:18px}
.page_box td{ padding:0px; border-width:0px; font-family:verdana; color:#999999; font-size:12px }
.page_p_btn{display:none}
.page_n_btn{display:none}
.page_box .page_first_btn{background:url(/html/images/common/page_bar.png) no-repeat 0 0; width:20px; height:20px;border:none}
.page_box .page_last_btn{background:url(/html/images/common/page_bar.png) no-repeat -30px -30px; width:20px; height:20px;border:none }
.page_box .page_prev_btn{background:url(/html/images/common/page_bar.png) no-repeat -30px 0; width:20px; height:20px;border:none }
.page_box .page_next_btn{background:url(/html/images/common/page_bar.png) no-repeat 0 -30px; width:20px; height:20px;border:none }
.page_box li div.page_seperator{display:none}
.page_box li .page_number_btn_on	{background-color:#507bd7; color:#fff; font-weight:700; width:20px; height:20px;border:none;line-height:20px }
.page_box li a:hover{text-decoration:none}
.page_box li .page_number_btn:hover{background-color:#507bd7;color:#fff;width:20px; height:20px;border:none;line-height:20px}

.path{position:absolute;right:0;top:35px}
.path_list{float:right;background: url(/html/images/common/path_home.png) no-repeat 0 50%;padding-left:12px}
.path_list li{float:left;padding-left:16px;background: url(/html/images/common/blt_path.png) no-repeat 0 0;margin-left:5px;font-size:12px;line-height:12px;height:12px}
.path_list li.last{color:#222}

.tab_wrap{padding-top:7px}
.tab_wrap2{padding-top:7px}
.tab_wrap{position:relative}
.tab_tt{display:inline-block;margin-bottom:10px;border-bottom:2px solid #507bd7;width:100%}
.tab_tt li{float:left;position:relative;width:138px;height:38px}
.tab_tt li a{display:block;background-color:#fff;border:1px solid #d2d2d4;line-height:37px;text-align:center;color:#3c3c3c;border-bottom:none;font-size:14px;z-index:4}
.tab_tt li.on a{background-color:#f7f9fd;color:#507bd7;font-weight:700;border:2px solid #507bd7;border-bottom:2px solid #fff;z-index:5;position:absolute;left:0;top:0;width:134px;height:36px}

.faq_wrap{border-top:2px solid #727272}
.faq_wrap .nodata{padding:8px 0;border-bottom:1px solid #d1d1d1}
.faq dt{width:609px;display:block;white-space:nowrap;text-overflow:ellipsis;padding:8px 50px;background: url(/html/images/common/faq_question.gif) no-repeat 15px 10px;border-bottom:1px solid #d1d1d1;overflow:hidden}
.faq dd{display:none;padding:8px 50px;background: #f4f4f4 url(/html/images/common/faq_answer.gif) no-repeat 15px 10px;border-bottom:1px solid #d1d1d1}
.faq.on dt{display:block;white-space:normal;}

/* login */
.login_box{border:1px solid #dcdcdc;padding:50px;overflow:hidden}
.log_tt{margin-bottom:50px}
.log_form{float:left;padding-right:35px;border-right:1px solid #e0e0e0;width:350px}
.log_area{overflow:hidden}
.log_in{float:left}
.log_in label{padding-right:13px}
.log_in div input{vertical-align:top;border:1px solid #d1d1d1;padding:2px 0 1px 4px;height:18px;width:160px;line-height:18px}
.log_in div{height:24px;margin-bottom:7px}
.log_in div.ip_pass{margin-bottom:0}
.log_area .ip_submit{float:left;margin-left:8px}
.login_box .ip_tx{margin-top:24px;font-size:12px;line-height:18px;color:#3c3c3c}
.login_box .ip_tx a{color:#e2450e ;font-weight:700}
.log_find{float:left;padding:22px 0 0 35px;width:186px}
.log_find dt{font-weight:700;letter-spacing:-1px}
.log_find dd{margin:8px 0 33px 0}

/*agreement */
.agreement_list{overflow:hidden;width:526px;margin:0 auto}
.agreement_list li{float:left;padding-left:47px;background: url(../images/common/blt_join.jpg) no-repeat 15px 50%}
.agreement_list li.first{padding-left:0;background-image:none}
.box_title{color:#2d2d2d;font-weight:700;margin:25px 0 5px 0}
.box_tx{margin:0 0 15px 0 }
.gray_box{border:1px solid #dcdcdc;background-color:#fafafa;padding:13px 15px;margin-bottom:20px}
.gray_box.top{border-top:2px solid #676767}
.gray_box .box_stitle{font-weight:700;font-size:13px;color:#464646;margin-bottom:8px}
.gray_box .g_box_in{border:1px solid #dbdbdb;background-color:#fff;height:60px;overflow:auto;padding:14px 10px;margin-bottom:10px}
.check input{vertical-align:middle;margin-right:4px}

.btns_agr{overflow:hidden;width:240px;margin:0 auto}
.btns_agr li{float:left;margin-left:6px}
.success{border-top:2px solid #676767;margin-top:5px;padding-top:30px}
.success .suc_in{overflow:hidden;width:524px;margin:0 auto}
.success .suc_in h6{float:left;margin-right:25px}
.success .suc_in span{display:block;float:left;margin:20px 55px 0 0}
.suc_p{width:335px;border-top:1px solid #dcdcdc;margin:20px auto;padding-top:20px}
.find_box{border: 1px solid #dcdcdc; border-top:2px solid #676767;padding:30px 0;margin-bottom:50px}
.find_box p{width:385px;margin:0 auto;padding-left:90px;margin-bottom:5px}
.find_box .find_id{width:475px;margin:0 auto}
.find_box .find_id li{overflow:hidden;margin-bottom:5px}
.find_box .find_id li strong{display:block;float:left;width:90px;line-height:24px}
.find_box .find_id li div{float:left;width:385px}

.find_box .find_id li input.w70{width:70px}
.find_box .find_id li input.w90{width:90px}
.find_box .find_id li input.w120{width:120px}
.find_box .find_id li input.w150{width:150px}

.sub_top{width:960px;height:130px;margin:0 auto}
.tb_title{font-weight:700;color:#333;padding:35px 0 5px 0;font-size:15px;height:18px}
.my_box{border:1px solid #d7d7d7;border-top:2px solid #676767;overflow:hidden}
.my_box .my_info{padding:20px;width:363px;float:left;position:relative}
.my_box .my_info h6{font-weight:700;color:#2d2d2d;font-size:16px;padding-bottom:10px}
.my_box .my_info .h6_sub{color:#757575;font-size:11px;padding-left:10px;background: url(/html/images/common/blt_bar.png) no-repeat 5px 0}
.my_box .my_info li{overflow:hidden;height:20px;line-height:20px;margin-bottom:5px}
.my_box .my_info li strong{display:block;float:left;width:70px}
.my_box .my_info li span{display:block;float:left;width:190px}
.my_box .my_info li span.name{font-weight:700;color:#3c3c3c}
.my_box .my_info .btn_more{position:absolute;right:20px;top:20px}
.my_box .my_info .my_info_in{border-top:1px solid #d7d7d7;padding:15px 0 0 100px;background: url(/html/images/common/myinfo_img.jpg) no-repeat 0 15px;min-height:100px}
.my_box .my_note{padding:20px;float:left;width:263px;border-left:1px solid #d7d7d7;position:relative}
.my_box .my_note h6{font-weight:700;color:#2d2d2d;font-size:16px;padding-bottom:10px}
.my_box .my_note .h6_sub{color:#757575;font-size:11px;padding-left:10px;background: url(/html/images/common/blt_bar.png) no-repeat 5px 0}
.my_box .my_note .btn_more{position:absolute;right:20px;top:20px}
.my_box .my_note .my_note_in{border-top:1px solid #d7d7d7;padding:15px 0 0 0;min-height:110px}
.my_box .my_note .my_note_in li{position:relative;margin-bottom:2px}
.my_box .my_note .my_note_in li a{vertical-align:top}
.my_box .my_note .my_note_in li img{vertical-align:top}
.my_box .my_note .my_note_in li p{width:190px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;height:20px;line-height:20px}
.my_box .my_note .my_note_in li .note_day{position:absolute;right:0;top:0}

.btn_submit{text-align:center;margin-top:10px}
.btn_submit.right{text-align:right}
.page_bar{padding-top:15px;text-align:center}
.read_page{margin-top:20px;border-top:2px solid #d1d1d1;border-bottom:2px solid #d1d1d1}
.read_page td{padding:8px 0}
.read_page td span{vertical-align:top;margin-left:2px}
.read_page td.first{border-bottom: 1px solid #d1d1d1}
.read_page td.pb_th{font-weight:700;text-align:center}
.read_page td.pb_subject .subject{max-width:80%;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;display:inline-block;float:left;line-height:19px}
.read_page td.pb_subject span img{vertical-align:top;margin-top:4px}
.read_page td.pb_day{text-align:right;padding-right:10px}
.read_page td.none_text{color:#999}

.course_infomation{border:1px solid #d1d1d1;border-top:2px solid #676767;padding:20px;overflow:hidden}
.course_infomation .info_img{;width:300px;float:left;margin-right:20px;text-align:center}
.course_infomation .info_img img{width:300px;height:220px;border:1px solid #d1d1d1;margin-bottom:10px}
.course_infomation .info_text{float:left;width:345px}
.course_infomation .info_text .info_title{font-size:15px;color:#3c3c3c;border-bottom:2px solid #e2450e;font-weight:700}
.course_infomation .info_text p{font-size:12px;color:#3c3c3c}
.course_infomation .info_text div.buy_book{float:left;width:250px}
.course_infomation .info_text div.buy_book p.book_name{text-align:left}
.course_infomation .info_text div.buy_book p.book_price{text-align:right}
.course_infomation .info_text div.buy_book p.book_price input{vertical-align:-3px;margin-left:10px}
.course_infomation .info_btn{overflow:hidden;padding-top:15px}
.course_infomation .info_btn li{float:right;margin-left:13px}
.course_foot{margin-top:30px}

.type_table{border-top: 2px solid #676767}
.type_table thead th{padding:8px 0;font-weight:700;color:#3c3c3c;border-bottom:1px solid #676767}
.type_table tbody th{padding:8px 0 8px 8px;background-color:#f8f8f8;font-weight:700;text-align:left;color:#3c3c3c;border-bottom:1px solid #d1d1d1}
.type_table tbody td{padding:8px 0 8px 8px ;color:#3c3c3c;border-bottom:1px solid #d1d1d1}
.type_table tbody td div.mh50{min-height:50px}
.type_table tbody th.tac{text-align:center;padding-left:0}
.type_table tbody td.tac{text-align:center;padding-left:0}
.type_table.type_inner{border-top:1px solid #d1d1d1}
.type_table.type_inner thead th{text-align:center;padding:4px 0}
.type_table.type_inner tbody td{text-align:center;padding:4px 0}
.type_table.type_inner tbody td.tal{text-align:left;padding-left:20px}


p.nodata{padding:8px 0 8px 10px;border-bottom:1px solid #d1d1d1}
.tb_box{border-top:2px solid #727272}
.tb_table tbody .tb_th{padding:8px 0 8px 10px;text-align:left;border-bottom:1px solid #d1d1d1;background-color:#f8f8f8;color:#444}
.tb_table tbody td{padding:8px 0 8px 10px;border-bottom:1px solid #d1d1d1}
.tb_table .progress{width:190px;height:18px;background-color:#ececec;display:inline-block}
.tb_table .progress span{display:block;background-color:#e2450e;height:18px}
.tb_list thead th{padding:8px 0 ;border-bottom:1px solid #676767;color:#444}
.tb_list tbody td{padding:8px 0 ;border-bottom:1px solid #d1d1d1}
.tb_list tbody td.tac{text-align:center}
.tb_list tbody td.tal{text-align:left}
.tb_list tbody td.tal span{vertical-align:-4px;margin-left:2px}
.tb_list tfoot th{padding:8px 0 ;border-bottom:1px solid #d1d1d1;background-color:#f9f9f9;font-weight:700}
.tb_list tfoot td{padding:8px 0 ;border-bottom:1px solid #d1d1d1;background-color:#f9f9f9;font-weight:700}
.tb_list tfoot td.tac{text-align:center}
.tb_list tfoot td.nline{border-bottom:1px solid transparent;padding-bottom:0}
.tb_list tfoot td.tline{padding-top:0}
.tb_list tfoot td .coment{padding-left:20px;font-weight:400}
.tb_list tfoot td em{font-weight:700;color:#f47400;padding-right:4px}
.tb_view tbody th{padding:8px 0 8px 8px;border-bottom:1px solid #d1d1d1;background-color:#f8f8f8;text-align:left}
.tb_view tbody td{padding:8px 0 8px 8px;border-bottom:1px solid #d1d1d1;text-align:left}
.tb_insert tbody th{padding:8px 0 8px 8px;border-bottom:1px solid #d1d1d1;background-color:#f8f8f8;text-align:left}
.tb_insert tbody td{padding:8px 0 8px 8px;border-bottom:1px solid #d1d1d1;text-align:left}
.tb_top{overflow:hidden;padding:15px 0 4px 0;height:25px}
.tb_top > .tb_title{float:left;padding:0;padding-top:4px;height:18px}
.tb_top > .search_form{float:right;margin-top:0;padding:0}
.tb_top > .search_form{}
.tab_wrap{padding-top:7px}
.tab_wrap2{padding-top:7px}
.not_break{line-height:21px;white-space:nowrap;font-size:15px;font-weight:700;color:#333;padding-left:8px}

#fileArea{display:block;margin-top:10px}
.survey_list{border-top:2px solid #727272;padding-bottom:50px}
.survey_dl dt{font-weight:700;padding:8px;border-bottom:1px solid #d1d1d1;background-color:#f8f8f8}
.survey_dl dd{padding:8px;padding-left:20px;border-bottom:1px solid #d1d1d1}
.survey_dl dd input[type=radio]{vertical-align:top;margin-top:3px;margin-right:4px}
.survey_dl dd li{margin-top:5px}
.survey_dl dd textarea{border:1px solid #d1d1d1;width:650px;height:100px;padding:4px}

.file_info{background-color:#f8f8f8;padding:10px;color:#000;font-weight:700}
.file_w{padding:10px}

.not_answer{padding:8px 0 ;text-align:center;border-top:1px dotted #afafaf;border-bottom:1px dotted #afafaf;margin-top:15px}
.not_answer span{background: url(/html/images/icon/not_answer.jpg) no-repeat 0 50%;padding-left:55px;display:inline-block;height:48px;line-height:48px}
.not_answer span em{font-weight:700}

.popup{position:relative;}
.popup .btn_closed{position:absolute;right:15px;top:15px}
.pop_tt{font-weight:700;height:20px;line-height:20px;padding-bottom:10px}
.pop_content{overflow:auto;border-top:2px solid #676767;padding:10px;height:231px}
.pop_content .book_img{float:left;width:180px;height:223px;margin-right:10px}
.pop_content .book_img img{width:180px}
.pop_content .book_info{float:left;width:300px;border:1px solid #d1d1d1;border-bottom:none}
.pop_content .book_info .textbox{border:1px solid #d1d1d1;height:92px;width:275px;padding:4px;overflow:auto}
.book_nm{font-weight:bold}

.pop_exam{width:100%;height:660px}
.pop_head{border-top:1px solid #e0e0e0;border-bottom:1px solid #e0e0e0;padding:13px 14px 12px;background: #f9fafc;background: linear-gradient(to bottom,  #f9fafc 0%,#edeef1 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9fafc', endColorstr='#edeef1',GradientType=0 );}
.pop_head .pop_title{background: url(/html/images/common/blt_exam.jpg) no-repeat 0 0;padding-left:28px;font-size:14px;font-weight:700;color:#000;line-height:18px}
.exam_container{padding:8px 0 0 8px;height:623px;overflow:auto}
.exam_container .exam_q{width:568px;float:left}
.exam_container .exam_info{width:250px;margin-left:8px;float:left}
.exam_container .exam_q .exam_no{background-color:#919191;font-size:12px;color:#fff;font-weight:bold;line-height:18px;padding:9px 14px}
.exam_ans_wrap{border:1px solid #d1d1d1}
.exam_ans_wrap .exam_caption{background-color:#f7f8fa;padding:15px 17px}
.exam_ans_wrap .exam_answer{padding:16px 20px}
.exam_btn{border-top:1px dotted #d0d0d0;padding:15px 0;text-align:center}
.exam_info .time{background-color:#ef4e16;color:#fff;height:36px;line-height:36px;text-align:center;font-size:14px;font-weight:700}
.exam_table th{background-color:#d9d9d9;border:1px solid #b2b2b2;height:34px}
.exam_table td{border:1px solid #cacaca;text-align:center;height:34px}
.exam_table td .a_ok{color:#003aff;font-weight:bold}
.exam_table td .a_not{color:#ff3a00;font-weight:bold}
.exam_answer .ans_list{margin-top:5px}
.exam_answer input{vertical-align:top;margin-top:3px}
.exam_foot{background: #fefefe;background: linear-gradient(to bottom,  #fefefe 0%,#e1e2e4 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#e1e2e4',GradientType=0 );border-top:1px solid #d1d1d1;padding:12px 12px 10px;overflow:hidden;}
.exam_foot p{float:left;height:24px;line-height:24px;font-weight:700;}
.exam_foot p em{color:#ef4e16}
.exam_foot .button{float:right}

.main_pop{border:2px solid #507bd7;background-color:#fff;padding-bottom:33px;padding-top:44px;position:relative;overflow:hidden}
.main_pop_tt{height:44px;background-color:#507bd7;color:#fff;font-size:16px;font-weight:bold;line-height:44px;text-indent:8px;position:absolute;left:0;top:0;width:100%}
.main_pop .btn_close{position:absolute;right:15px;top:15px}