@charset "utf-8";

@media all and (min-width:1024px) {
    #wrap { }
    #header { }
}

@media all and (min-width:768px) and (max-width:1023px) {
    #wrap { min-width: 768px; }
    #header { min-width: 768px; }
}

@media all and (max-width:767px) {
    #wrap { min-width: 100%; }
    #header { min-width: 100%; }
}