<!--@include(layout/header.html)-->
<body>
	<div id="wrap">
		<!--@execute(/inc/top_v5.jsp)-->
		<!--@execute(/main/banner_list.jsp?type=sub_webtv&single=Y&tpl=banner_sub_list)-->
		<div id="container" class="{{SITE_INFO.skin_param}}">
			<div class="main_wrap">
				<div class="left_area lnb03">
					<h3 class="hide">lnb영역</h3>
					<h3 class="lnb_title">인터넷방송</h3>
					<!--@execute(/inc/left_v5.jsp?pcode=webtv)-->
				</div>
				<!--@include(BODY)-->
			</div>
		</div>
		<!--@execute(/inc/footer.jsp)-->
	</div>
<script>
$(document).ready(function() {
	if("{{cid}}") {
		$("#LNB_WEBTV").removeClass("on");
		$("#LNB_WEBTV_{{cid}}").addClass("on");
	}
});
</script>
</body>
</html>
