<!--@include(layout/header.html)-->
<body>
	<div class="skip_nav">
		<a href="#gnb">메인메뉴로 이동</a>
		<a href="#container">본문으로 이동</a>
	</div>
	<div id="wrap_classroom">
		<div id="container">
			<div class="main_wrap_classroom">
				<div class="sub_top_classroom">
					<div class="classroom_lnb">
						<a href="#">강의실 메뉴</a>
					</div>
					<div class="classroom_out">
						<a class="out_pc" href="/mypage/index.jsp">나가기</a>
						<a class="out_mobile" href="/mobile/mypage.jsp">나가기</a>
					</div>
					<div class="top_title">
						<!--@nif(course.alltime_block)--><em class="em1">[{{course.year}}년 / {{course.step}}기] </em><!--/nif(course.alltime_block)-->
						<em class="em2" title="{{cuinfo.course_nm}}">{{cuinfo.course_nm}}</em>
					</div>
					<ul class="top_state">
						<li>학습기간</li>
						<li class="li1">{{cuinfo.start_date_conv}} - {{cuinfo.end_date_conv}}</li>
						<li class="li2">나의 진도율</li>	
						<li class="li3"><b>{{cuinfo.progress_ratio_conv}}</b>%</li>
					</ul>
				</div>
				<div class="sub_top_classroom sub_fixtop_classroom">
					<div class="classroom_lnb">
						<a href="#">강의실 메뉴</a>
					</div>
					<div class="classroom_out">
						<a class="out_pc" href="/mypage/index.jsp">나가기</a>
						<a class="out_mobile" href="/mobile/mypage.jsp">나가기</a>
					</div>
					<div class="top_title">
						<em class="em2">나의 강의실</em>
					</div>
				</div>
				<div class="left_area_classroom">
					<h3 class="hide">lnb영역</h3>
					<h3 class="lnb_title">강의실</h3>
					<ul class="lnb_list">
						<li class="li1" id="LNB_MAIN"><a href="/classroom/index.jsp?{{course_qs}}" title="강의목차">강의목차</a></li>
						<!--@if(course.evaluation_yn)--><!-- li class="li2" id="LNB_COURSE"><a href="/classroom/course_info.jsp?{{course_qs}}" title="과정정보">과정정보</a></li --><!--/if(course.evaluation_yn)-->
						<li class="li3" id="LNB_NOTICE"><a href="/classroom/cpost_list.jsp?{{course_qs}}&code=notice" title="공지사항 페이지로 이동">공지사항</a></li>
						<!--@if(course.exam_yn)--><li class="li4" id="LNB_EXAM"><a href="/classroom/exam.jsp?{{course_qs}}" title="시험방 페이지로 이동">시험방</a></li><!--/if(course.exam_yn)-->
						<!--@if(course.homework_yn)--><li class="li5" id="LNB_HOMEWORK"><a href="/classroom/homework.jsp?{{course_qs}}" title="과제방 페이지로 이동">과제방</a></li><!--/if(course.homework_yn)-->
						<!--@if(course.forum_yn)--><li class="li6" id="LNB_FORUM"><a href="/classroom/forum.jsp?{{course_qs}}" title="토론방 페이지로 이동">토론방</a></li><!--/if(course.forum_yn)-->
						<!--@if(course.survey_yn)--><li class="li7" id="LNB_SURVEY"><a href="/classroom/survey.jsp?{{course_qs}}" title="설문방 페이지로 이동">설문방</a></li><!--/if(course.survey_yn)-->
						<li class="li8" id="LNB_LIBRARY"><a href="/classroom/library.jsp?{{course_qs}}" title="강의자료 페이지로 이동">강의자료</a></li>
						<li class="li11" id="LNB_FREE"><a href="/classroom/cpost_list.jsp?{{course_qs}}&code=free" title="자유게시판 페이지로 이동">자유게시판</a></li>
						<li class="li9" id="LNB_QNA"><a href="/classroom/cpost_list.jsp?{{course_qs}}&code=qna" title="QNA 페이지로 이동">Q&A</a></li>
						<!--@if(course.review_yn)--><li class="li10" id="LNB_REVIEW"><a href="/classroom/cpost_list.jsp?{{course_qs}}&code=review" title="수강후기 페이지로 이동">수강후기</a></li><!--/if(course.review_yn)-->
					</ul>
					<div class="lnb_mask"></div>
					<!-- <div class="sp_center">
						<h3 class="top_title">학습지원센터</h3>
						<div class="mcs_text">
							<p class="mcs_tel">02-857-0000</p>
							<span>
								평일 : 09:00~18:00<br>
								토/일, 공휴일 휴무
							</span>
						</div>	
					</div> -->

				</div>
				<!--@include(BODY)-->
			</div>
		</div>
	</div>
	<iframe src="" name="sysfrm" id="sysfrm" width="100%" height="0" scrolling="no" frameborder="0"></iframe>
<script>
var _SKIN_VERSION = "5";
var _IS_RESP_WEB = true;
$(document).ready(function() {
	
	$('a.menu_off').click(function(e){
		$('html, body').css('overflow-y','hidden');
		$('html, body').css('height','100%');
		$('.menu_off').hide();
		$('.menu_on').show();
	});

	$('#mask').click(function () {
		$(this).hide();
		$('.allWrap').hide();
		$('html, body').css('overflow-y','auto');
		$('html, body').css('height','auto');
		$('.menu_on').hide();
		$('.menu_off').show();
	});
	$('a.menu_on').click(function () {
		$('#mask').hide();
		$('.allWrap').hide();
		$('html, body').css('overflow-y','auto');
		$('html, body').css('height','auto');
		$('.menu_on').hide();
		$('.menu_off').show();
	});

	$(".classroom_lnb a").click(function() {
		if("none" == $(".left_area_classroom").css("display")) {
			$('html, body').css('overflow-y','hidden');
			$('html, body').css('height','100%');
			$(".left_area_classroom").show();
			$(".main_wrap_classroom").addClass("gnb_fixed");
		} else {
			$('html, body').css('overflow-y','auto');
			$('html, body').css('height','auto');
			$(".left_area_classroom").hide();
			$(".main_wrap_classroom").removeClass("gnb_fixed");
		}
	});
	
	$(".sub_fixtop_classroom .top_title").click(function() {
		location.href = "/classroom/index.jsp?{{course_qs}}";
	});
	/*
	$(window).scroll(function() {
		if($(document).scrollTop() > 180) {
			$(".main_wrap_classroom").addClass("gnb_fixed");
		} else if("none" != $(".left_area_classroom").css("display")) {
			$(".main_wrap_classroom").removeClass("gnb_fixed");
		}
	});
	*/

});


$(window).resize(function() {
	if(window.innerWidth > 1200) $(".left_area_classroom").show();
	else $(".left_area_classroom").hide();

	if(document.getElementById("fileupload")) {
		var uploader_el = document.getElementById("fileupload");
        var uploader_frame = uploader_el.contentWindow || uploader_el.contentDocument;
		uploader_frame.ResizeIframe("fileupload");
	}
});
</script>
</body>
</html>
