<!--@include(layout/header.html)-->
<!--@nif(close_block)-->
<body>
	<div id="wrap">
		<!--@execute(/inc/top_v5.jsp)-->
		<!--@execute(/main/banner_list.jsp?type=sub_member&single=Y&tpl=banner_sub_list)-->
		<div id="container" class="{{SITE_INFO.skin_param}}">
			<div class="main_wrap">
				<!--@include(BODY)-->
			</div>
		</div>
		<!--@execute(/inc/footer.jsp)-->
	</div>
</body>
</html>
<!--/nif(close_block)-->
<!--@if(close_block)-->
<body id="wrap_login">
	<!--@include(BODY)-->
	<!--@if(IS_MOBILE)-->
	<button type="button" class="button white" style="width:100%; font-size:5em; padding:1em;" onclick="location.href = '/mobile/index.jsp';">모바일 버전으로 보기</button>
	<!--/if(IS_MOBILE)-->
	<iframe src="" name="sysfrm" id="sysfrm" width="100%" height="0" scrolling="no" frameborder="0"></iframe>
	<script>
	var _SKIN_VERSION = "5";
	var _IS_RESP_WEB = true;
	</script>
</body>
</html>
<!--/if(close_block)-->