		<!-- <div class="main_partner" id="main_partner">			
			<div class="main_inner">				
				<a href="javascript:;" class="arrow_left" id="mp-arrow-left"></a>
				<a href="javascript:;" class="arrow_right" id="mp-arrow-right"></a>
				<ul class="partners">
					<li><a href="https://www.moe.go.kr" target="_blank"><img src="https://pen-web.ecn.cdn.infralab.net/html/images/common/partners01.png"></a></li>
					<li><a href="https://www.gov.kr" target="_blank"><img src="https://pen-web.ecn.cdn.infralab.net/html/images/common/partners02.png"></a></li>
					<li><a href="https://www.kopo.ac.kr" target="_blank"><img src="" alt="한국폴리텍대학"></a></li>
					
					<li><a href="https://www.moe.go.kr" target="_blank"><img src="https://pen-web.ecn.cdn.infralab.net/html/images/common/partners01.png"></a></li>
					<li><a href="https://www.gov.kr" target="_blank"><img src="https://pen-web.ecn.cdn.infralab.net/html/images/common/partners02.png"></a></li>
					<li><a href="https://www.newkl.net" target="_blank"><img src="" alt="NEWKL"></a></li>
				</ul>
			</div>
		</div> -->
		
		<div id="footer">
            <div class="footer_wrap">
                <div class="footer-logo">
                    <img src="/html/images/demo/footer_logo_lms.png" alt="한국 폴리텍대학 로고">
                </div>
                <!--<div class="foot_menu">
                    <h2 class="hide">하단 메뉴</h2>
                    <ul class="foot_list">
                        <li><a href="#" title="소개 페이지로 이동" >한국폴리텍대학 소개</a></li>
                        <li><a href="#" title="이용약관 페이지로 이동" >이용약관</a></li>
                        <li><a href="#" title="개인정보취급방침 페이지로 이동" class="footer_privacy_policy">개인정보 처리방침</a></li>
                        <li><a href="#" title="찾아오시는길 페이지로 이동" >찾아오시는길</a></li>
                        <li><a href="/main/page.jsp?code=greeting" title="소개 페이지로 이동" >한국폴리텍대학 소개</a></li>
                        <li><a href="/main/page.jsp?code=clause" title="이용약관 페이지로 이동" >이용약관</a></li>
                        <li><a href="/main/page.jsp?code=privacy" title="개인정보취급방침 페이지로 이동" class="footer_privacy_policy">개인정보 처리방침</a></li>
                        <li><a href="/main/page.jsp?code=location" title="찾아오시는길 페이지로 이동" >찾아오시는길</a></li>
                    </ul>
                </div>-->
                <div class="foot_address">
                    <h2 class="foot_address_title"><a href="https://www.kopo.ac.kr/content.do?menu=1684" title="개인정보취급방침 페이지로 이동" class="footer_privacy_policy">개인정보 처리방침</a></h2>
                    <div class="foot_desc">
						{{SITE_INFO.copyright}}
					</div>
                </div>
                <div class="foot_cs">
                    <h2 class="foot_cs_title">LMS Service Center<br>24시간 운영</h2>
                    <p class="foot_cs_tel">070-8672-7646/7608</p>
                    <p class="foot_cs_dec">
                        평일 09:30 ~ 18:30 (휴무일 토, 일, 공휴일)<br>
                        업무 시간 외 이메일 또는 Q&A게시판에 문의 시<br>
                        익일 응대 가능합니다.
                    </p>
                    <div class="foot_cs_gray">
                        <p><a href="mailto:help@newkl.net">E-mail : help@newkl.net</a></p>
                        <p><a href="/board/index.jsp?code=qna">Q&A</a></p>
                    </div>
                </div>

                <div class="footer-familysite">
                    <div class="select_box">
                        <select title="캠퍼스 사이트 바로가기" onchange="fncCampusWeb(this.value)">
                            <option value="" selected="selected">Campus Site</option>
                            <option value="https://www.kopo.ac.kr/jungsu/index.do">서울정수캠퍼스</option>
                            <option value="https://www.kopo.ac.kr/kangseo">서울강서캠퍼스</option>
                            <option value="https://www.kopo.ac.kr/seongnam">성남캠퍼스</option>
                            <option value="https://www.kopo.ac.kr/jeju">제주캠퍼스</option>
                            <option value="https://www.kopo.ac.kr/incheon">인천캠퍼스</option>
                            <option value="https://www.kopo.ac.kr/namincheon">남인천캠퍼스</option>
                            <option value="https://www.kopo.ac.kr/hwaseong">화성캠퍼스</option>
                            <option value="https://www.kopo.ac.kr/chuncheon">춘천캠퍼스</option>
                            <option value="https://www.kopo.ac.kr/wonju">원주캠퍼스</option>
                            <option value="https://www.kopo.ac.kr/gangneung">강릉캠퍼스</option>
                            <option value="https://www.kopo.ac.kr/daejeon">대전캠퍼스</option>
                            <option value="https://www.kopo.ac.kr/cheongju">청주캠퍼스</option>
                            <option value="https://www.kopo.ac.kr/asan">아산캠퍼스</option>
                            <option value="https://www.kopo.ac.kr/hongseong">홍성캠퍼스</option>
                            <option value="https://www.kopo.ac.kr/chungju">충주캠퍼스</option>
                            <option value="https://www.kopo.ac.kr/gwangju">광주캠퍼스</option>
                            <option value="https://www.kopo.ac.kr/jb">전북캠퍼스</option>
                            <option value="https://www.kopo.ac.kr/jeonnam">전남캠퍼스</option>
                            <option value="https://www.kopo.ac.kr/iksan">익산캠퍼스</option>
                            <option value="https://www.kopo.ac.kr/suncheon">순천캠퍼스</option>
                            <option value="https://www.kopo.ac.kr/daegu">대구캠퍼스</option>
                            <option value="https://www.kopo.ac.kr/gumi">구미캠퍼스</option>
                            <option value="https://www.kopo.ac.kr/namdaegu">남대구캠퍼스</option>
                            <option value="https://www.kopo.ac.kr/pohang">포항캠퍼스</option>
                            <option value="https://www.kopo.ac.kr/yeongju">영주캠퍼스</option>
                            <option value="https://www.kopo.ac.kr/yct">영남융합기술캠퍼스</option>
                            <option value="https://www.kopo.ac.kr/changwon">창원캠퍼스</option>
                            <option value="https://www.kopo.ac.kr/busan">부산캠퍼스</option>
                            <option value="https://www.kopo.ac.kr/ulsan">울산캠퍼스</option>
                            <option value="https://www.kopo.ac.kr/dongbusan">동부산캠퍼스</option>
                            <option value="https://www.kopo.ac.kr/jinju">진주캠퍼스</option>
                            <option value="https://www.kopo.ac.kr/bio">바이오캠퍼스</option>
                            <option value="https://www.kopo.ac.kr/kapc">항공캠퍼스</option>
                            <option value="https://www.kopo.ac.kr/semi">반도체융합캠퍼스</option>
                            <option value="https://www.kopo.ac.kr/robot">로봇캠퍼스</option>
                        </select>
                    </div>
                </div>
            </div>

            

			
			<!--<div class="copy">
				<!--<div class="foot_info">
					<div class="footer-logo">
						<img src="/html/images/demo/footer_logo_lms.png" alt="한국 폴리텍대학 로고">
					</div>-->
					<!-- <div class="foot_logo">
						<img src="{{SITE_INFO.logo_url}}" alt="{{SITE_INFO.site_nm}}" onerror="" />
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 280 200">
							<filter id="contrast">
									<feColorMatrix type="matrix" values="0.75 0.75 0.75 0 0
																		0.75 0.75 0.75 0 0
																		0.75 0.75 0.75 0 0
																		0 0 0 1 0"></feColorMatrix>
								<feColorMatrix type="matrix" values="-1 0 0 0 1 
																	0 -1 0 0 1
																	0 0 -1 0 1
																	0 0 0 1 0"></feColorMatrix>
								<feComponentTransfer>
									<feFuncR type="linear" slope="0.95" intercept="0.025"/>
									<feFuncG type="linear" slope="0.95" intercept="0.025"/>
									<feFuncB type="linear" slope="0.95" intercept="0.025"/>
								</feComponentTransfer>
							</filter>
							<image xlink:href="{{SITE_INFO.logo_url}}" filter="url(#contrast)"></image>
						</svg>
					</div>
					<div class="foot_desc">
						{{SITE_INFO.copyright}}
					</div>
				</div>
			</div>-->
            <div class="top-btn">
                <img src="/html/images/demo/top-icon.png" alt="">
            </div>
		</div>
		<iframe src="" name="sysfrm" id="sysfrm" width="100%" height="0" scrolling="no" frameborder="0"></iframe>
<script>
    $(document).ready(function(){
        $(".top-btn").click(function(){
            $('html, body').animate({scrollTop : 0},800);
        });
    });
</script>

<script>
var _SKIN_VERSION = "5";
var _IS_RESP_WEB = true;
</script>

<!--<script>
    document.addEventListener("DOMContentLoaded", function() {
        var selectBox = document.querySelector(".select_box select");
        selectBox.addEventListener("change", function() {
            var selectedOption = this.options[this.selectedIndex];
            if (selectedOption.value !== "") {
                window.location.href = selectedOption.value;
            }
        });

        var options = document.querySelectorAll(".select_box select option");
        options.forEach(function(option) {
            option.addEventListener("click", function() {
                if (this.value !== "") {
                    window.location.href = this.value;
                }
            });
        });
    });
</script>-->

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var selectBox = document.querySelector(".select_box select");

        // 셀렉트 요소를 클릭했을 때 옵션을 보여줍니다.
        selectBox.addEventListener("click", function() {
            this.click();
        });

        // 옵션을 선택했을 때 페이지 이동을 수행합니다.
        selectBox.addEventListener("change", function() {
            var selectedOption = this.options[this.selectedIndex];
            if (selectedOption.value !== "") {
                window.location.href = selectedOption.value;
            }
        });
    });

</script>


