<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ko" lang="ko">
<head>
	<meta name="apple-mobile-web-app-capable" content="no">
	<meta name="mobile-web-app-capable" content="no">
	<meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
	<link rel="icon" type="image/png" href="../../favicon_newkl.png">
	<title>{{SYS_TITLE}}</title>
	<meta name="malgnsoft-lms-design" content="v5" />

  	{{script}}
	<link rel="stylesheet" type="text/css" href="/common/summernote/summernote-lite.min.css" />
	<link rel="stylesheet" type="text/css" href="/common/css/skin5.css" />

    <link rel="stylesheet" type="text/css" href="/html/css/custom.css?t=11{{CURR_DATE}}" />

	<script type="text/javascript" src="/common/js/jquery-1.12.3.min.js"></script>
	<script type="text/javascript" src="/common/js/slides.min.jquery.js"></script>
	<script type="text/javascript" src="/common/summernote/summernote-lite.min.js"></script>
	<script type="text/javascript" src="/common/summernote/lang/summernote-ko-KR.min.js"></script>
	<script type="text/javascript" src="/common/js/common.js"></script>
	<script type="text/javascript" src="/common/js/validate.js"></script>
	<script type="text/javascript" src="/common/js/style.js"></script>
	<script type="text/javascript" src="/html/js/links.js?q=11{{CURR_DATE}}"></script>
	<!--@if(login_block)--><script>checkSession({{SITE_INFO.session_hour}})</script><!--/if(login_block)-->

	<script src="https://cdn.jsdelivr.net/npm/swiper@11.0.5/swiper-bundle.min.js"></script>
	<link href="https://cdn.jsdelivr.net/npm/swiper@11.0.5/swiper-bundle.min.css" rel="stylesheet">
</head>