<!--@include(layout/header.html)-->
<body>
	<div id="wrap">
		<!--@execute(/inc/top_v5.jsp)-->
		<!-- @execute(/main/banner_list.jsp?type=sub_book&single=Y&tpl=banner_sub_list) -->
		<div id="container" class="">
			<div class="main_wrap">
				<div class="left_area lnb03">
					<h3 class="hide">lnb영역</h3>
					<h3 class="lnb_title" style="background-color:#014da5;">교재</h3>
					<!--@execute(/inc/left_v5.jsp?pcode=book)-->
				</div>
				<!--@include(BODY)-->
			</div>
		</div>
		<!--@execute(/inc/footer.jsp)-->
	</div>
  <style>
    #container.ct_top .left_area .lnb_list li#lnb_allbooks {display:none !important;}
  </style>
<script>
$(document).ready(function() {
	if("{{cid}}") {
		$("#lnb_book_category").removeClass("on");
		$("#lnb_book_category_{{cid}}").addClass("on");
	} else {
		$("#lnb_book_category").removeClass("on");
		$("li#lnb_allbooks").addClass("on");
	}
});
</script>
</body>
</html>
