<!--@include(layout/header.html)-->

<body>
	<div id="wrap">
		<!--@execute(/inc/top_v5.jsp)-->
		<!-- @execute(/main/banner_list.jsp?type=sub_board&single=Y&tpl=banner_sub_list) -->
		<div id="container" class="">
			<div class="main_wrap">
				<div class="left_area lnb01">
					<h3 class="hide">lnb영역</h3>
					<h3 class="lnb_title"><a href="/board/index.jsp">이용안내</a></h3>
					<ul id="lnb" class="lnb_list" data-code="board">
						<li><a href="/board/index.jsp?code=notice">공지사항</a></li>
						<li><a href="/board/index.jsp?code=faq">FAQ</a></li>
						<li><a href="/board/index.jsp?code=manual">매뉴얼</a></li>
						<li><a href="/board/index.jsp?code=qna">Q&A</a></li>
						<li><a href="/board/index.jsp?code=data">자료실</a></li>
					</ul>
				</div>
				<!--@include(BODY)-->
			</div>
		</div>
		<!--@execute(/inc/footer.jsp)-->
	</div>
</body>

</html>