<!--@include(layout/header.html)-->
<body>
	<div id="wrap">
		<!--@execute(/inc/top_v5.jsp)-->
		<!-- @execute(/main/banner_list.jsp?type=sub_tutor&single=Y&tpl=banner_sub_list) -->
		<div id="container" class="">
			<div class="main_wrap">
				<div class="left_area lnb03">
					<h3 class="hide">lnb영역</h3>
					<h3 class="lnb_title" style="background-color:#014da5;">선생님</h3>
					<ul class="lnb_list" data-code="{{code}}">
						<li id="LNB_TUTOR"><a href="/tutor/tutor_list.jsp" title="선생님소개 페이지로 이동">전체</a></li>
						<!--@execute(/tutor/tutor_menu_list.jsp)-->
					</ul>
				</div>
				<!--@include(BODY)-->
			</div>
		</div>
		<!--@execute(/inc/footer.jsp)-->
	</div>
<script>
$(document).ready(function() {
	if("{{cid}}") {
		$("#LNB_TUTOR").removeClass("on");
		$("#LNB_TUTOR_{{cid}}").addClass("on");
	}
});
</script>
</body>
</html>
