<!--@include(layout/header.html)-->
<body>
    <div id="wrap">
        <!--@execute(/inc/top_v5.jsp)-->
        <div id="container" class="">
            <div class="main_wrap">
                <div class="left_area lnb03">
                    <h3 class="hide">lnb영역</h3>
                    <h3 class="lnb_title c_title"><a href="/course/course_list.jsp?cid=146&ch=course146" target="_self">Classroom</a></h3>
                    <!--<h3 class="lnb_title c_title"><a href="/course/course_list.jsp?cid=146&ch=course146" target="_self">AX Action Contents Square</a></h3>-->
                    <!--<ul id="lnb" class="lnb_list" data-code="course">
                        <li id="lnb_M1"><a href="/course/course_list.jsp?cid=148&ch=course146" target="_self">Polytech Square</a></li>
                        <li id="lnb_M2"><a href="/course/course_list.jsp?cid=149&ch=course146" target="_self">Polytech Forum</a></li>
                        <li id="lnb_M3"><a href="/course/course_list.jsp?cid=150&ch=course146" target="_self">Polytech Classroom</a></li>
                        <li id="lnb_M4"><a href="/course/course_list.jsp?cid=151&ch=course146" target="_self">Virtual Class</a></li>-->
                        <!--<li id="lnb_M4"><a href="/board/index.jsp?code=ebook" target="_self">Polytech E-book</a></li>-->
                    <!--</ul>-->
    
                </div>
                <!--@include(BODY)-->
            </div>
        </div>
        <!--@execute(/inc/footer.jsp)-->
    </div>
    <script>
        $(document).ready(function() {
            if("{{subject}}") {
                $("#lnb > li").removeClass("on");
                $('#lnb_{{subject}}').addClass('on');
            } else {
                $("#lnb > li").removeClass("on");
                $('#lnb_').addClass('on');
            }
        });
    </script>
    </body>
    </html>