<!--@include(layout/header.html)-->
<body>
<div id="wrap">
    <!--@execute(/inc/top_v5.jsp)-->
    <div id="container" class="">
        <div class="main_wrap">
            <div class="left_area lnb03">
                <h3 class="hide">lnb영역</h3>
                <h3 class="lnb_title">수강신청</h3>
                <ul id="lnb" class="lnb_list" data-code="course">
                    <li id="lnb_" class="on"><a href="/course/course_list.jsp" target="_self">전체</a></li>
                    <li id="lnb_M1"><a href="/course/course_list.jsp?cid=140" target="_self">카테고리1</a></li>
                    <li id="lnb_M2"><a href="/course/course_list.jsp?cid=141" target="_self">카테고리2</a></li>
                    <li id="lnb_M3"><a href="/course/course_list.jsp?cid=142" target="_self">카테고리3</a></li>
                    <!--<li id="lnb_Pre"><a href="/course/course_list.jsp?cid=135" target="_self">Pre College</a></li>-->
                </ul>

            </div>
            <!--@include(BODY)-->
        </div>
    </div>
    <!--@execute(/inc/footer.jsp)-->
</div>
<script>
    $(document).ready(function() {
        if("{{subject}}") {
            $("#lnb > li").removeClass("on");
            $('#lnb_{{subject}}').addClass('on');
        } else {
            $("#lnb > li").removeClass("on");
            $('#lnb_').addClass('on');
        }
    });
</script>
</body>
</html>