<!--@include(layout/header.html)-->
<body>
	<div id="wrap">
		<!--@execute(/inc/top_v5.jsp)-->
		<!--@execute(/main/banner_list.jsp?type=sub_schedule&single=Y&tpl=banner_sub_list)-->
		<div id="container" class="{{SITE_INFO.skin_param}}">
			<div class="main_wrap">
				<div class="left_area lnb03">
					<h3 class="hide">lnb영역</h3>
					<h3 class="lnb_title">교육 일정표</h3>
					<ul class="lnb_list" data-code="{{code}}">
						<li id="LNB_SCHEDULE"><a href="/schedule/schedule.jsp" title="교육 일정표 페이지로 이동">교육 일정표</a></li>
					</ul>
				</div>
				<!--@include(BODY)-->
			</div>
		</div>
		<!--@execute(/inc/footer.jsp)-->
	</div>
</body>
</html>
