<!--@include(layout/header.html)-->
<body>
	<div id="wrap">
		<!--@execute(/inc/top_v5.jsp)-->
		<!-- @execute(/main/banner_list.jsp?type=sub_webtv&single=Y&tpl=banner_sub_list) -->
		<div id="container" class="">
			<div class="main_wrap">
				<div class="left_area lnb03">
					<h3 class="hide">lnb영역</h3>
					<h3 class="lnb_title" style="background-color:#014da5;">숏폼</h3>
					<!-- @execute(/inc/left_v5.jsp?pcode=webtv) -->
					<ul id="lnb" class="lnb_list" data-code="{{code}}">
						<li id="lnb_" class="on"><a href="/webtv/webtv_list.jsp?grade=H1" target="_self">전체</a></li>
						<li><a href="/webtv/webtv_list.jsp?grade=H1&amp;subject=K" target="_self">국어</a></li>
						<li><a href="/webtv/webtv_list.jsp?grade=H1&amp;subject=E" target="_self">영어</a></li>
						<li><a href="/webtv/webtv_list.jsp?grade=H1&amp;subject=M" target="_self">수학</a></li>
					</ul>
				</div>
				<!--@include(BODY)-->
			</div>
		</div>
		<!--@execute(/inc/footer.jsp)-->
	</div>
<script>
$(document).ready(function() {
	if("{{subject}}") {
		$("#lnb > li").removeClass("on");
		$('#lnb_{{subject}}').addClass('on');
	} else {
		$("#lnb > li").removeClass("on");
		$('#lnb_').addClass('on');
	}
});


</script>
</body>
</html>
