<!--#TPL-->
<!--@include(layout/header.html)-->
<body>
	<div id="wrap">
		<!--@execute(/inc/top_v5.jsp)-->
		<!--@execute(/main/banner_list.jsp?type=sub_course_ax&single=Y&tpl=banner_sub_list)-->
		<div id="container">
			<div class="main_wrap">
				<div class="left_area lnb01">
					<h3 class="hide">lnb영역</h3>
					<h3 class="lnb_title">VIRTUAL CLASS</h3>
                    <p style="padding-top: 25px;">서비스 준비중입니다.</p>
					<!--@execute(/inc/left.jsp_v5?pcode=course_ax)-->
				</div>
				<!--@include(BODY)-->
			</div>
		</div>
		<!--@execute(/inc/footer.jsp)-->
	</div>
</body>
</html>
