<!--#TPL-->
<!--@include(layout/header.html)-->
<body>
	<div id="wrap">
		<!--@execute(/inc/top_v5.jsp)-->
		<div class="sub_top sub_top4"<!--@execute(/main/banner_list.jsp?type=sub_broca&single=Y&tpl=banner_sub_list)-->>
			<h1>{{p_title}}<!-- {{banner_text}} --></h1>
			<span class="overlay-top-header"></span>
		</div>
		<div id="container" class="{{SITE_INFO.skin_param}}">
			<div class="main_wrap">
				<div class="left_area lnb01">
					<h3 class="hide">lnb영역</h3>
					<h3 class="lnb_title">broca</h3>
					<!--@execute(/inc/left_v5.jsp?pcode=broca)-->
				</div>
				<!--@include(BODY)-->
			</div>
		</div>
		<!--@execute(/inc/footer.jsp)-->
	</div>
</body>
</html>
