<!--@include(layout/header.html)-->
<body>
	<div id="wrap">
		<!--@execute(/inc/top_v5.jsp)-->
		<!--@execute(/main/banner_list.jsp?type=sub_intro&single=Y&tpl=banner_sub_list&page_title={{p_title}})-->
		<div id="container" class="">
			<div class="main_wrap">
				<div class="left_area lnb01">
					<h3 class="hide">lnb영역</h3>
					<h3 class="lnb_title">소개</h3>
					<!--@execute(/inc/left_v5.jsp?pcode=intro)-->
				</div>
				<!--@include(BODY)-->
			</div>
		</div>
		<!--@execute(/inc/footer.jsp)-->
	</div>
</body>
</html>
