<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="ko" xml:lang="ko">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no,maximum-scale=1.0,minimum-scale=1.0" >
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="format-detection" content="telephone=no" >

    <meta name="author" content="{{domain}}">
    <meta name="title"  content="{{SYS_TITLE}}<!--@if(p_title)--> :: {{p_title}}<!--/if(p_title)-->">

    <meta property="og:type"  content="website" data-dynamic="true">
    <meta property="og:title" content="{{SYS_TITLE}}<!--@if(p_title)--> :: {{p_title}}<!--/if(p_title)-->" data-dynamic="true">
    <!--@nif(subtitle)-->
    <meta property="og:url"   content="https://{{SYS_HTTPHOST}}" data-dynamic="true">
    <meta property="og:image" content="{{SITE_INFO.logo_url}}" data-dynamic="true">
    <meta property="og:image:width" content="250" data-dynamic="true">
    <meta property="og:image:height" content="50" data-dynamic="true">
    <!--/nif(subtitle)-->

    <!--@if(subtitle)-->
    <meta name="description" content="{{subtitle}}" >
    <meta property="og:description" content="{{etc1}}" data-dynamic="true">
    <meta property="og:url"   content="{{SYS_PAGE_URL}}" data-dynamic="true">
    <meta property="og:image" content="{{course_file_url}}" data-dynamic="true">
    <!--/if(subtitle)-->

    <title>{{SYS_TITLE}}</title>

    {{script}}

    <link rel="stylesheet" type="text/css" href="/common/theme/css/common.css?t={{CURR_DATE}}2" >
    <link rel="stylesheet" type="text/css" href="/common/theme/css/font_NanumSquare.css?t={{CURR_DATE}}" >
    <link rel="stylesheet" type="text/css" href="/common/theme/css/blue_theme.css?t={{CURR_DATE}}" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css" >

    <link rel="stylesheet" type="text/css" href="/html/css/custom.css?t={{CURR_DATE}}" > <!-- 커스텀 css -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
    <script src="https://unpkg.com/page-scroll-to-id@1.6.8/jquery.malihu.PageScroll2id.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.js"></script>

    <script type='text/javascript' src='/common/js/common.js?t={{CURR_DATE}}'></script>
    <script type='text/javascript' src='/common/js/validate.js?t={{CURR_DATE}}'></script>
</head>
<body>
<link rel="stylesheet" type="text/css" href="/common/theme/css/market.css">

<div class="webtvWrap process_view">
    <!--@include(BODY)-->
    <div class="recommend_cont">
        <a class="tab_button"></a>
        <div class="recommend">
            <h4 class="recom_tit">
                <ul class="tabMenu">
                    <li class="current pointColor" data-item-id="listArea">목차</li>
                    <!--@if(ai_block)--><li data-item-id="aiArea">AI채팅</li><!--/if(ai_block)-->
                    <!--@if(pdf_block)--><li data-item-id="pdfArea">교안</li><!--/if(pdf_block)-->
                </ul>
            </h4>

            <div id="pdfArea" class="tabItem" style="border-bottom: 1px solid #c3c3c3;">
                <!--@if(pdf_block)-->
                <div style="height:54px;background-color:#dfdfdf;">
                    <a href="{{pdf.url}}" target="_blank" style="width:calc(100% - 12px);height:42px;border:1px solid #bcbcbc;border-radius:5px;line-height:43px;display:inline-block;font-weight:400;letter-spacing:-0.5pt;text-align:center;margin:5px;color:#fff;background-color:var(--point-color);">PDF 새창으로 열기</a>
                </div>
                <iframe src="{{pdf.url}}" name="pdf" id="pdf" frameborder="0" scrolling="no" style="width:100%;height:calc(100% - 54px);"></iframe>
                <!--/if(pdf_block)-->
            </div>

            <div id="aiArea" class="tabItem" style="border-bottom: 1px solid #c3c3c3;">
                <!--@if(ai_block)-->
                <iframe src="../ai/index.jsp?module=lesson&module_id={{lesson_id}}" name="ai" id="ai" frameborder="0" scrolling="no" style="width:100%;height:100%;"></iframe>
                <!--/if(ai_block)-->
            </div>

            <div id="listArea" class="tabItem current">
                <!--@if(list)-->
                <div class="table">
                    <!--@if(no_section_block)-->
                    <dl class="no_title">
                        <dd>
                            <!--/if(no_section_block)-->

                            <!--@loop(list)-->
                            <!--@nif(list.upcoming_block)-->
                            <!--@if(list.section_block)-->
                            <!--@nif(list.__first)-->
                        </dd>
                    </dl>
                    <!--/nif(list.__first)-->
                    <dl>
                        <dt data-section="{{list.section_id}}">{{list.section_nm}}<i class="table_arrow"><img src="/common/theme/img/main/table_arrow.svg" class="Bg_svg svg" alt="강의섹션버튼이미지"></i></dt>
                        <dd>
                            <!--/if(list.section_block)-->
                            <div class="dep" status="{{list.lesson_status}}">
                                <span class="e_state"></span>
                                <a href="viewer.jsp?cuid={{cuid}}&lid={{list.lesson_id}}" target="_top">{{list.chapter}}. {{list.lesson_nm}}</a>
                                <div class="right_cont">
                                    <span class="date">
                                        <!--@if(list.online_block)-->{{list.study_min}}분/{{list.total_time}}분<!--/if(list.online_block)-->
                                        <!--@if(list.lesson_type:02)-->| {{list.study_page}}쪽/{{list.total_page}}쪽<!--/if(list.lesson_type:02)-->
                                        <!--@nif(list.online_block)-->-<!--/nif(list.online_block)-->
                                    </span>
                                </div>
                            </div>
                            <!--/nif(list.upcoming_block)-->
                            <!--/loop(list)-->
                    </dl>
                </div>
                <!--/if(list)-->
                <!--@if(no_list_block)-->
                <dl class="no_title">
                    <dd>
                        <p>등록된 강의 목차가 없습니다.</p>
                    </dd>
                </dl>
                <!--/if(no_list_block)-->
            </div>

        </div>
    </div>
</div>


<script>
    $(window).load(resizeChatArea);
    $(window).resize(resizeChatArea);

    function getContentHeight() {
        return parseInt($(window).height()) - parseInt($(".recom_tit").outerHeight());
    }

    function resizeChatArea() {
        const pdfArea = $("#pdfArea");
        const aiArea = $("#aiArea");
        const h = getContentHeight();
        pdfArea.css("height", h);
        pdfArea.css("padding-top", 0);
        aiArea.css("height", h);
        aiArea.css("padding-top", 0);
    }

    $(function() {
        $('.tabMenu li').click(function() {
            const item = $(this).attr('data-item-id');

            $('ul.tabMenu li').removeAttr('class');
            $('.tabItem').removeClass('current');

            $(this).addClass('current pointColor');
            $('#' + item).addClass('current');

            if(item === "aiArea") {
                const ifrm = document.getElementById("ai");
                const ifrmContext = ifrm.contentDocument;
                const inputBox = $("input[name=query_text]", ifrmContext);
                inputBox.focus();
            }
        });

        $('.tab_button, .tab_close').on("click", function(){
            $('.screen').toggleClass('close');
            $('.webtvWrap').toggleClass('close');
        });

        $('.table dt').on('click', function() {
            if ($(this).hasClass('on')) {
                slideUp();
            } else {
                slideUp();
                $(this).addClass('on').next().slideDown();
            }

            function slideUp() {
                $('.table dt').removeClass('on').next().slideUp();
            }
        });

        setLessonLabel();

        <!--@if(section_id)-->
        $('.table dt[data-section={{section_id}}]').trigger("click");
        <!--/if(section_id)-->
    });
    function setLessonLabel() {
        let lessons = document.getElementsByClassName('dep')
        for(let i = 0; i < lessons.length; i++) {
            let el = lessons[i]
            let status = $(el).attr('status')

            if("C" === status) {
                $(el).find('span.e_state').addClass("blue")
            } else if("N" === status) {
                $(el).find('span.e_state').addClass("ing")
            } else if("I" === status) {
                $(el).find('span.e_state').addClass("green")
            } else if("W" === status) {
                $(el).find('span.e_state').addClass("red")
            }
        }
    }

    $(document).ready(function() {
        var width = $("body").innerWidth();
        if(600 >= width) {
            $(".webtvWrap").addClass("close");
        }
        <!--@if(is_lesson)-->
        startTimer();
        <!--/if(is_lesson)-->
    });
</script>

</body>
</html>