<script type="text/javascript" src="/html/js/slick.min.js"></script>
<script type="text/javascript" src="/html/js/m_slick.js"></script>
<script language="JavaScript" type="text/JavaScript">
$(document).ready(function(){		
	for(var i=1; i<=100; i++) {
		if($("#main_course" + i + " .horizontal_list li").length > 1) {
			initSlick($("#main_course" + i + " .horizontal_list"), i, i);
		}else {
			$("#mc" + i + "-arrow-left").css("display","none")
			$("#mc" + i + "-arrow-right").css("display","none")
		}
	}
	if($("#main_course_ban .banner li").length > 2) {
		initSlick1($("#main_course_ban .banner"), i, i);
	}else {
		$("#mcb-arrow-left").css("display","none")
		$("#mcb-arrow-right").css("display","none")
	}

	if($("#main_tutor .banner li").length > 2) {
		initSlick2($("#main_tutor .banner"), i, i);
	}else {
		$("#mt-arrow-left").css("display","none")
		$("#mt-arrow-right").css("display","none")
	}

	if($("#main_partner .partners li").length > 5) {
		initSlick3($("#main_partner .partners"), i, i);
	}else {
		$("#mp-arrow-left").css("display","none")
		$("#mp-arrow-right").css("display","none")
	}

	if($("#main_book .horizontal_book_list li").length > 5) {
		initSlick4($("#main_book .horizontal_book_list"), i, i);
	}else {
		$("#mb-arrow-left").css("display","none")
		$("#mb-arrow-right").css("display","none")
	}
});

$(function() {
	$(".menu_wrap #gnb > li").mouseenter(function(){
		$(this).contents('.lnb_list').finish().finish().stop().slideDown(300);
	});
	$(".menu_wrap #gnb > li").mouseleave(function(){
		$(this).contents('.lnb_list').finish().finish().slideUp(100);
	});
	$(".menu_wrap .lnb_list").mouseenter(function(){
		$(this).finish().stop().css("display","block");
	});
	$(".hamburger").click(function() {
		$('.all_list').finish().slideToggle();
		// $(this).toggleClass("is-active");
	});
});
</script>
<style>
  .menu_wrap #gnb li#gnb_allbooks {display:none !important;}
  .menu_wrap #gnb li#gnb_course a {color:#0061a7;}
  .menu_wrap #gnb > li#gnb_course:hover > ul.depth2 li a {color:#999;}
  .menu_wrap #gnb > li#gnb_course:hover > ul.depth2 li a:hover {color:#000;}
</style>
		<div id="header_custom">
			<div class="main_gnb">
                <ul class="util-left-top">
                    <li><a href="#none">폴리텍대학</a></li>
                    <li><a href="#none">학생정보시스템</a></li>
                    <li><a href="#none">AX Classroom</a></li>
                    <li><a href="#none">전자책도서관</a></li>
                    <li><a href="#none">Pre College</a></li>
                    <li><a href="#none">STEP</a></li>
                </ul>
				<ul class="util_top">
					<!--@nif(login_block)-->
					<li><a href="/member/login.jsp" class="top_login" title="로그인페이지로 이동" >로그인</a></li>
					<!--<li><a href="/member/agreement.jsp" class="top_join"  title="회원가입 페이지로 이동" >회원가입</a></li>-->
					<!--/nif(login_block)-->
					<!--@if(login_block)-->
					<!-- <li class="af_log"><strong>{{SYS_USERNAME}}</strong></li> -->
					<li class="af_log"><a href="/mypage/index.jsp" target="_self" class="mypage"><strong>{{SYS_USERNAME}}</strong></a></li>
					<li><a href="/member/logout.jsp" class="top_login" title="로그아웃하고 메인으로 이동" >로그아웃</a></li>
					<!-- <li class="b2b_h"><a href="/mypage/modify.jsp" class="top_join" title="회원정보수정 페이지로 이동" >회원정보수정</a></li> -->
					<!--/if(login_block)-->
					<!-- <li class="search showMask"><a href="javascript://">메뉴</a></li> -->
					<!-- li class="top_close"><a href="#" class="util_close_btn"><span class="hide">닫기</span></a></li -->
				</ul>
				<!-- <ul class="main_tab" style="height: 40px;">
					<li><a href="javascript://" class="main_gnb01 on">main_tab1</a></li>
					<li><a href="javascript://" class="main_gnb02">main_tab2</a></li>
				</ul> -->
				<div class="main_menu_wrap">
					<ul class="main_menu mm01">
						<!--<li><a href="javascript://" target="_self" title="소개 페이지로 이동" >소개</a></li>-->
						<li><a href="/course/course_list.jsp" target="_self">자율강좌</a></li>
						<li><a href="javascript://" target="_self">AX Classroom</a></li>
                        <li><a href="#none">전자책 도서관</a></li>
                        <li><a href="#none">Pre College</a></li>
                        <li><a href="#none">STEP</a></li>
						<li><a href="/board/index.jsp?code=notice" target="_self">이용안내</a></li>
						<!-- <li><a href="/mypage/index.jsp" target="_self">나의 강의실</a></li> -->
					</ul>
                    <ul class="icon-menu">
                        <li>
                            <a href="">
                                <img src="/html/images/demo/search-icon.png" alt="검색">
                            </a>
                        </li>
                        <li>
                            <a href="/mypage/index.jsp" target="_self">
                                <img src="/html/images/demo/myclass-icon.png" alt="마이페이지"></a>
                        </li>
                    </ul>
				</div>
			</div>

			<div class="inner">
				<a href="#" class="util_toggle_btn">
					<span class="line"></span>
					<span class="line"></span>
					<span class="line"></span>
				</a>

				<h1 class="logo_left">
					<!--<a href="/main/index.jsp" title="메인페이지로 이동"><img src="https://www.kopo.ac.kr/intro/2022/img2/logo.png" alt="{{SITE_INFO.site_nm}}" /></a>-->
                    <a href="/main/index.jsp" title="메인페이지로 이동"><img src="/html/images/demo/logo_lms.png" alt="한국 폴리텍대학 학습관리시스템 로고" /></a>
                    <!--<a href="/mypage/index.jsp" title="마이페이지로 이동"><img src="/html/images/demo/logo_lms.png" alt="한국 폴리텍대학 학습관리시스템 로고" /></a>-->
				</h1>
				
				<!-- <a href="/mypage/index.jsp" target="_self" class="mypage">마이페이지</a> -->
				
				<!-- <div class="menu_wrap">
					<h2 class="hide">메인 메뉴</h2>
					{{gnb_menu}}
				</div> -->

			</div>
			
			<div class="util_wrap">
				<div class="util_menu">
					<!-- <div class="top_search">
						<form name="form_search" action="../main/search.jsp" method="get" onsubmit="return goSearch(this);">
							<span class="search_input"><input type="text" name="s_keyword" class="search_txt" placeholder="사이트검색"></span><button type="submit" class="search_btn"></button>
						</form>
						<script>
							function goSearch(f) {
								if(f['s_keyword'].value == "") {
									alert("검색어를 입력해주세요.");
									return false;
								}
								return true;
							}
						</script>
					</div> -->
					
					<ul id="gnb_mobile" class="gnb_mobile" style="clear:both">
						<li id="gnb_mobile_mypage" data-code="mypage" class="">
							<a href="javascript://" target="_self" title="나의 강의실 페이지로 이동">나의 강의실</a>
							<ul id="lnb_mobile_mypage" class="lnb_list" data-code="mypage" style="display: none;">
								<li id="gnb_myindex"><a href="/mypage/index.jsp" target="_self">마이페이지</a></li>
								<li id="gnb_mycourse"><a href="/mypage/course_list.jsp" target="_self">수강현황</a></li>
								<li id="gnb_certificate"><a href="/mypage/certificate_list.jsp" target="_self">이수증 발급</a></li>
								<li id="gnb_profile"><a href="/mypage/modify.jsp" target="_self">회원정보수정</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			<div class="util_modal"></div>
		</div>
<script>
	function showSemester() {
		let value = $('select[name=s_year]').val();
		if (value) {
			// $('select[name=step]').show();
			// $('select[name=step] option:eq(0)').prop("selected", true);
		} else {
			$('select[name=step] option:eq(0)').prop("selected", true);
		}
	}

	function submitForm() {
		let value = $('select[name=step]').val();
		if (value) {
			// 화면 이동
		} else {
			// 변경 사항 없음
		}
	}
</script>