<script type="text/javascript" src="https://pen-web.ecn.cdn.infralab.net/html/js/slick.min.js"></script>
<script type="text/javascript" src="https://pen-web.ecn.cdn.infralab.net/html/js/m_slick.js"></script>
<script language="JavaScript" type="text/JavaScript">
$(document).ready(function(){		
	for(var i=1; i<=100; i++) {
		if($("#main_course" + i + " .horizontal_list li").length > 1) {
			initSlick($("#main_course" + i + " .horizontal_list"), i, i);
		}else {
			$("#mc" + i + "-arrow-left").css("display","none")
			$("#mc" + i + "-arrow-right").css("display","none")
		}
	}
	if($("#main_course_ban .banner li").length > 2) {
		initSlick1($("#main_course_ban .banner"), i, i);
	}else {
		$("#mcb-arrow-left").css("display","none")
		$("#mcb-arrow-right").css("display","none")
	}

	if($("#main_tutor .banner li").length > 2) {
		initSlick2($("#main_tutor .banner"), i, i);
	}else {
		$("#mt-arrow-left").css("display","none")
		$("#mt-arrow-right").css("display","none")
	}

	if($("#main_partner .partners li").length > 5) {
		initSlick3($("#main_partner .partners"), i, i);
	}else {
		$("#mp-arrow-left").css("display","none")
		$("#mp-arrow-right").css("display","none")
	}

	if($("#main_book .horizontal_book_list li").length > 5) {
		initSlick4($("#main_book .horizontal_book_list"), i, i);
	}else {
		$("#mb-arrow-left").css("display","none")
		$("#mb-arrow-right").css("display","none")
	}
});

$(function() {
	$(".menu_wrap #gnb > li").mouseenter(function(){
		$(this).contents('.lnb_list').finish().finish().stop().slideDown(300);
	});
	$(".menu_wrap #gnb > li").mouseleave(function(){
		$(this).contents('.lnb_list').finish().finish().slideUp(100);
	});
	$(".menu_wrap .lnb_list").mouseenter(function(){
		$(this).finish().stop().css("display","block");
	});
	$(".hamburger").click(function() {
		$('.all_list').finish().slideToggle();
		$(this).toggleClass("is-active");
	});
});
</script>
<style>
  .menu_wrap #gnb li#gnb_allbooks {display:none !important;}
  .menu_wrap #gnb li#gnb_course a {color:#0061a7;}
  .menu_wrap #gnb > li#gnb_course:hover > ul.depth2 li a {color:#999;}
  .menu_wrap #gnb > li#gnb_course:hover > ul.depth2 li a:hover {color:#000;}
</style>
		<div id="header">
			<div class="util_wrap">
				<h2 class="hide">유틸 메뉴</h2>
				<div class="util_logo_wrap">
					<ul class="util_logo">
						<!-- <li><a href="https://www.pen.go.kr" target="_blank">부산광역시 교육청</a></li> -->
						<li class="on"><a href="https://b-ingang.pen.go.kr/">부산형 인터넷 강의</a></li>
					</ul>
				</div>
				<div class="util_menu">
					
					<ul class="util_top">
						<!--@nif(login_block)-->
						<li><a href="/member/login.jsp" class="top_login" title="로그인페이지로 이동" >로그인</a></li>
						<li><a href="/member/agreement.jsp" class="top_join"  title="회원가입 페이지로 이동" >회원가입</a></li>
						<!--/nif(login_block)-->
						<!--@if(login_block)-->
						<li class="af_log"><span style="font-size: small">최근 로그인 시간 : {{recent_login_time}}</span>   <strong>{{SYS_USERNAME}}</strong>님</li>
						<li><a href="/member/logout.jsp" class="top_login" title="로그아웃하고 메인으로 이동" >로그아웃</a></li>
						<li class="b2b_h"><a href="/mypage/modify.jsp" class="top_join" title="회원정보수정 페이지로 이동" >회원정보수정</a></li>
						<!--/if(login_block)-->
						<li class="top_close"><a href="#" class="util_close_btn"><span class="hide">닫기</span></a></li>
					</ul>
					<div class="top_search">
						<form name="form_search" action="../main/search.jsp" method="get" onsubmit="return goSearch(this);">
							<span class="search_input"><input type="text" name="s_keyword" class="search_txt" placeholder="사이트검색"></span><button type="submit" class="search_btn"></button>
						</form>
						<script>
							function goSearch(f) {
								if(f['s_keyword'].value == "") {
									alert("검색어를 입력해주세요.");
									return false;
								}
								return true;
							}
						</script>
					</div>
					
					<ul id="gnb_mobile" class="gnb_mobile" style="clear:both">
						<!--@loop(top_menu)-->
						<li id="gnb_mobile_{{top_menu.code}}" data-code="{{top_menu.code}}"><a href="#{{top_menu.link}}" target="{{top_menu.target}}" title="{{top_menu.menu_nm}} 페이지로 이동">{{top_menu.menu_nm}}</a></li>
						<!--/loop(top_menu)-->
					</ul>
				</div>
			</div>
			<div class="util_modal"></div>
			<div class="inner">
				<a href="#" class="util_toggle_btn">
					<span class="line"></span>
					<span class="line"></span>
					<span class="line"></span>
				</a>
              
              	<h1 class="logo_left">
					<a href="/main/index.jsp" title="메인페이지로 이동"><img src="https://pen-web.ecn.cdn.infralab.net/html/images/common/logo_left_new.png" alt="{{SITE_INFO.site_nm}}" /></a>
				</h1>
				<h1 class="logo">
					<!--@nif(SYS_B2BBLOCK)-->
					<a href="/main/index.jsp" title="메인페이지로 이동">
						<img src="{{SITE_INFO.logo_url}}" alt="{{SITE_INFO.site_nm}}" onerror="" /> 
					</a>
					<!--/nif(SYS_B2BBLOCK)-->
					<!--@if(SYS_B2BBLOCK)-->
					<a href="/mypage/index.jsp" title="메인페이지로 이동">
						<img src="{{SYS_B2BFILE}}" alt="{{SYS_B2BNAME}}" onerror="" /> 
					</a>
					<!--/if(SYS_B2BBLOCK)-->
				</h1>
				
				<div class="menu_wrap">
					<h2 class="hide">메인 메뉴</h2>
					{{gnb_menu}}
				</div>

				<div class="hamburger">
					<span class="line"></span>
					<span class="line"></span>
					<span class="line"></span>
				</div>
			</div>
		</div>

		<div class="all_list">
			<div class="a_inner">
				<h2 class="hide">메인 메뉴</h2>
				{{gnb_menu}}				
			</div>
		</div>
