<script type="text/javascript" src="/html/js/slick.min.js"></script>
<script type="text/javascript" src="/html/js/m_slick.js"></script>
<script language="JavaScript" type="text/JavaScript">
$(document).ready(function(){
	for(var i=1; i<=100; i++) {
		if($("#main_course" + i + " .horizontal_list li").length > 1) {
			initSlick($("#main_course" + i + " .horizontal_list"), i, i);
		}else {
			$("#mc" + i + "-arrow-left").css("display","none")
			$("#mc" + i + "-arrow-right").css("display","none")
		}
	}
	if($("#main_course_ban .banner li").length > 2) {
		initSlick1($("#main_course_ban .banner"), i, i);
	}else {
		$("#mcb-arrow-left").css("display","none")
		$("#mcb-arrow-right").css("display","none")
	}

	if($("#main_tutor .banner li").length > 2) {
		initSlick2($("#main_tutor .banner"), i, i);
	}else {
		$("#mt-arrow-left").css("display","none")
		$("#mt-arrow-right").css("display","none")
	}

	if($("#main_partner .partners li").length > 5) {
		initSlick3($("#main_partner .partners"), i, i);
	}else {
		$("#mp-arrow-left").css("display","none")
		$("#mp-arrow-right").css("display","none")
	}

	if($("#main_book .horizontal_book_list li").length > 5) {
		initSlick4($("#main_book .horizontal_book_list"), i, i);
	}else {
		$("#mb-arrow-left").css("display","none")
		$("#mb-arrow-right").css("display","none")
	}
});

$(function() {
	$(".menu_wrap #gnb > li").mouseenter(function(){
		$(this).contents('.lnb_list').finish().finish().stop().slideDown(300);
	});
	$(".menu_wrap #gnb > li").mouseleave(function(){
		$(this).contents('.lnb_list').finish().finish().slideUp(100);
	});
	$(".menu_wrap .lnb_list").mouseenter(function(){
		$(this).finish().stop().css("display","block");
	});
	$(".hamburger").click(function() {
		$('.all_list').finish().slideToggle();
		// $(this).toggleClass("is-active");
	});
});
</script>
<style>
  .menu_wrap #gnb li#gnb_allbooks {display:none !important;}
  .menu_wrap #gnb li#gnb_course a {color:#0061a7;}
  .menu_wrap #gnb > li#gnb_course:hover > ul.depth2 li a {color:#999;}
  .menu_wrap #gnb > li#gnb_course:hover > ul.depth2 li a:hover {color:#000;}
  
  /* LMS 로고 숨기기 - 메인 페이지 제외 */
  .icon-menu li:first-child {
    display: none !important;
  }
  body.main .icon-menu li:first-child {
    display: block !important;
  }
</style>
		<div id="header" class="header-newkl">
			<div class="main_gnb">
                <!--<ul class="util-left-top">
                    <li><a href="https://www.kopo.ac.kr">폴리텍대학</a></li>
                    <li><a href="https://p.kopo.ac.kr">학생정보시스템</a></li>
                    <li><a href="#none">AX Classroom</a></li>
                    <li><a href="https://kopo.yes24library.com" target="_blank">전자책도서관</a></li>
                    <li><a href="#none">Pre College</a></li>
                    <li><a href="#none">STEP</a></li>
                </ul>-->

				<!-- <ul class="main_tab" style="height: 40px;">
					<li><a href="javascript://" class="main_gnb01 on">main_tab1</a></li>
					<li><a href="javascript://" class="main_gnb02">main_tab2</a></li>
				</ul> -->

			</div>
			<div class="inner">
				<a href="#" class="util_toggle_btn">
					<!--<span class="line"></span>
					<span class="line"></span>
					<span class="line"></span>-->
                    <img src="/html/images/demo/ham-btn.png" alt="메뉴">
                    <div class="util_wrap">
                        <span class="line"></span>
                        <span class="line"></span>

                        <ul class="util_toggle_btn-menu">
                            <li class="li-sub-menu"><a href="#none" target="_self">나의 강의실
                                <span class="line"></span>
                                <span class="line1"></span>
                            </a>
                                <ul class="util_toggle_btn-menu-in">
                                    <li><a href="/mypage/index.jsp" target="_self">나의 강의실</a></li>
                                    <li><a href="/mypage/modify.jsp">개인정보수정</a></li>
                                    <li><a href="/mypage/course_list.jsp" target="_self">수강현황</a></li>
                                    <li><a href="/mypage/certificate_list.jsp" target="_self">증명서발급</a></li>
                                </ul>
                            </li>
                            {{course_mobile_menu_before_html}}
                            <li><a href="https://xrclass.co.kr/" target="_blank">VIRTUAL CLASS</a></li>
                            {{course_mobile_menu_after_html}}
                            <!--<li><a href="/main/page.jsp?code=virtualclass" target="_self">VIRTUAL CLASS</a></li>-->
                            <!--<li class="li-sub-menu"><a href="#none" target="_self">CLASSROOM
                                <span class="line"></span>
                                <span class="line1"></span>
                            </a>
                                <ul class="util_toggle_btn-menu-in">
                                    <li><a href="/course/course_list.jsp?cid=146" target="_self">전체</a></li>
                                    <li><a href="/course/course_list.jsp?cid=147" target="_self">Polytech Square</a></li>
                                    <li><a href="/course/course_list.jsp?cid=148" target="_self">Polytech Forum</a></li>
                                    <li><a href="/course/course_list.jsp?cid=149" target="_self">Polytech Classroom</a></li>
                                </ul>
                            </li>-->
                            <!--<li><a href="#none" target="_self">AX Classroom</a></li>-->
                            <li class="li-sub-menu"><a href="#none" target="_self">전자도서관
                                <span class="line"></span>
                                <span class="line1"></span>
                            </a>
                            <ul class="util_toggle_btn-menu-in">
                                <li><a href="https://kopo.dkyobobook.co.kr/frontapi/mmbrLnkg.ink" target="_self">교보문고 전자책</a></li>
                                <li><a href="https://kopo.yes24library.com" target="_self">YES24 전자책</a></li>
                            </ul>
                            </li>
                            <li class="li-sub-menu"><a href="#none" target="_self">STEP
                                <span class="line"></span>
                                <span class="line1"></span>
                            </a>
                                <ul class="util_toggle_btn-menu-in">
                                    <li>
                                        <h3>Ⅰ대학</h3>
                                        <ul>
                                            <li><a href="https://kopo-jungsu.step.or.kr/" target="_blank" title="서울정수">서울정수</a></li>
                                            <li><a href="https://kopo-kangseo.step.or.kr/" target="_blank" title="서울강서">서울강서</a></li>
                                            <li><a href="https://kopo-seongnam.step.or.kr/" target="_blank" title="성남">성남</a></li>
                                            <li><a href="https://kopo-ctc.step.or.kr/" target="_blank" title="분당융합">분당융합</a></li>
                                            <li><a href="https://kopo-jeju.step.or.kr/" target="_blank" title="제주">제주</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <h3>Ⅱ대학</h3>
                                        <ul>

                                            <li><a href="https://kopo-incheon.step.or.kr/" target="_blank" title="인천">인천</a></li>
                                            <li><a href="https://kopo-namincheon.step.or.kr/" target="_blank" title="남인천">남인천</a></li>
                                            <li><a href="https://kopo-hwaseong.step.or.kr/" target="_blank" title="화성">화성</a></li>
                                            <li><a href="https://kopo-gm.step.or.kr/" target="_blank" title="광명융합">광명융합</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <h3>Ⅲ대학</h3>
                                        <ul>
                                            <li><a href="https://kopo-chuncheon.step.or.kr/" target="_blank" title="춘천">춘천</a></li>
                                            <li><a href="https://kopo-wonju.step.or.kr/" target="_blank" title="원주">원주</a></li>
                                            <li><a href="https://kopo-gangneung.step.or.kr/" target="_blank" title="강릉">강릉</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <h3>Ⅳ대학</h3>
                                        <ul>
                                            <li><a href="https://kopo-daejeon.step.or.kr/" target="_blank" title="대전">대전</a></li>
                                            <li><a href="https://kopo-cheongju.step.or.kr/" target="_blank" title="청주">청주</a></li>
                                            <li><a href="https://kopo-asan.step.or.kr/" target="_blank" title="아산">아산</a></li>
                                            <li><a href="https://kopo-chungnam.step.or.kr/" target="_blank" title="충남">충남</a></li>
                                            <li><a href="https://kopo-chungju.step.or.kr/" target="_blank" title="충주">충주</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <h3>Ⅴ대학</h3>
                                        <ul>
                                            <li><a href="https://kopo-gwangju.step.or.kr/" target="_blank" title="광주">광주</a></li>
                                            <li><a href="https://kopo-jb.step.or.kr/" target="_blank" title="전북">전북</a></li>
                                            <li><a href="https://kopo-jeonnam.step.or.kr/" target="_blank" title="전남">전남</a></li>
                                            <li><a href="https://kopo-iksan.step.or.kr/" target="_blank" title="익산">익산</a></li>
                                            <li><a href="https://kopo-suncheon.step.or.kr/" target="_blank" title="순천">순천</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <h3>Ⅵ대학</h3>
                                        <ul>
                                            <li><a href="https://kopo-daegu.step.or.kr/" target="_blank" title="대구">대구</a></li>
                                            <li><a href="https://kopo-gumi.step.or.kr/" target="_blank" title="구미">구미</a></li>
                                            <li><a href="https://kopo-namdaegu.step.or.kr/" target="_blank" title="남대구">남대구</a></li>
                                            <li><a href="https://kopo-pohang.step.or.kr/" target="_blank" title="포항">포항</a></li>
                                            <li><a href="https://kopo-yeongju.step.or.kr/" target="_blank" title="영주">영주</a></li>
                                            <li><a href="https://kopo-yct.step.or.kr/" target="_blank" title="영남융합기술">영남융합기술</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <h3>Ⅶ대학</h3>
                                        <ul>
                                            <li><a href="https://kopo-changwon.step.or.kr/" target="_blank" title="창원">창원</a></li>
                                            <li><a href="https://kopo-busan.step.or.kr/" target="_blank" title="부산">부산</a></li>
                                            <li><a href="https://kopo-ulsan.step.or.kr/" target="_blank" title="울산">울산</a></li>
                                            <li><a href="https://kopo-dongbusan.step.or.kr/" target="_blank" title="동부산">동부산</a></li>
                                            <li><a href="https://kopo-jinju.step.or.kr/" target="_blank" title="진주">진주</a></li>
                                            <li><a href="https://kopo-pptc.step.or.kr/" target="_blank" title="석유화학공정">석유화학공정</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <h3>특성화</h3>
                                        <ul>
                                            <li><a href="https://kopo-semi.step.or.kr/" target="_blank" title="반도체융합">반도체융합</a></li>
                                            <li><a href="https://kopo-bio.step.or.kr/" target="_blank" title="바이오">바이오</a></li>
                                            <li><a href="https://kopo-robot.step.or.kr/" target="_blank" title="로봇">로봇</a></li>
                                            <li><a href="https://kopo-kapc.step.or.kr/" target="_blank" title="항공">항공</a></li>
                                            <li><a href="https://kopo-int.step.or.kr/" target="_blank" title="신기술교육원">신기술교육원</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="li-sub-menu"><a href="#none" target="_self">이용안내
                                <span class="line"></span>
                                <span class="line1"></span>
                            </a>
                                <ul class="util_toggle_btn-menu-in">
                                    <li><a href="/board/index.jsp?code=notice" target="_self">공지사항</a></li>
                                    <li><a href="/board/index.jsp?code=faq" target="_self">FAQ</a></li>
                                    <li><a href="/board/index.jsp?code=qna" target="_self">Q&A</a></li>
                                    <li><a href="/board/index.jsp?code=manual" target="_self">매뉴얼</a></li>
                                    <li><a href="/board/index.jsp?code=data" target="_self">자료실</a></li>                             
                                </ul>
                            </li>
                        </ul>
                    </div>
				</a>
                <ul class="util_top">
					<!--@nif(login_block)-->
					<li><a href="/member/login.jsp" class="top_login" title="로그인페이지로 이동" >로그인</a></li>
					<!--/nif(login_block)-->
					<!--@if(login_block)-->
					<!-- <li class="af_log"><strong>{{SYS_USERNAME}}</strong></li> -->
					<li class="af_log"><a href="/mypage/index.jsp" target="_self" class="mypage"><strong>{{SYS_USERNAME}}</strong></a></li>
					<li><a href="/member/logout.jsp" class="top_login" title="로그아웃하고 메인으로 이동" >로그아웃</a></li>
					<!-- <li class="b2b_h"><a href="/mypage/modify.jsp" class="top_join" title="회원정보수정 페이지로 이동" >회원정보수정</a></li> -->
					<!--/if(login_block)-->
					<!-- <li class="search showMask"><a href="javascript://">메뉴</a></li> -->
					<!-- li class="top_close"><a href="#" class="util_close_btn"><span class="hide">닫기</span></a></li -->
				</ul>

				<h1 class="logo_left">
					<!--<a href="/main/index.jsp" title="메인페이지로 이동"><img src="https://www.kopo.ac.kr/intro/2022/img2/logo.png" alt="{{SITE_INFO.site_nm}}" /></a>-->
                    <a href="/main/index.jsp" title="메인페이지로 이동"><img src="/html/images/demo/logo_plism.png" alt="폴리텍대학 직업교육 LMS 로고" /></a>
                    <!--<a href="/mypage/index.jsp" title="마이페이지로 이동"><img src="/html/images/demo/logo_lms.png" alt="한국 폴리텍대학 학습관리시스템 로고" /></a>-->
				</h1>

				<div class="main_menu_wrap">
					<ul class="main_menu mm01">
                        <!--@if(login_block)--><li class="my-classroom-menu"><a href="/mypage/index.jsp" target="_self">나의 강의실</a></li><!--/if(login_block)-->
                        {{course_main_menu_before_html}}
                        <li><a href="https://xrclass.co.kr/" target="_blank">VIRTUAL CLASS</a></li>
                        {{course_main_menu_after_html}}
                        <!--<li><a href="/main/page.jsp?code=virtualclass" target="_self">VIRTUAL CLASS</a></li>-->
						<!--<li><a href="#none" target="_self">AX Classroom</a></li>-->
                        <li><a href="#none">전자도서관</a>
                            <div id="sub_menu">
                                <div class="sub_menu_wrap_lib">
                                    <ul>
                                        <li>
                                            <ul>
                                                <li><a href="https://kopo.dkyobobook.co.kr/frontapi/mmbrLnkg.ink" target="_self" title="교보문고 전자책">교보문고 전자책</a></li>
                                                <li><a href="https://kopo.yes24library.com" target="_self" title="YES24 전자책">YES24 전자책</a></li>
                                                <li><a href="http://kopo.arasoft.net/" target="_self" title="멀티미디어 디지털 교재">멀티미디어 디지털 교재</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <!-- STEP 서브메뉴-->
                        <li><a href="#none">STEP</a>
                            <div id="sub_menu">
                                <div class="sub_menu_wrap">
                                    <ul>
                                        <li>
                                            <h3>Ⅰ대학</h3>
                                            <ul>
                                                <li><a href="https://kopo-jungsu.step.or.kr/" target="_blank" title="서울정수">서울정수</a></li>
                                                <li><a href="https://kopo-kangseo.step.or.kr/" target="_blank" title="서울강서">서울강서</a></li>
                                                <li><a href="https://kopo-seongnam.step.or.kr/" target="_blank" title="성남">성남</a></li>
                                                <li><a href="https://kopo-ctc.step.or.kr/" target="_blank" title="분당융합">분당융합</a></li>
                                                <li><a href="https://kopo-jeju.step.or.kr/" target="_blank" title="제주">제주</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <h3>Ⅱ대학</h3>
                                            <ul>
    
                                                <li><a href="https://kopo-incheon.step.or.kr/" target="_blank" title="인천">인천</a></li>
                                                <li><a href="https://kopo-namincheon.step.or.kr/" target="_blank" title="남인천">남인천</a></li>
                                                <li><a href="https://kopo-hwaseong.step.or.kr/" target="_blank" title="화성">화성</a></li>
                                                <li><a href="https://kopo-gm.step.or.kr/" target="_blank" title="광명융합">광명융합</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <h3>Ⅲ대학</h3>
                                            <ul>
                                                <li><a href="https://kopo-chuncheon.step.or.kr/" target="_blank" title="춘천">춘천</a></li>
                                                <li><a href="https://kopo-wonju.step.or.kr/" target="_blank" title="원주">원주</a></li>
                                                <li><a href="https://kopo-gangneung.step.or.kr/" target="_blank" title="강릉">강릉</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <h3>Ⅳ대학</h3>
                                            <ul>
                                                <li><a href="https://kopo-daejeon.step.or.kr/" target="_blank" title="대전">대전</a></li>
                                                <li><a href="https://kopo-cheongju.step.or.kr/" target="_blank" title="청주">청주</a></li>
                                                <li><a href="https://kopo-asan.step.or.kr/" target="_blank" title="아산">아산</a></li>
                                                <li><a href="https://kopo-chungnam.step.or.kr/" target="_blank" title="충남">충남</a></li>
                                                <li><a href="https://kopo-chungju.step.or.kr/" target="_blank" title="충주">충주</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <h3>Ⅴ대학</h3>
                                            <ul>
                                                <li><a href="https://kopo-gwangju.step.or.kr/" target="_blank" title="광주">광주</a></li>
                                                <li><a href="https://kopo-jb.step.or.kr/" target="_blank" title="전북">전북</a></li>
                                                <li><a href="https://kopo-jeonnam.step.or.kr/" target="_blank" title="전남">전남</a></li>
                                                <li><a href="https://kopo-iksan.step.or.kr/" target="_blank" title="익산">익산</a></li>
                                                <li><a href="https://kopo-suncheon.step.or.kr/" target="_blank" title="순천">순천</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <h3>Ⅵ대학</h3>
                                            <ul>
                                                <li><a href="https://kopo-daegu.step.or.kr/" target="_blank" title="대구">대구</a></li>
                                                <li><a href="https://kopo-gumi.step.or.kr/" target="_blank" title="구미">구미</a></li>
                                                <li><a href="https://kopo-namdaegu.step.or.kr/" target="_blank" title="남대구">남대구</a></li>
                                                <li><a href="https://kopo-pohang.step.or.kr/" target="_blank" title="포항">포항</a></li>
                                                <li><a href="https://kopo-yeongju.step.or.kr/" target="_blank" title="영주">영주</a></li>
                                                <li><a href="https://kopo-yct.step.or.kr/" target="_blank" title="영남융합기술">영남융합기술</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <h3>Ⅶ대학</h3>
                                            <ul>
                                                <li><a href="https://kopo-changwon.step.or.kr/" target="_blank" title="창원">창원</a></li>
                                                <li><a href="https://kopo-busan.step.or.kr/" target="_blank" title="부산">부산</a></li>
                                                <li><a href="https://kopo-ulsan.step.or.kr/" target="_blank" title="울산">울산</a></li>
                                                <li><a href="https://kopo-dongbusan.step.or.kr/" target="_blank" title="동부산">동부산</a></li>
                                                <li><a href="https://kopo-jinju.step.or.kr/" target="_blank" title="진주">진주</a></li>
                                                <li><a href="https://kopo-pptc.step.or.kr/" target="_blank" title="석유화학공정">석유화학공정</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <h3>특성화</h3>
                                            <ul>
                                                <li><a href="https://kopo-semi.step.or.kr/" target="_blank" title="반도체융합">반도체융합</a></li>
                                                <li><a href="https://kopo-bio.step.or.kr/" target="_blank" title="바이오">바이오</a></li>
                                                <li><a href="https://kopo-robot.step.or.kr/" target="_blank" title="로봇">로봇</a></li>
                                                <li><a href="https://kopo-kapc.step.or.kr/" target="_blank" title="항공">항공</a></li>
                                                <li><a href="https://kopo-int.step.or.kr/" target="_blank" title="신기술교육원">신기술교육원</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
						<li><a href="/board/index.jsp?code=notice" target="_self">이용안내</a></li>
						<li><a href="/mypage/new_main.jsp" target="_self" style="color: #667eea;">🚀 새 학생메인</a></li>
					</ul>
                    <ul class="icon-menu">
                        <li class="search showMask">
                            <a href="" class="search-btn">
                                <img src="/html/images/demo/search-icon.png" alt="검색">
                            </a>
                        </li>
                    </ul>
				</div>

                <div class="searchWrap">
                    <a class="search_close"><img src="/html/images/demo/close_banner_g.png" alt="닫기" ></a>
                    <form name="form_search" method="get" action="/main/search.jsp" onsubmit="return goSearch();">
                    <div class="search_in">
                        <dl>
                            <dt>검색어</dt>
                            <dd><input type="text" class="input_search" title="검색어" placeholder="검색어를 입력해주세요"  name="s_keyword" maxlength="100"></dd>
                        </dl>
                    </div>

                    <button type="submit" class="bgColor">검색</button>
                    </form>
                </div>

                <div class="mask"></div>
                <div class="mask_pro"></div>

                <script type="text/javascript">
                function goSearch() {
                    if(
                          GetFormValue("form_search", "onoff_type") === ""
                       && GetFormValue("form_search", "category_id") === ""
                       && GetFormValue("form_search", "tag_id") === ""
                       && GetFormValue("form_search", "s_keyword") === "")
                    {
                        alert("검색 조건이 없습니다.");
                        return false;
                    }

                    return true;

                }

                function searchMask(){
                    $('.searchWrap').addClass('visible');
                }

                function showMask(){
                    $('.mask').addClass('visible');
                }

                function hiddenMask(){
                    $('.mask').removeClass('visible');
                }

                $(document).ready(function(){
                    // showMask를 클릭시 작동하며 검은 마스크 배경과 레이어 팝업을 띄웁니다.
                    $('.showMask').click(function(e){
                        e.preventDefault();
                        searchMask();
                        showMask();
                    });

                    // 닫기(search_close)를 눌렀을 때 작동합니다.
                    $('.searchWrap .search_close').click(function (e) {
                        e.preventDefault();
                        hiddenMask();
                        $('.searchWrap').removeClass('visible');
                    });

                    // 닫기(search_close)를 눌렀을 때 작동합니다.
                    $('.mask_popup').click(function (e) {
                        e.preventDefault();
                        $('.mask_popup').addClass('none');
                    });

                    // 뒤 검은 마스크를 클릭시에도 모두 제거하도록 처리합니다.
                    $('.mask').click(function () {
                        hiddenMask()
                        $('.searchWrap').removeClass('visible');
                        $('.review_pop').removeClass('visible');
                    });
                });
                </script>


				<!-- <a href="/mypage/index.jsp" target="_self" class="mypage">마이페이지</a> -->

				<!-- <div class="menu_wrap">
					<h2 class="hide">메인 메뉴</h2>
					{{gnb_menu}}
				</div> -->

			</div>

			<div class="util_modal"></div>

            <!--<div class="top_search">
                <form name="form_search" action="../main/search.jsp" method="get" onsubmit="return goSearch(this);">
                    <span class="search_input"><input type="text" name="s_keyword" class="search_txt" placeholder="사이트검색"></span><button type="submit" class="search_btn"></button>
                </form>
                <script>
                    function goSearch(f) {
                        if(f['s_keyword'].value == "") {
                            alert("검색어를 입력해주세요.");
                            return false;
                        }
                        return true;
                    }
                </script>
            </div>-->
		</div>

<script>
    $(document).ready(function(){
        $('.li-sub-menu').click(function(){
            $(this).toggleClass('active');
            $(this).find('.util_toggle_btn-menu-in').slideToggle();
        });
    });
</script>

<script>
	function showSemester() {
		let value = $('select[name=s_year]').val();
		if (value) {
			// $('select[name=step]').show();
			// $('select[name=step] option:eq(0)').prop("selected", true);
		} else {
			$('select[name=step] option:eq(0)').prop("selected", true);
		}
	}

	function submitForm() {
		let value = $('select[name=step]').val();
		if (value) {
			// 화면 이동
		} else {
			// 변경 사항 없음
		}
	}
</script>

<!-- 250318 추가 : 전자도서관 hover시 각 페이지에 맞게 아래 밑줄이 가운데에 표시됨-->
<script>
$(document).ready(function(){
    // 현재 URL이 메인 페이지인지 확인
    var currentPath = window.location.pathname;
    
    // 로그인 상태 확인 (로그인 버튼이 없으면 로그인된 상태)
    var isLoggedIn = $('.top_login').length === 0;
    
    // 메인 페이지 여부 확인 (마이페이지 제외)
    var isMainPage = (currentPath === '/' || (currentPath.includes('index.jsp') && !currentPath.includes('board') && !currentPath.includes('mypage')) || currentPath.includes('main'));
    
    if(isMainPage) {
        // 메인 페이지일 때
        $('body').addClass('main');
        $('.sub_menu_wrap_lib').css('transform', 'translateX(545px)');
        // 메인 페이지일 때만 LMS 로고 추가
        $('.icon-menu').prepend('<li><img src="/html/images/demo/logo_lms.png" alt="LMS 로고"></li>');
        
        // 로그인 상태일 때 LMS 로고 숨기기
        if(isLoggedIn) {
            $('.icon-menu li:first-child').hide();
        }
    } else {
        // 서브 페이지일 때 (board/index.jsp, mypage/index.jsp 포함)
        $('.sub_menu_wrap_lib').css('transform', 'translateX(487px)');
        // 서브 페이지일 때 LMS 로고 추가
        $('.icon-menu').prepend('<li><img src="/html/images/demo/logo_lms.png" alt="LMS 로고"></li>');
    }
});
</script>
